<p><%= t('.hello', name: @user.first_name) %>,</p>

<p>
<%= l @event.created_at %>:
<br>
<%= render partial: "shared/event_message", locals: {event: @event} %>
<br>
<%= polymorphic_url(@event.object) %>
</p>

<% extended = t("event.extended_message.#{@event.type}", default: '') %>
<%= content_tag :p, extended if extended %>

<br>
<p><%= t('.your_wimi_portal') %><br><%= root_url %></p>
