<%# hiwi actions %>
<%# current_time_sheet assumes there is only a single contract %>
<% if current_user.current_contracts.count == 1 %>
  <%= can_link( t('.goto_current_time_sheet'), :current, TimeSheet, class: 'btn btn-warning btn-block') %>
<% end %>

<%# wimi actions %>
<%= create_button Project , class: "btn-block"%>
<%= create_button Holiday , class: "btn-block"%>
<%= create_button Trip , class: "btn-block"%>

<%# Chair representative actions %>
<% if can? :index, Holiday %>
<%# TODO: add proper ability checks %>
  <p>
    <%= link_to t('.show_holiday_requests'), requests_path(current_user.chair.id, holidays: true, applied: true, accepted: true, declined: true), method: :post %>
  </p>
  <p>
    <%= link_to t('.show_expense_requests'), requests_path(current_user.chair.id, expenses: true, applied: true, accepted: true, declined: true), method: :post %>
  </p>
  <p>
    <%= link_to t('.show_trip_requests'), requests_path(current_user.chair.id, trips: true, applied: true, accepted: true, declined: true), method: :post %>
  </p>
<% end %>