<div class="col-md-12 col-sm-12" id="missing_timesheets">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t 'dashboard.index.missing_timesheets' %></h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <% if @missing_timesheets.each do |dates,contract| %>
              <% dates.each do |date| %>
                <div class="col-md-4">
                  <%= l date, format: :short_month_year %>
                </div>
                <div class="col-md-4">
                  <%= t('activerecord.models.contract.one').capitalize %>: <%= linked_name contract %>
                </div>
                <div class="col-md-4">
                  <%= t 'activerecord.attributes.contract.hiwi' %>: <%= linked_name contract.hiwi %>
                </div>
              <% end %>
            <% end.empty? %>
              <%= t 'no_entries_yet', target: t('activerecord.models.time_sheet.other') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>