<div class="col-md-12 col-sm-12" id="missing_timesheets">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <%= t 'dashboard.index.missing_timesheets' %>
            <a href="#" class="btn btn-xs btn-info pull-right" data-function="toggle" data-target="oldts" data-toggletext="<%= t('.hide_old_entries')%>"><%= t('.show_old_entries')%></a>
          </h4>
          
        </div>
        <div class="panel-body panel-scroll">
          <% if @missing_timesheets.empty? %>
            <%= t 'no_entries_yet', target: t('activerecord.models.time_sheet.other') %>
          <% else %>
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th><%= TimeSheet.human_attribute_name(:month).capitalize %></th>
                  <th><%= t('activerecord.models.contract.one').capitalize %></th>
                  <th><%= Contract.human_attribute_name(:responsible).capitalize %></th>
                </tr>
              </thead>
              <tbody>
                <% @missing_timesheets.each do |dates,contract| %>
                  <% dates.each do |date| %>
                    <tr <%= if date < Date.today.at_beginning_of_month << 1
                              'class=oldts style=display:none;'
                            end%>
                      >
                      <td><%= l date, format: :short_month_year %></td>
                      <td><%= linked_name contract %></td>
                      <td><%= linked_name contract.responsible %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>