<div class="col-md-12 col-sm-12" id="missing_timesheets">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t 'dashboard.index.missing_timesheets' %></h4>
        </div>
        <div class="panel-body">
          <% if @missing_timesheets.empty? %>
            <%= t 'no_entries_yet', target: t('activerecord.models.time_sheet.other') %>
          <% else %>
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th><%= TimeSheet.human_attribute_name(:month).capitalize %></th>
                  <th><%= t('activerecord.models.contract.one').capitalize %></th>
                  <th><%= Contract.human_attribute_name(:responsible).capitalize %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @missing_timesheets.each do |dates,contract| %>
                  <% dates.each do |date| %>
                    <tr>
                      <td><%= l date, format: :short_month_year %></td>
                      <td><%= linked_name contract %></td>
                      <td><%= linked_name contract.responsible %></td>
                      <td><%= link_to "x", dismiss_contract_path(id: contract.id, month: date), class: "btn btn-xs btn-danger" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>