<%- model_class = Project -%>
<!-- header -->
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1> <%= t('.dashboard_title') %></h1>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>
          <%= t 'home.index.welcome' %> <%= t 'home.index.user_html', user: (link_to current_user.name, user_path(current_user)) %>
        </p>
        <% project_count, contract_count = current_user.projects.count, current_user.contracts.count %>
        <p>
          <%= t 'home.index.member_status_html',
            project_count: project_count,
            project: t('activerecord.models.project', count: project_count),
            contract_count: contract_count,
            contract: t('activerecord.models.contract', count: contract_count) %>
        </p>
        <% if project_count == 0 or contract_count == 0 %>
          <p><%= t 'home.index.new_member' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Soon-ending contracts -->
<% unless current_user.is_hiwi? %>
  <div class="col-md-12 col-sm-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t '.ending_contracts' %></h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <% if @ending_contracts.each do |contract| %>
              <div class="col-md-6">
                <%= linked_name contract %>
              </div>
              <div class="col-md-6">
                <%= t 'activerecord.attributes.contract.responsible' %>: <%= linked_name contract.responsible %>
              </div>
            <% end.empty? %>
              <%= t 'no_entries_yet', target: t('activerecord.models.contract.other') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Notifications -->
<% unless @notifications.empty? %>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%=t('.notifications')%></h4>
      </div>
      <div class="panel-body">
        <% @notifications.each do |event| %>
          <%= render partial: event %>
          <%= link_to t('helpers.submit.hide'), hide_event_path(id: event, request: current_user), method: :post, class: 'label label-warning' %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- Activities -->
<% unless current_user.is_user? and @activities.empty? %>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%=t('.activities')%></h4>
      </div>
      <div class="panel-body">
        <% unless @activities.empty? %>
          <% @activities.each do |event| %>
            <%= render partial: event %>
            <%= link_to t('helpers.submit.hide'), hide_event_path(id: event, request: current_user), method: :post, class: 'label label-warning' %>
            <br>
          <% end %>
        <% else %>
          <%= t('.activities_empty') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :sidebar do %>
  <% action_content = render partial: 'actions' %>
  <% if action_content.present? %>
    <!--Actions-->
    <div class="col-md-12 col-sm-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%=t('.actions')%></h4>
          </div>
          <div class="panel-body">
            <%= action_content %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# My Projects %>
  <% unless current_user.projects.blank? %>
    <%= render partial: 'projects' %>
  <% end %>

  <%# My Contracts %>
  <%# could use "Contract.accessible_by(current_ability)", but  %>
  <% unless current_user.contracts.blank? %>
    <%= render partial: 'contracts' %>
  <% end %>
<% end %>
