<%- model_class = Project -%>
<div class="page-header">

  <h1> <%= t('.dashboard_title')%></h1>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%=t('.notifications')%></h4> <!--TODO Translate-->
    </div>
    <div class="panel-body">
      <% @notifications.each do |event| %>
        <%= render partial: event %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%=t('.projects')%></h4> <!--TODO Translate-->
    </div>
    <div class="panel-body">
      <% current_user.projects.each do |project|%>
        <p>
          <%= link_to project.title, project %>
        </p>
      <%end%>
    </div>
  </div>
</div>

<div class="col-md-4 col-md-offset-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%=t('.actions')%></h4> <!--TODO Translate-->
    </div>
    <div class="panel-body">
      <% if current_user.is_wimi? %>
        <%= render partial: 'wimi_actions' %>
      <% else %>
        <%= render partial: 'hiwi_actions' %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.is_representative? %>
    <br/>
    <div>
      <h3> Requests </h3>
      <%= link_to 'Manage requests', requests_path(current_user.chair_wimi.chair_id) %>
    </div>
<% end %>
