<%- model_class = Project -%>
<div class="page-header">
  <h1> <%= t('.dashboard_title') %></h1>
</div>

<div class="dashboard-content">
  <!-- Left column -->
  <div class="col-md-8" style="margin: 15px 0px">
    <!-- Project invitations -->
    <% unless @invitations.nil? %>
        <% @invitations.each do |invitation| %>
            <div class="col-md-12 flash-message">
              <div class="alert alert-warning col-md-12">
                <%= t("user.invited_to_project",
                      default: "You have been invited to the project \"#{Project.find(invitation.project_id).title}\"") %>
                <br>
                <br>
                <%= link_to t("links.accept", default: "Accept"), accept_invitation_project_path(invitation.project_id), class: "btn btn-primary" %>
                <%= link_to t("links.decline", default: "Decline"), decline_invitation_project_path(invitation.project_id), class: "btn btn-default" %>
              </div>
            </div>
        <% end %>
    <% end %>

    <!-- Notifications -->
    <% unless @notifications.empty? %>
        <div class="col-md-12 notification-block">
          <h3><%= t('.notifications') %></h3>
          <p style="margin: 10px">
            <% @notifications.each do |event| %>
                <%= render event %>
            <% end %>
          </p>
        </div>
    <% end %>

    <% if !(current_user.is_wimi? || current_user.is_hiwi? || current_user.is_superadmin?) %>
      <div class="col-md-12 dashboard-block">
        <h3> <%= I18n.t('activerecord.models.chair.other') %> </h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% Chair.all.each do |chair| %>
              <tr>
                <td><%= chair.name %></td>
                <td>
                  <% if current_user.chair_wimi == nil %>
                      <%= link_to I18n.t('activerecord.attributes.chair.apply'), chairs_apply_path(:chair => chair), :method => :post, :class => 'btn btn-default btn-xs' %>
                  <% else %>
                      <% if current_user.chair_wimi.chair == chair %>
                        <span class="label label-warning"><%= I18n.t('activerecord.attributes.chair.application.status.pending') %></span>
                      <% end %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if current_user.is_superadmin? %>
      <div class="col-md-12 dashboard-block">
        <h3> <%= I18n.t('activerecord.models.chair.other') %> </h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.chair.id', default: model_class.human_attribute_name(:id)) %></th>
            <th><%= t('activerecord.attributes.chair.name', default: model_class.human_attribute_name(:name)) %></th>
            <th><%= t('activerecord.attributes.chair.created_at', default: model_class.human_attribute_name(:created_at)) %></th>
          </tr>
          </thead>
          <tbody>
          <% Chair.all.each do |chair| %>
              <tr>
                <td><%= chair.id %></td>
                <td><%= chair.name %></td>
                <td><%=l chair.created_at %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to I18n.t('chair.add_chair'), new_chair_path, class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

  <!-- Right column -->
  <div class="col-md-4" style="margin: 15px 0px">
    <!-- Projects -->
    <div class="col-md-12 dashboard-block">
      <h3> <%= t('.projects') %> </h3>
      <% current_user.projects.each do |project| %>
          <p><%= link_to project.title, project %></p>
      <% end %>
      <% if can? :create, Project %>
        <p style="margin-top:10px">
          <%= link_to t('.new', default: t("helpers.links.new")), new_project_path, class: 'btn btn-primary' %>
        </p>
      <% end %>
    </div>

    <!-- WiMi actions -->

    <!-- Chair representative actions -->
    <% if current_user.is_representative? %>
        <div class="col-md-12 dashboard-block">
          <h3> <%= t('.representative_actions') %> </h3>
          <p>
            <%= link_to t('.show_holiday_requests'), requests_path(current_user.chair.id, holidays: true, applied: true, accepted: true, declined: true), method: :post %>
          </p>
          <p>
            <%= link_to t('.show_expense_requests'), requests_path(current_user.chair.id, expenses: true, applied: true, accepted: true, declined: true), method: :post %>
          </p>
          <p>
            <%= link_to t('.show_trip_requests'), requests_path(current_user.chair.id, trips: true, applied: true, accepted: true, declined: true), method: :post %>
          </p>
        </div>
    <% end %>
  </div>
</div>
