<%- model_class = Project -%>
<!-- header -->
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1> <%= t('.dashboard_title') %></h1>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>
          <%= t 'home.index.welcome' %> <%= t 'home.index.user_html', user: (link_to current_user.name, user_path(current_user)) %>
        </p>
        <% project_count, contract_count = current_user.projects.count, current_user.contracts.count %>
        <p>
          <%= t 'home.index.member_status_html',
            project_count: project_count,
            project: t('activerecord.models.project', count: project_count),
            contract_count: contract_count,
            contract: t('activerecord.models.contract', count: contract_count) %>
        </p>
        <% if project_count == 0 or contract_count == 0 %>
          <p><%= t 'home.index.new_member' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Soon-ending contracts -->
<% unless current_user.is_hiwi? %>
  <div class="col-md-12 col-sm-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t '.ending_contracts' %></h4>
        </div>
        <div class="panel-body panel-scroll">
          <% if @ending_contracts.empty? %>
            <%= t 'no_entries_yet', target: t('activerecord.models.contract.other') %>
          <% else %>
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th><%= Contract.human_attribute_name(:end_date) %></th>
                  <th><%= Contract.human_attribute_name(:hiwi) %></th>
                  <th><%= Contract.human_attribute_name(:responsible) %></th>
                </tr>
              </thead>
              <tbody>
                <% @ending_contracts.each do |contract| %>
                  <tr>
                    <td><%= l contract.end_date, format: :short_month_year %></td>
                    <td><%= linked_name contract.hiwi %></td>
                    <td><%= linked_name contract.responsible %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Missing Timesheets -->
<% if current_user.is_representative? or current_user.is_admin? %>
  <%= render partial: 'missing_timesheets' %>
<% end %>

<!-- Notifications -->
<% if @events.any? %>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t '.notifications' %></h4>
      </div>
      <div class="panel-body panel-scroll">
        <table class="table table-condensed table-hover">
          <% @events.each do |e| %>
            <tr>
              <td><%= l e.created_at.to_date, format: :short_year %></td>
              <td><%= I18n.t("event.#{e.type}",
                        user: linked_name(e.user),
                        # The I18n interpolation key cannot be the reserved name 'object'
                        obj: linked_name(e.object),
                        target_user: linked_name(e.target_user)).html_safe %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :sidebar do %>
  <% action_content = render partial: 'actions' %>
  <% if action_content.present? %>
    <!--Actions-->
    <div class="col-md-12 col-sm-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%=t('.actions')%></h4>
          </div>
          <div class="panel-body">
            <%= action_content %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# My Projects %>
  <% unless current_user.projects.blank? %>
    <%= render partial: 'projects' %>
  <% end %>

  <%# My Contracts %>
  <%# could use "Contract.accessible_by(current_ability)", but  %>
  <% unless current_user.contracts.blank? %>
    <%= render partial: 'contracts' %>
  <% end %>
<% end %>
