<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <%= f.fields_for :trip_datespans do |d| %>
	<li>
  		<%= d.label :start_date %>
		<%= d.date_select :start_date,order: [:day,:month,:year] %>
  		<%= d.label :end_date %>
		<%= d.date_select :end_date, order: [:day,:month,:year]%>
  		<%= d.label :days_abroad %>
		<%= d.number_field :days_abroad %>
	</li>
  <% end %>

  <div class="field">
    <%= f.label :annotation %><br>
    <%= f.text_area :annotation %>
  </div>
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.check_box :signature %>
  </div>

  <div class="actions">
    <%= f.submit nil,class: "btn btn-primary"%>
  </div>
<% end %>
