<%- model_class = Trip -%>
<%= form_for(@trip) do |f| %>
<% if @trip.errors.any? %>
<div class="row">
  <div class="col-md-12">
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% I18n.locale.to_s == 'en' ? format = 'mm/dd/yyyy' : format = 'dd.mm.yyyy' %>
<div class="row">
  <div class="col-md-12 novertpadding">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :destination %>
          <span style="color: red">*</span>
          <%= f.text_field :destination, class: "form-control", placeholder: t('.destination')%>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :date_start %>
          <span style="color: red">*</span>
          <div class="controls">
            <%= f.text_field :date_start, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': format, 'data-date-autoclose': true, 'data-date-language': I18n.locale, value: @trip.date_start ? l(@trip.date_start) : nil, placeholder: t('.date')  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 novertpadding">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :reason %>
          <%= f.text_field :reason, class: "form-control" , placeholder: t('.reason')%>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :date_end %>
          <span style="color: red">*</span>
          <div class="controls">
            <%= f.text_field :date_end, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': format, 'data-date-autoclose': true, 'data-date-language': I18n.locale, value: @trip.date_end ? l(@trip.date_end) : nil, placeholder: t('.date')  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 novertpadding">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :annotation %>
          <%= f.text_area :annotation, class: "form-control", rows: '3', style: 'resize: none', placeholder: t('.annotation') %>
        </div>
      </div>
      <div class="col-sm-6">
        
        <div class="form-group">
          <%= f.label :days_abroad %>
          <span style="color: red">*</span>
          <%= f.number_field :days_abroad, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :signature %>
          <%= f.check_box :signature%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class= "row">
  <div class= "col-md-12" align="right">
  <span style="color: red">  * <%= t'helpers.forms.required_field'%></span>
  </div>
</div>

<div class="actions">
  <%= f.submit nil, class: "btn btn-success btn-block"%>
</div>
<% end %>
