<%- model_class = Trip -%>
<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  <table class="table table-striped">
    <tr>
      <th><%= model_class.human_attribute_name(:date_start) %></th>
      <th><%= model_class.human_attribute_name(:date_end) %></th>
      <th><%= model_class.human_attribute_name(:days_abroad) %></th>
    </tr>
    <tr>
      <td>
        <div class="control-group">
        <%= f.text_field :date_start, required: false, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': "yyyy-mm-dd", 'data-date-autoclose': true, 'data-date-language': I18n.locale %>
        </div>
      </td>
      <td>
        <div class="control-group">
        <%= f.text_field :date_end, required: false, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': "yyyy-mm-dd", 'data-date-autoclose': true, 'data-date-language': I18n.locale %>
        </div>
      </td>
      <td><%= f.number_field :days_abroad %></td>
    </tr>
  </table>
  <div class="field">
    <%= f.label :annotation %><br>
    <%= f.text_area :annotation %>
  </div>
  <div class="field">
    <%= f.label :signature %><br>
    <%= f.check_box :signature %>
  </div>

  <div class="actions">
    <%= f.submit nil,class: "btn btn-primary"%>
  </div>
<% end %>
