<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Destination</th>
      <th>Reason</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Days abroad</th>
      <th>Annotation</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.name %></td>
        <td><%= trip.destination %></td>
        <td><%= trip.reason %></td>
        <td><%= trip.start_date %></td>
        <td><%= trip.end_date %></td>
        <td><%= trip.days_abroad %></td>
        <td><%= trip.annotation %></td>
        <td><%= trip.signature %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path,:class => "btn btn-primary"%>
