<p id="notice"><%= notice %></p>

<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human(count: 2).titleize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:destination) %></th>
      <th><%= model_class.human_attribute_name(:reason) %></th>
      <th><%= model_class.human_attribute_name(:annotation) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.destination %></td>
        <td><%= trip.reason %></td>
        <td><%= trip.annotation %></td>
        <td><%= trip.status %></td>
        <td><%= link_to t('helpers.links.show_details'), trip, :class => "btn btn-default btn-xs" %></td>
        <td><%= link_to t('helpers.links.edit'), edit_trip_path(trip) , :class => "btn btn-default btn-xs"%></td>
        <td><%= link_to t('helpers.links.destroy'), trip, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.links.new'), new_trip_path,:class => "btn btn-primary"%>
