<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.destination') %>:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong><%= t('.reason') %>:</strong>
  <%= @trip.reason %>
</p>
<ul>
	<%= render @trip.trip_datespans %>
</ul>
<p>
  <strong><%= t('.annotation') %>:</strong>
  <%= @trip.annotation %>
</p>

<p>
  <strong><%= t('.signature') %>:</strong>
  <%= @trip.signature %>
</p>

</p>
  <strong><%=t('.status') %>:</strong>
  <%= t('.status.' + @trip.status) =%>
  <% if @trip.status == t('status.declined') %>
    by:
  <% end %>
</p>

<% if @trip.status != t('status.applied') %>
  <%= link_to t('.edit', default: t("helpers.links.edit")), edit_trip_path(@trip), class: 'btn btn-default btn-xs' %>
  <%= link_to t('.apply_trip', default: t("helpers.links.apply_trip")), 
                      trips_apply_path(id: @trip), 
                      method: :put, 
                      class: 'btn btn-primary btn-xs'%>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      trip_path(@trip),
                      method: :delete,
                      data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      class: 'btn btn-danger btn-xs' %>
<%end%>

<%= link_to t('.back', default: t("helpers.links.back")),
             trips_path, class: 'btn btn-default btn-xs'  %> 
<p>
<%= link_to 'Download', generate_pdf_path(doc_type: 'Dienstreiseantrag', doc_id: @trip), class: 'btn btn-success btn-xs' %>
</p>
