<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @trip.reason %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Days abroad:</strong>
  <%= @trip.days_abroad %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @trip.annotation %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @trip.signature %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %> |
<%= link_to 'Download', download_trip_path(@trip) %> |
<%= link_to 'View Travel Expense Reports', trip_travel_expense_reports_path(@trip) %>
