<%- model_class = Trip -%>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.destination') %>:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong><%= t('.reason') %>:</strong>
  <%= @trip.reason %>
</p>
<p>
  <%= model_class.human_attribute_name(:date_start)%>: <%= l @trip.date_start %>
</p>
<p>
  <%= model_class.human_attribute_name(:date_end)%>: <%= l @trip.date_end %>
</p>
<p>
  <%= t('.duration', days: @trip.total_days)%>
</p>
<p>
  <%= model_class.human_attribute_name(:days_abroad)%>: <%= @trip.days_abroad %>
</p>
<p>
  <strong><%= t('.annotation') %>:</strong>
  <%= @trip.annotation %>
</p>

<p>
  <strong><%= t('.signature') %>:</strong>
  <%= @trip.signature %>
</p>

<p>
  <strong><%=t('.status') %>:</strong>
  <%= t(@trip.status, scope: 'status') %>
  <% if @trip.status == t('status.declined') %>
    by:
  <% end %>
</p>

<% if (can? :accept, @trip) && @trip.status == 'applied' %>
  <%= link_to t('.reject'), reject_trip_path, class: 'btn btn-primary' %> 
  <%= link_to t('.accept'), accept_trip_path, class: 'btn btn-primary' %>
<% end %>

<% unless @trip.status == 'applied' || @trip.status == 'accepted' %>
  <%= link_to t('.edit', default: t("helpers.links.edit")), edit_trip_path(@trip), class: 'btn btn-default btn-primarys' %>
  <%= link_to t('.hand_in', default: t("helpers.links.hand_in")),
                      hand_in_trip_path(@trip), method: :post, class: 'btn btn-primary btn-primary' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      trip_path(@trip),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t("helpers.links.confirm")) },
                      class: 'btn btn-danger btn-primary' %>
<%end%>

<br>
<br>

<p>
  <%= link_to t('.back', default: t("helpers.links.back")), trips_path, class: 'btn btn-default btn-xs'  %>
  <%= link_to 'Download', generate_pdf_path(doc_type: 'Dienstreiseantrag', doc_id: @trip), class: 'btn btn-success btn-xs' %>
</p>

<h2><%= t('.expense') %></h2>

<% if @trip.has_expense? %>
  <%= render @trip.expense %>
  <% unless @trip.expense.status == 'applied' %>
    <%= link_to t('helpers.links.edit'), edit_trip_expense_path(@trip,@trip.expense) , class: "btn btn-default btn-xs"%> |
    <%= link_to t('.hand_in', default: t("helpers.links.hand_in")),
                      hand_in_expense_path(@trip.expense), method: :post, class: 'btn btn-primary btn-primary' %>
  <% end %>
  <%= link_to t('helpers.links.show_pdf'), generate_pdf_path(doc_type: 'Reisekostenabrechnung', doc_id: @trip.expense) , class: "btn btn-success btn-xs"%>
  <%= link_to t('helpers.links.destroy'), trip_expense_path(@trip,@trip.expense), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-xs" %>
<% else %>
  <%= link_to t('.create_expense'), new_trip_expense_path(@trip) %>
<% end %>
