<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.destination') %>:</strong>
  <%= @trip.destination %>
</p>

<p>
  <strong><%= t('.reason') %>:</strong>
  <%= @trip.reason %>
</p>
<ul>
	<%= render @trip.trip_datespans %>
</ul>
<p>
  <strong><%= t('.annotation') %>:</strong>
  <%= @trip.annotation %>
</p>

<p>
  <strong><%= t('.signature') %>:</strong>
  <%= @trip.signature %>
</p>

<%= link_to t('helpers.links.edit'), edit_trip_path(@trip), :class => "btn btn-default btn-xs" %> |
<%= link_to t('helpers.links.back') , trips_path , :class => "btn btn-default btn-xs"%> |
<%= link_to t('helpers.links.show_pdf'), generate_pdf_path(:doc_type => 'Dienstreiseantrag', :doc_id => @trip) , :class => "btn btn-success btn-xs"%>
