<%- model_class = Trip -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
      </div>
      <% if @trip.user == current_user %>
        <div class="col-sm-6 text text-right">
          <% if (@trip.status == 'saved') || (@trip.status == 'declined')  %>
            <%= link_to t('.edit', default: t("helpers.links.edit")),
                          edit_trip_path(@trip), class: 'btn btn-primary' %>
          <% else %>
            <%= link_to t('.edit', default: t("helpers.links.edit")),
                          '#', class: 'btn btn-primary', rel: "tooltip", title: (t '.filed_request_cant_be_edited') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel panel-body">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
      <dd><%= @trip.destination %></dd>
      <dt><strong><%= model_class.human_attribute_name(:reason) %>:</strong></dt>
      <dd><%= @trip.reason %></dd>
      <dt><strong><%= model_class.human_attribute_name(:date_start) %>:</strong></dt>
      <dd><%=l @trip.date_start %><%=l @trip.date_start, format: ' (%A)' %></dd>
      <dt><strong><%= model_class.human_attribute_name(:date_end) %>:</strong></dt>
      <dd><%=l @trip.date_end %><%=l @trip.date_end, format: ' (%A)' %></dd>
      <dt><strong><%= model_class.human_attribute_name(:days_abroad) %>:</strong></dt>
      <dd><%= @trip.days_abroad %> <%= t('.days') %></dd>
      <dt><strong><%= model_class.human_attribute_name(:annotations) %>:</strong></dt>
      <dd><%= @trip.annotation %></dd>
      <dt><strong><%= model_class.human_attribute_name(:signature) %>:</strong></dt>
      <dd><%= @trip.signature %></dd>
      <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
      <dd><%= t(".status.#{@trip.status}") + l(@trip.updated_at)%></dd>
    </dl>
  </div>
</div>
<% if (can? :accept, @trip) && @trip.status == 'applied' %>
    <% if current_user.signature.nil? %>
        <%= t('signature_warning') %>
        <%= link_to t('helpers.application_tabs.profile'), user_path(current_user), class: 'btn btn-default btn-xs' %><br/>
        <%= link_to t('.reject'), reject_trip_path, class: 'btn btn-primary' %>
        <%= link_to t('.accept'), accept_trip_path, class: 'btn btn-primary', disabled: "disabled" %>
    <% else %>
        <%= link_to t('.reject'), reject_trip_path, class: 'btn btn-primary' %>
        <%= link_to t('.accept'), accept_trip_path, class: 'btn btn-primary' %>
    <% end %>
<% end %>
<% unless @trip.status == 'applied' || @trip.status == 'accepted' %>
  <%= link_to t('.hand_in', default: t("helpers.links.hand_in")),
                      hand_in_trip_path(@trip), method: :post, class: 'btn btn-primary btn-primary' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                      trip_path(@trip),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t("helpers.links.confirm")) },
                      class: 'btn btn-danger btn-primary' %>
<%end%>
<br>
<br>
<p>
  <%= link_to t('.back', default: t("helpers.links.back")), trips_path, class: 'btn btn-default'  %>
  <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Trip_request', doc_id: @trip), class: 'btn btn-success' %>
</p>

<h2><%= t('.expense') %></h2>

<% if @trip.has_expense? %>
  <%= render @trip.expense %>
  <% unless @trip.expense.status == 'applied' %>
    <%= link_to t('helpers.links.edit'), edit_trip_expense_path(@trip,@trip.expense) , class: "btn btn-default btn-xs"%> |
    <%= link_to t('.hand_in', default: t("helpers.links.hand_in")),
                      hand_in_expense_path(@trip.expense), method: :post, class: 'btn btn-primary btn-primary' %>
  <% end %>
  <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Expense_request', doc_id: @trip.expense) , class: "btn btn-success btn-xs"%>
  <%= link_to t('helpers.links.destroy'), trip_expense_path(@trip,@trip.expense), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-xs" %>
<% else %>
  <%= link_to t('.create_expense'), new_trip_expense_path(@trip) %>
<% end %>
