<%= form_for @holiday, :html => { :class => "form-horizontal holiday" } do |f| %>

  <% if @holiday.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @holiday.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <% if I18n.locale = 'en' %>
      <% language = 'en-GB' %>
    <% else %>
      <% language = I18n.locale %>
    <% end %>
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-autoclose': true, 'data-date-language': language %>
    </div>
    <%= error_span(@holiday[:start]) %>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-autoclose': true, 'data-date-language': language %>
    </div>
    <%= error_span(@holiday[:end]) %>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reason, class: 'form-control' %>
    </div>
    <%= error_span(@holiday[:reason]) %>
  </div>
  <div class="control-group">
    <%= f.check_box :replacement_user_id, id: "replacement_checkbox" %>
    <%= f.label :replacement, :class => 'control-label' %>
    <%# unless @holiday.replacement_user_id.eq? 0 %>
      <div class="controls">
        <%= f.collection_select :replacement_user_id, User.all, :id, :name, include_blank: true %>
      </div>
    <%# end %>
    <%= error_span(@holiday[:replacement_user_id]) %>
  </div><br>
  <script type="text/javascript">
    $('#replacement_checkbox').click(function(){
      $(:replacement_user_id).attr('include_blank',! this.checked)
    });
  </script>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            current_user, :class => 'btn btn-default' %>

<% end %>
