<%= form_for @holiday, html: { class: "form-horizontal holiday" } do |f| %>

  <% if @holiday.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @holiday.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%# en-GB uses the proper ISO date format we want to use %>
  <% if I18n.locale = 'en' %>
    <% language = 'en-GB' %>
  <% else %>
    <% language = I18n.locale %>
  <% end %>

  <div class="control-group">
    <%= f.label :start, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :start, required: true, class: 'form-control', id: 'startdate', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-autoclose': true, 'data-date-language': language   %>
    </div>
    <%= error_span(@holiday[:start]) %>
  </div>
  <div class="control-group">
    <%= f.label :end, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :end, required: true, class: 'form-control', id: 'enddate', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-autoclose': true, 'data-date-language': language %>
    </div>
    <%= error_span(@holiday[:end]) %>
  </div>
  <div class="control-group">
    <%= f.label :length, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :length, class: 'form-control', min: 0, placeholder: 'Leave Blank for automatic calculation' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reason, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reason, class: 'form-control' %>
    </div>
    <%= error_span(@holiday[:reason]) %>
  </div>
  <div class="control-group">
    <%= f.check_box :replacement_user_id, onclick: "selection.style.display = this.checked ? 'block' : 'none'", id: 'checkbox' %>
    <%= f.label :replacement, :class => 'control-label' %>
    <div class="controls" id="selection" style="display: none">
      <%= f.collection_select :replacement_user_id, User.all.select { |user| user.division_id == current_user.division_id && user.is_wimi? }, :id, :name, include_blank: true %>
    </div>
    <%= error_span(@holiday[:replacement_user_id]) %>
  </div><br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            current_user, class: 'btn btn-default' %>
<% end %>
