<%= form_for @holiday, html: { class: "form-horizontal holiday" } do |f| %>

  <% if @holiday.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @holiday.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :start, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :start, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': "dd-mm-yyyy", 'data-date-autoclose': true, 'data-date-language': I18n.locale %>
    </div>
    <%= error_span(@holiday[:start]) %>
  </div>
  <div class="control-group">
    <%= f.label :end, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :end, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': "dd-mm-yyyy", 'data-date-autoclose': true, 'data-date-language': I18n.locale %>
    </div>
    <%= error_span(@holiday[:end]) %>
  </div><br>

  <%= f.submit nil, class: 'btn btn-primary' %>
  <%= link_to t('.cancel', default: t("helpers.links.cancel")),
            current_user, class: 'btn btn-default' %>

<% end %>
