<%= form_for @holiday do |f| %>
  
  
  <% if @holiday.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @holiday.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% I18n.locale.to_s == 'en' ? format = 'mm/dd/yyyy' : format = 'dd.mm.yyyy' %>

  <div class="row">
    <div class="col-md-12">
      <%= f.label :remaining_leave, t('users.show.remaining_leave', leave: current_user.remaining_leave.to_s) %>
      <% if current_user.remaining_leave_last_year > 0 %>
        <%= f.label :remaining_leave_last_year, t('users.show.remaining_leave_last_year', leave_last_year: current_user.remaining_leave_last_year.to_s, last_year: Date.today.year-1) %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :start, class: '' %>
        <div class="">
          <%= f.text_field :start, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': format, 'data-date-autoclose': true, 'data-date-language': I18n.locale, value: @holiday.start ? l(@holiday.start) : nil , placeholder: t('trips.form.date') %>
        </div>
        <%= error_span(@holiday[:start]) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :end, class: '' %>
        <div class="">
          <%= f.text_field :end, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': format, 'data-date-autoclose': true, 'data-date-language': I18n.locale, value: @holiday.end ? l(@holiday.end) : nil , placeholder: t('trips.form.date') %>
        </div>
        <%= error_span(@holiday[:end]) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :duration, class: '' %>
        <div class="">
          <%= f.number_field :length, class: 'form-control', min: 0, placeholder: t('.auto_calculation') %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :reason, class: '' %>
        <div class="">
          <%= f.text_field :reason, class: 'form-control' %>
        </div>
        <%= error_span(@holiday[:reason]) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.check_box :replacement_user_id, {onclick: 'toggle(selection, replacement_selection, replacement_checkbox)', id: 'replacement_checkbox'} %>
        <%= f.label :replacement%>
        <%# Capybara doesn't seem to find invisible selection boxes, so this div has to be displayed in a test environment %>
        <%= content_tag :div, class: "", id: 'selection', style: "#{Rails.env}" == 'test' ? "display:block" : "display: none" do %>
          <%= f.collection_select :replacement_user_id, User.all.select {|user| user.chair == current_user.chair && user.is_wimi? && user != current_user}, :id, :name, {include_blank: true}, {id: 'replacement_selection'} %>
        <% end %>
        <%= error_span(@holiday[:replacement_user_id]) %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.check_box :signature %>
        <%= f.label :signature %>
      </div> 
    </div>
  </div>

  <%= f.submit nil, class: 'btn btn-success btn-block' %>
  
<% end %>
