<%- model_class = Holiday -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <div class="row">
          <div class="col-sm-9">
            <%=t '.title', default: model_class.model_name.human.titleize %>
          </div>
          <div class="col-sm-3">
              <% if (@holiday.status == 'saved') || (@holiday.status == 'declined')  %>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                              edit_holiday_path(@holiday), class: 'btn btn-warning' %>
              <% else %>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                              '#', class: 'btn btn-warning btn-block', rel: "tooltip", title: (t '.filed_request_cant_be_edited') %>
              <% end %>
          </div>
        </div>
      </h1>
    </div>

    <%= render @holiday %>
    <% if @holiday.status == 'declined' %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag nil, t('time_sheets.show_footer.reject_reason') %>
            <%= text_field_tag nil, @holiday.annotation, {class: "form-control", readonly: "readonly"} %>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if @holiday.user == current_user && ((@holiday.status == 'saved') || (@holiday.status == 'declined')) %>
      <%= link_to t('.file'), file_holiday_path, class: 'btn btn-success' %>
      <%= link_to t('.destroy', default: t("helpers.links.destroy")), holiday_path(@holiday), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm")) }, class: 'btn btn-danger btn-primary' %>
    <% end %>

    <% if(can? :accept, @holiday) && @holiday.status == 'applied' %>
      <%= form_for @holiday, url: accept_reject_holiday_path, method: :get do |f| %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= label_tag nil, t('time_sheets.show_footer.reject_reason') %>
              <%= f.text_field :annotation, {class: "form-control"} %>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.submit t('.reject'), class: 'btn btn-danger btn-block' %>
          </div>
          <div class="col-md-6">
            <%= f.submit t('.accept'), class: 'btn btn-success btn-block' %>
          </div>
        </div> 
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-justified">
          <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Holiday_request', doc_id: @holiday), class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
