<%- model_class = Holiday -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <div class="row">
          <div class="col-sm-9">
            <%=t '.title', default: model_class.model_name.human.titleize %>
          </div>
          <div class="col-sm-3">
              <% if (@holiday.status == 'saved') || (@holiday.status == 'declined')  %>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                              edit_holiday_path(@holiday), class: 'btn btn-warning' %>
              <% else %>
                <%= link_to t('.edit', default: t("helpers.links.edit")),
                              '#', class: 'btn btn-warning btn-block', rel: "tooltip", title: (t '.filed_request_cant_be_edited') %>
              <% end %>
          </div>
        </div>
      </h1>
    </div>

    <%= render @holiday %>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-justified">
          <% if @holiday.user == current_user && ((@holiday.status == 'saved') || (@holiday.status == 'declined')) %>
            <%= link_to t('.file'), file_holiday_path, class: 'btn btn-success' %>
          <% end %>

          <% if(can? :accept, @holiday) && @holiday.status == 'applied' %>
              <% if current_user.signature.nil? %>
                  <%= t('signature_warning') %>
                  <%= link_to t('helpers.application_tabs.profile'), user_path(current_user), class: 'btn btn-default btn-xs' %><br />
                  <%= link_to t('.accept'), accept_holiday_path, class: 'btn btn-success', disabled: "disabled" %>
                  <%= link_to t('.reject'), reject_holiday_path, class: 'btn btn-danger' %>
              <% else %>
                  <%= link_to t('.accept'), accept_holiday_path, class: 'btn btn-success' %>
                  <%= link_to t('.reject'), reject_holiday_path, class: 'btn btn-danger' %>
              <% end %>
          <% end %>
          <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Holiday_request', doc_id: @holiday), class: 'btn btn-info' %>
        </div>
      </div>
    </div>
  </div>
</div>
