<p id="notice"><%= notice %></p>

<h1>Listing Chairs Administrators</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chair</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chairs_administrators.each do |chairs_administrator| %>
      <tr>
        <td><%= chairs_administrator.user %></td>
        <td><%= chairs_administrator.chair %></td>
        <td><%= link_to 'Show', chairs_administrator %></td>
        <td><%= link_to 'Edit', edit_chairs_administrator_path(chairs_administrator) %></td>
        <td><%= link_to 'Destroy', chairs_administrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chairs administrator', new_chairs_administrator_path %>
