<%= form_for(@chair_application) do |f| %>
  <% if @chair_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chair_application.errors.count, "error") %> prohibited this chair_application from being saved:</h2>

      <ul>
      <% @chair_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :chair_id %><br>
    <%= f.text_field :chair_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
