<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1><%= t 'activerecord.models.contract.other', default: model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <% if @contracts.empty? %>
      <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.contract.other', default: model_class.model_name.human.pluralize) %> </p> <br>
  <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:start_date) %></th>
            <th><%= model_class.human_attribute_name(:end_date) %></th>
            <th><%= model_class.human_attribute_name(:hiwi) %></th>
            <th><%= model_class.human_attribute_name(:responsible) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <td><%= l contract.start_date %></td>
            <td><%= l contract.end_date %></td>
            <td><%= contract.hiwi.name %></td>
            <td><%= contract.responsible.name %></td>
            <td>
              <% if can? :show, contract %>
                <%= link_to t('helpers.links.show', model: model_class.model_name.human.titleize),
                            contract_path(contract),
                            class: 'btn btn-default btn-xs' %>
              <% end %>  
              <% if can? :edit, contract %>
                <%= link_to t('helpers.links.edit', model: model_class.model_name.human.titleize),
                            edit_contract_path(contract),
                            class: 'btn btn-warning btn-xs' %>
              <% end %>  
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if can? :create, Contract %>
      <%= link_to t('helpers.titles.new', model: model_class.model_name.human.titleize),
                  new_contract_path,
                  class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>
