<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1>
      <%= t('activerecord.models.contract.other', default: model_class.model_name.human.pluralize).titleize %>
    </h1>
  </div>
  <% if @contracts.empty? %>
      <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.contract.other', default: model_class.model_name.human.pluralize) %> </p> <br>
  <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:start_date) %></th>
            <th><%= model_class.human_attribute_name(:end_date) %></th>
            <th><%= model_class.human_attribute_name(:hiwi) %></th>
            <th><%= model_class.human_attribute_name(:responsible) %></th>
            <th><%= t '.actions', default: t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <td><%= l contract.start_date %></td>
            <td><%= l contract.end_date %></td>
            <td><%= contract.hiwi.name %></td>
            <td><%= contract.responsible.name %></td>
            <td>
              <%= show_button contract, class: 'btn-xs' %>
              <%= edit_button contract, class: 'btn-xs' %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.actions'%> </h4>
        </div>
        <div class="panel-body">
          <%= create_button Contract, class: 'btn-block'%>
        </div>
      </div>
    </div>
  </div>
<% end %>