<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <%= t 'activerecord.models.contract.one' %>
        <% if can? :edit, @contract%>
          <%= link_to t('helpers.links.edit'), edit_contract_path(@contract), class: 'btn btn-warning btn-md pull-right' %>
        <% end %>
      </h1>
    </div>
    <dl>
        <dt><%= model_class.human_attribute_name(:start_date) %></dt>
        <dd><%= l @contract.start_date %></dd>
        <dt><%= model_class.human_attribute_name(:end_date) %></dt>
        <dd><%= l @contract.end_date %></dd>
        <dt><%= model_class.human_attribute_name(:hiwi) %></dt>
        <dd><%= @contract.hiwi.name %></dd>
        <dt><%= model_class.human_attribute_name(:responsible) %></dt>
        <dd><%= @contract.responsible.name %></dd>
        <dt><%= model_class.human_attribute_name(:flexible) %></dt>
        <dd><%= t @contract.flexible.to_s %></dd>
        <dt><%= model_class.human_attribute_name(:hours_per_week) %></dt>
        <dd><%= @contract.hours_per_week %></dd>
        <dt><%= model_class.human_attribute_name(:wage_per_hour) %></dt>
        <dd><%= @contract.wage_per_hour %> €</dd>
        <dt><%= t 'activerecord.models.chair.one' %></dt>
        <dd><%= @contract.chair.name %> (<%= @contract.chair.description %>)</dd>
    </dl>
    <% if can? :destroy, @contract %>
        <%= link_to t('helpers.links.destroy'), contract_path(@contract), method: :delete, class: 'btn btn-danger btn-xs' %>
    <% end %>
  </div>
</div>
