<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @contract %>
        <%= edit_button @contract, class: 'btn-md pull-right' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <dl>
          <dt><%= t('activerecord.attributes.contract.date') %></dt>
          <dd><%= l @contract.start_date %> &ndash; <%= l @contract.end_date %></dd>
          <dt><%= model_class.human_attribute_name(:hiwi) %></dt>
          <dd><%= linked_name @contract.hiwi %> </dd>
          <% unless @contract.flexible %>
            <dt><%= model_class.human_attribute_name(:hours_per_week) %></dt>
            <dd><%= @contract.hours_per_week %></dd>
          <% end %>
          <dt><%= t('activerecord.models.chair.one').titleize %></dt>
          <dd><%= linked_name @contract.chair %> </dd>
        </dl>
      </div>
      <div class="col-md-6 col-sm-6">
        <dl>
          <dt><%= model_class.human_attribute_name(:flexible) %></dt>
          <dd><%= t @contract.flexible.to_s %></dd>
          <dt><%= model_class.human_attribute_name(:responsible) %></dt>
          <dd><%= linked_name @contract.responsible %> </dd>
          <dt><%= model_class.human_attribute_name(:wage_per_hour) %></dt>
          <dd><%= @contract.wage_per_hour %> €</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
