<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1><%= @contract.hiwi.name %></h1>
    </div>
    <dl>
        <dt>Start</dt>
        <dd><%= @contract.start_date %> </dd>
        <dt>End</dt>
        <dd><%= @contract.end_date %> </dd>
        <dt>Flexible</dt>
        <dd><%= @contract.flexible %> </dd>
        <dt>Hours per week</dt>
        <dd><%= @contract.hours_per_week %> </dd>
        <dt>Wage per hour</dt>
        <dd><%= @contract.wage_per_hour %> </dd>
    </dl>
  </div>
</div>
