<%- model_class = Contract -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @contract %>
      </div>
    </div>
    <div class="row bot-buffer-5">
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, t('activerecord.attributes.contract.date') %>: <%= l @contract.start_date %> &ndash; <%= l @contract.end_date %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:hiwi) %>: <%= linked_name @contract.hiwi %>
      </div>
      <% unless @contract.flexible %>
        <div class="col-md-6 col-sm-12">
          <%= content_tag :strong, model_class.human_attribute_name(:hours_per_week) %>: <%= @contract.hours_per_week %>
        </div>
        <% end %>
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, t('activerecord.models.chair.one').capitalize %>: <%= linked_name @contract.chair %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:flexible) %>: <%= t @contract.flexible.to_s %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:responsible) %>: <%= linked_name @contract.responsible %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:wage_per_hour) %>: <%= @contract.wage_per_hour %> €
      </div>
    </div>
  </div>
</div>

<%# Time sheets table %>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h4">
        <%= t '.time_sheets_heading' %>
      </div>
    </div>
    <%= render partial: "time_sheets/table", locals: {contract: @contract, searching: true, info: true} %>
  </div>
</div>

<% content_for :actions do %>
  <%= edit_button @contract, class: 'btn-block' %>
  <% if can?(:create, TimeSheet.new(contract: @contract)) %>
    <%= link_to t('helpers.titles.new', model: TimeSheet.model_name.human.titleize), new_contract_time_sheet_path(@contract), class: 'btn btn-success btn-block' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%# filter for datatable %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.search.title', model: t('activerecord.models.time_sheet.other') %> </h4>
        </div>
        <div class="panel-body">
          <%= datatable_search_input %>
        </div>
      </div>
    </div>
  </div>
  <%# Recent activity %>
  <%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>
<% end %>
