<%- model_class = Chair -%>
<%= form_for @chair, html: {class: "project"} do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @chair} %>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <input type="hidden" name="chair_search_id" value="<%= @chair.id %>" />
      <%= bootstrap_form_group(f, :name) do %>
          <%= f.text_field :name, class: 'form-control' %>
      <% end %>
      <%= bootstrap_form_group(f, :abbreviation) do %>
          <%= f.text_field :abbreviation, class: 'form-control' %>
      <% end %>
      <%= bootstrap_form_group(f, :description) do %>
          <%= f.text_field :description, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="control-group">
        <!-- Admins -->
        <%= f.label t('roles.admin_long_plural'), class: 'control-label' %>

        <select id="search_box_admin" name="admins[]" type="text" class="form-control" multiple="multiple" autocomplete="off">
          <%= options_from_collection_for_select(User.all, 'id', 'name', @chair.admin_users.collect(&:id))%>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="control-group">
        <!-- Representative -->
        <%= f.label t('roles.chair_representative'), class: 'control-label' %><br>

        <% if @chair.representative %>
          <% representative_id = @chair.representative.id %>
        <% else %>
          <% representative_id = nil%>
        <% end %>

        <select id="search_box_representative" name="representative" type="text" class="form-control" autocomplete="off">
          <%= options_from_collection_for_select(User.all, 'id', 'name', representative_id)%>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="control-group">
        <!-- Representative -->
        <%= f.label t('roles.secretary_long_plural'), class: 'control-label' %><br>

        <select id="search_box_secretaries" name="secretaries[]" type="text" class="form-control" multiple="multiple" autocomplete="off">
          <%= options_from_collection_for_select(User.all, 'id', 'name', @chair.secretary_users.collect(&:id))%>
        </select>
      </div>
    </div>
  </div>

  <div align="right">
    <span>* <%= t'helpers.forms.required_field'%></span>
  </div>

  <%= f.submit nil, class: 'hidden', id: 'form-submit-btn' %>
<% end %>

<% content_for :actions do %>
  <% model_name = model_class.model_name.human.titleize %>
  <%# Label that triggers the 'form-submit-btn' submit button when clicked.
      Allows submitting the form with an element not inside the form element %>
  <%= label_tag 'form-submit-btn',
      @chair.new_record? ? t('helpers.submit.create', model: model_name) : t('helpers.submit.update', model: model_name),
      class: 'btn btn-block btn-success' %>
  <%= delete_button @chair, class: 'btn-block' if @chair.persisted? %>
  <%= link_to t("helpers.links.cancel"), :back, class: 'btn btn-block btn-default' %>
<% end %>

<script>
$(document).ready(function() {
  $('#search_box_admin').select2({
    placeholder: "Choose a person",
    allowClear: true
  });
  $('#search_box_representative').select2({
    placeholder: "Choose a person",
    allowClear: true
  });
  $('#search_box_secretaries').select2({
    placeholder: "Choose a person",
    allowClear: true
  });
});
</script>
