<%= form_for @chair, html: {class: "form-horizontal project"} do |f| %>

    <% if @chair.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @chair.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= error_span(@chair[:title]) %>
    </div>

    <div class="control-group">
      <!-- Admins -->
      <div id="admins"><%= f.label :chair_admins, class: 'control-label' %><br>
      </div>

      <input id="search-box-admin" name="q" type="text" class="form-control" autocomplete="off"/>
      <div class="dropdown">
        <ul id="search-results-admin" class="dropdown-menu">
        </ul>
      </div>
    </div>

    <div class="control-group">
      <!-- Representative -->
      <%= f.label :chair_representative, class: 'control-label' %><br>
      <div id="representative">
        <p>no representative selected</p>
      </div>

      <input id="search-box-representative" name="q" type="text" class="form-control" autocomplete="off"/>
      <div class="dropdown">
        <ul id="search-results-representative" class="dropdown-menu">
        </ul>
      </div>
    </div>
    <br/>

    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t("helpers.links.cancel"),
                chairs_path, class: 'btn btn-default' %>

<% end %>





<script>

var adminArray = [];
var adminDiv = $( "#admins" );

function addAdmin(id, name){
  if($.inArray(id,adminArray) == -1) {
    adminDiv.append("<div id=\"admin_"+id+"\"><li>"+name+" <a onClick=\"removeAdmin("+id+")\"><font color=\"red\">entfernen</font></a></li><input type=\"hidden\" name=\"admins["+id+"]\" value=\""+id+"\" /></div>");
    adminArray.push(id);
  }
  $('#search-box-admin').val("");
  $("#search-results-admin").hide();
}

function removeAdmin(id){
  $("#admin_"+id).remove();
  var i = adminArray.indexOf(id);
  if(i != -1) {
    adminArray.splice(i, 1);
  }
}

function addRepresentative(id, name){
  $( "#representative" ).replaceWith( "<div id=\"representative\"><li>"+name+"</li><input type=\"hidden\" name=\"representative\" value=\""+id+"\" /></div>" );
  $('#search-box-representative').val("");
  $("#search-results-representative").hide();
}

  
$("#search-box-admin").bind("keyup", function() {
  var form = $("#search-box-admin");
  var url = "/admin_search";

  var formData = form.serialize();
  if (formData.length == 2) $("#search-results-admin").hide();
  else {
    $.get(url, formData, function(html) {
      $("#search-results-admin").html(html);
      $("#search-results-admin").show();
    });
  }
}); 

$("#search-box-representative").bind("keyup", function() {
  var form = $("#search-box-representative");
  var url = "/representative_search";

  var formData = form.serialize();
  if (formData.length == 2) $("#search-results-representative").hide();
  else {
    $.get(url, formData, function(html) {
      $("#search-results-representative").html(html);
      $("#search-results-representative").show();
    });
  }
}); 
</script>