<%= form_for @chair, html: {class: "form-horizontal project"} do |f| %>

    <% if @chair.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @chair.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= error_span(@chair[:title]) %>
    </div>

    <div class="control-group">
      <%= f.label :chair_admin, class: 'control-label' %><br>

      <div class="controls">
        <select name="admin_user" id="admin_user">
          <option value="null"><%= I18n.t('helpers.list_select') %></option>
          <%= User.all.each do |user| %>
              <% if @chair.admins.count { |admin| admin.user.id == user.id } == 1 %>
                  <option value="<%= user.id %>" selected="true"><%= user.name %><% if user.is_wimi? %> (WiMi)<% end %></option>
              <% else %>
                  <option value="<%= user.id %>"><%= user.name %><% if user.is_wimi? %> (WiMi)<% end %></option>
              <% end %>
          <% end %>
        </select>
        <%= error_span(@chair[:chair_admin]) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :chair_representative, class: 'control-label' %><br>

      <div class="controls">
        <select name="representative_user">
          <option value="null"><%= I18n.t('helpers.list_select') %></option>
          <%= User.all.each do |user| %>
              <% if @chair.representative != nil && @chair.representative.user.id == user.id %>
                  <option value="<%= user.id %>" selected="true"><%= user.name %><% if user.is_wimi? %> (WiMi)<% end %></option>
              <% else %>
                  <option value="<%= user.id %>"><%= user.name %><% if user.is_wimi? %> (WiMi)<% end %></option>
              <% end %>
          <% end %>
        </select>
        <%= error_span(@chair[:chair_representative]) %>
      </div>
    </div>
    <br/>
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t("helpers.links.cancel"),
                chairs_path, class: 'btn btn-default' %>

<% end %>
search 1

<form id="live-search-form" method="get" action="<%= search_path %>">
  <input id="search-box-admin" name="q" type="text" class="form-control"/>
</form>
<div class="dropdown">
   <ul id="search-results-admin" class="dropdown-menu">
   </ul>
</div>


Search 2
<div id="myDiv">Some Content</div>

<form id="live-search-form" method="get" action="<%= search_path %>">
  <input id="search-box" name="q" type="text" class="form-control"/>
</form>
<div class="dropdown">
   <ul id="search-results" class="dropdown-menu">
   </ul>
</div>

<% @test.each do |t| %>
  <%= t %>
<% end %>

<script>

var adminArray = [];
var myDivElement = $( "#myDiv" );

function divFunction(id, name){
  //alert($.inArray(id,adminArray));
  if($.inArray(id,adminArray) == -1) {
    myDivElement.append("<p>"+name+"</p>");
    adminArray.push(id);
  }
  $('#search-box-admin').val("");
  $("#search-results-admin").hide();
}

//$("#big-search-box").focusout(function() {
//  $("#live-search-results").hide();
//});

  
$("#search-box-admin").bind("keyup", function() {
  var form = $("#live-search-form");
  var url = "/tasks/live_search";

  var formData = form.serialize();
  if (formData.length == 2) $("#search-results-admin").hide();
  else {
    $.get(url, formData, function(html) {
      $("#search-results-admin").html(html);
      $("#search-results-admin").show();
    });
  }

}); 
</script>