<%- model_class = Chair -%>
<%= form_for @chair, html: {class: "project"} do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @chair} %>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <input type="hidden" name="chair_search_id" value="<%= @chair.id %>" />
      <%= bootstrap_form_group(f, :name) do %>
          <%= f.text_field :name, class: 'form-control' %>
      <% end %>
      <%= bootstrap_form_group(f, :abbreviation) do %>
          <%= f.text_field :abbreviation, class: 'form-control' %>
      <% end %>
      <%= bootstrap_form_group(f, :description) do %>
          <%= f.text_field :description, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="control-group">
        <!-- Admins -->
        <div id="admins"><%= f.label t('roles.admin_long_plural'), class: 'control-label' %><br>
          <% @chair.admin_users.each do |admin| %>
            <div id="admin_<%= admin.id %>">
            <li><%= admin.name %><a onClick="removeAdmin(<%= admin.id %>)"><span style="color: red"> entfernen</span></a></li>
            <input type="hidden" name="admins[<%= admin.id %>]" value="<%= admin.id %>" />
            </div>
          <% end %>
        </div>

        <input id="search-box-admin" name="q" type="text" class="form-control" autocomplete="off"/>
        <div class="dropdown">
          <ul id="search-results-admin" class="dropdown-menu">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="control-group">
        <!-- Representative -->
        <%= f.label t('roles.chair_representative'), class: 'control-label' %><br>
        <div id="representative">
          <% if @chair.representative %>
            <li><%= @chair.representative.user.name %></li>
            <input type="hidden" name="representative" value="<%= @chair.representative.user.id %>" />
          <% else %>
            <p><%= t(".no_representative") %></p>
          <% end %>
        </div>

        <input id="search-box-representative" name="q" type="text" class="form-control" autocomplete="off"/>
        <div class="dropdown">
          <ul id="search-results-representative" class="dropdown-menu" />
        </div>
      </div>
    </div>
  </div>
  <%= f.submit nil, class: 'hidden', id: 'form-submit-btn' %>
<% end %>

<% content_for :sidebar do %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.actions'%> </h4>
        </div>
        <div class="panel-body">
          <% model_name = model_class.model_name.human.titleize %>
          <%# Label that triggers the 'form-submit-btn' submit button when clicked.
              Allows submitting the form with an element not inside the form element %>
          <%= label_tag 'form-submit-btn',
              @chair.new_record? ? t('helpers.submit.create', model: model_name) : t('helpers.submit.update', model: model_name),
              class: 'btn btn-block btn-success' %>
          <%= link_to t("helpers.links.cancel"),
              @chair.persisted? ? chair_path(@chair) : chairs_path,
              class: 'btn btn-block btn-default' %>
        </div>
      </div>
    </div>
  </div>
<% end %>




<script>

var adminArray = [-1<% @chair.admin_users.each do |admin| %>,<%= admin.id %><% end %>];
var adminDiv = $( "#admins" );

function addAdmin(id, name){
  if($.inArray(id,adminArray) == -1) {
    adminDiv.append("<div id=\"admin_"+id+"\"><li>"+name+" <a onClick=\"removeAdmin("+id+")\"><font color=\"red\">entfernen</font></a></li><input type=\"hidden\" name=\"admins["+id+"]\" value=\""+id+"\" /></div>");
    adminArray.push(id);
  }
  $('#search-box-admin').val("");
  $("#search-results-admin").hide();
}

function removeAdmin(id){
  $("#admin_"+id).remove();
  var i = adminArray.indexOf(id);
  if(i != -1) {
    adminArray.splice(i, 1);
  }
}

function addRepresentative(id, name){
  $( "#representative" ).replaceWith( "<div id=\"representative\"><li>"+name+"</li><input type=\"hidden\" name=\"representative\" value=\""+id+"\" /></div>" );
  $('#search-box-representative').val("");
  $("#search-results-representative").hide();
}


$("#search-box-admin").bind("keyup", function() {
  var form = $("#search-box-admin");
  var url = "/admin_search";

  var formData = form.serialize();
  if (formData.length == 2) $("#search-results-admin").hide();
  else {
    formData += "&chair_search_id=<%= @chair.id %>";
    $.get(url, formData, function(html) {
      $("#search-results-admin").html(html);
      $("#search-results-admin").show();
    });
  }
});

$("#search-box-representative").bind("keyup", function() {
  var form = $("#search-box-representative");
  var url = "/representative_search";

  var formData = form.serialize();
  if (formData.length == 2) $("#search-results-representative").hide();
  else {
    formData += "&chair_search_id=<%= @chair.id %>";
    $.get(url, formData, function(html) {
      $("#search-results-representative").html(html);
      $("#search-results-representative").show();
    });
  }
});
</script>
