<%- model_class = Chair -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @chairs.each do |chair| %>
      <tr>
        <td><%= link_to chair.id, project_path(chair) %></td>
        <td><%= chair.name %></td>
        <td><%=l chair.created_at %></td>
        <% if @chairapp = ChairApplication.find_by(:user_id => current_user.id, :chair => chair.id) %>
            <% if @chairapp.status == 'pending' %>
                <td><span style="color: #ff8c00; "><%= @chairapp.status %></span></td>
            <% elsif @chairapp.status == 'accepted' %>
                <td><span style="color: #7cfc00; "/><%= @chairapp.status %></font></td>
            <% elsif @chairapp.status == 'declined' %>
                <td><span style="color: red; "><%= @chairapp.status %></span></td>
            <% else %>
                <td><%= @chairapp.status %></td>
            <% end %>
        <% else %>
          <td>No Application</td>
        <% end %>
        <td>
          <% if current_user.is?('user') %>
              <% if @chairapp = ChairApplication.find_by(:user_id => current_user.id, :chair => chair.id) %>
                  <% if @chairapp.status == 'pending' %>
                      <%= link_to t('.cancelApp', :default => t("helpers.links.cancelApp")),
                                  chair_cancelapp_event_path(:id => @chairapp.id), :method => :post, :class => 'btn btn-default btn-xs' %>
                  <% else %>
                      <!--TODO-->
                      <!--Admin muss akzeptieren/ablehnen können, User muss ggf. aus Lehrstuhl austreten können-->
                  <% end %>
              <% else %>
                  <%= link_to t('.apply', :default => t("helpers.links.apply")),
                              chair_apply_event_path(:chair => chair), :method => :post, :class => 'btn btn-default btn-xs' %>
              <% end %>
          <% end %>
          <% if current_user.is?('superadmin') %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_chair_path(chair), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          chair_path(chair),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if current_user.is?('superadmin') %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_chair_path,
                :class => 'btn btn-primary' %>
<% end %>

