<%- model_class = Chair -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @chairs.each do |chair| %>
      <tr>
        <td><%= link_to chair.id, chair_path(chair) %></td>
        <td><%= chair.name %></td>
        <td><%= chair.created_at %></td>

        <% if current_user.is_wimi? %>
          <td>
            <% if current_user.chair == chair %>
              <span class="label label-success">Wissenschaftlicher Mitarbeiter</span>
              </td><td>
                <% if current_user.chair_wimi.admin || current_user.chair_wimi.representative %>
                  <%= link_to 'Manage Chair', chair_path(chair) %>
                <% end %>
            <% else %>
              </td><td>
            <% end %>
          </td>
        <% else %>
          <td>
          <% if current_user.chair_wimi.nil? %>
            <%= link_to 'Apply as Wimi', chairs_apply_path(:chair => chair), :method => :post, :class => 'btn btn-default btn-xs' %>
          <% elsif current_user.chair_wimi.application == 'pending' && current_user.chair == chair %>
            <span class="label label-warning">pending</span>
          <% end %>
          </td>   
          <td></td>
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>
<% if current_user.is?('superadmin') %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_chair_path,
                :class => 'btn btn-primary' %>
<% end %>

