<%- model_class = Chair -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @chairs.each do |chair| %>
      <tr>
        <td><%= link_to chair.id, chair_path(chair) %></td>
        <td><%= chair.name %></td>
        <td><%= chair.created_at %></td>
        <td>
          <% if current_user.is_wimi? %>
              <% if current_user.chair == chair %>
                  <span class="label label-success">Wissenschaftlicher Mitarbeiter</span>
              <% end %>
          <% else %>
              <% if current_user.wimi.nil? %>
                  <%= link_to 'Apply as Wimi', apply_path(:chair => chair), :method => :post, :class => 'btn btn-default btn-xs' %>
              <% elsif current_user.wimi.application == 'pending' && current_user.chair == chair %>
                  <span class="label label-warning">pending</span>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


