<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
  <div class="page-header">
    <h1><%= t('activerecord.models.chair.other', default: model_class.model_name.human.pluralize).titleize %></h1>
  </div>
  <% if @chairs.empty? %>
      <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.chair.other', default: model_class.model_name.human.pluralize) %> </p> <br>
  <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @chairs.each do |chair| %>
          <tr>
              <td><%= linked_name chair %></td>
              <td> 
                  <%= show_button chair, class: 'btn-xs' %>
                  <%= edit_button_table chair %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.actions'%> </h4>
        </div>
        <div class="panel-body">
          <%= create_button Chair, class: 'btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>