<%- model_class = Chair -%>
<div class="page-header">
  <h1><%= @chair.name %></h1>
</div>
<div>
  <h3> <%= t('.requests') %></h3>
  <br/>
  <table>
    <colgroup>
      <col span="0" style="width: 30%;">
      <col span="0" style="width: 30%;">
    </colgroup>

    <%= form_tag(requests_filtered_path(@chair.id), method: :post) do %>

        <thead>
        <th><strong><%= t('.type_filter') %>:</strong></th>
        <th><strong><%= t('.status_filter') %>:</strong></th>
        </thead>
        <tbody>
        <tr>
          <td>
            <%= check_box_tag(:holiday_filter, t('.holiday_request'), ("holidays".in? @types)) %>
            <%= label_tag(:holiday_filter, t('.holiday_request')) %>
          </td>
          <td>
            <%= check_box_tag(:applied_filter, t('.applied_plural'), ("applied".in? @statuses)) %>
            <%= label_tag(:applied_filter, t('.applied_plural')) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag(:trip_filter, t('.trip_request'), ("trips".in? @types)) %>
            <%= label_tag(:trip_filter, t('.trip_request')) %>
          </td>
          <td>
            <%= check_box_tag(:accepted_filter, t('.accepted'), ("accepted".in? @statuses)) %>
            <%= label_tag(:accepted_filter, t('.accepted')) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= check_box_tag(:expense_filter, t('.expense_request'), ("expenses".in? @types)) %>
            <%= label_tag(:expense_filter, t('.expense_request')) %>
          </td>
          <td>
            <%= check_box_tag(:declined_filter, t('.declined'), ("declined".in? @statuses)) %>
            <%= label_tag(:declined_filter, t('.declined')) %>
          </td>
        </tr>
        </tbody>
        </table>
        <%= submit_tag t('.apply_filter') %>
    <% end %>




    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.request.name') %></th>
        <th><%= t('activerecord.attributes.request.type') %></th>
        <th><%= t('activerecord.attributes.request.handed_in') %></th>
        <th><%= t('activerecord.attributes.request.status') %></th>
        <th><%= t('helpers.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @allrequests.each do |request| %>
          <tr>
            <td><%= request[:name] %></td>
            <td><%= request[:type] %></td>
            <td><%= l request[:handed_in] %></td>
            <td><%= t(request[:status], scope: 'chairs.requests') %></td>
            <td><%= link_to t('helpers.links.show_details'), request[:action] %></td>

      <% end %>
      </tr>
      </tbody>
    </table>
    </div>



