<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1><%= @chair.name %></h1>
    </div>

    <p><%= t('roles.chair_representative') %>: <%= @chair.representative.user.name if @chair.representative %></p>

    <strong><%= t('chairs.applications.long_plural') %>:</strong>
    <br>
    <% if @requests.empty? %>
      <p>
        <%= t('chairs.applications.no_applications') %>
      </p>
    <% else %>
      <table class="table table-striped">
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.user.name %></td>
            <td>
              <% if current_user.is_admin? %>
                <div class="btn-group">
                  <%= link_to t('chairs.applications.accept'), chairs_accept_path(id: @chair, request: request), method: :post, class: 'btn btn-success btn-xs' %>
                  <%= link_to t('chairs.applications.decline'), chairs_remove_user_path(id: @chair, request: request), method: :post, data: {confirm: t('helpers.links.confirm')}, class: 'btn btn-danger btn-xs' %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @chair.wimis.blank? %>
      <strong><%= I18n.t('roles.wimi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped">
        <% @chair.wimis.each do |wimi| %>
          <tr>
            <td><%= wimi.name %></td>
            <td>
              <% if wimi.is_admin?(@chair) %>
                <%= I18n.t('roles.admin_long') %>
                <% if current_user.is_admin?(@chair) && current_user != wimi %>
                  <%= link_to I18n.t('chairs.applications.withdraw_rights'), chairs_withdraw_admin_path(id: @chair, request: wimi.chair_wimi), method: :post, class: 'btn btn-danger btn-xs' %>
                <% end %>
              <% elsif wimi.is_representative?(@chair) %>
                <%= I18n.t('roles.chair_representative') %>
              <% else %>
                <% if current_user.is_admin?(@chair) %>
                  <%= link_to I18n.t('chairs.applications.grant_rights'), chairs_set_admin_path(id: @chair, request: wimi.chair_wimi), method: :post, class: 'btn btn-success btn-xs' %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if wimi.id != current_user.id && current_user.is_admin?(@chair) && !wimi.is_representative?(@chair) %>
                <%= link_to I18n.t('chairs.applications.remove_from_chair'), chairs_remove_user_path(id: @chair, request: wimi.chair_wimi), method: :post, data: {confirm: t('helpers.links.confirm')}, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @chair.hiwis.blank? %>
      <strong><%= I18n.t('roles.hiwi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped">
        <% @chair.hiwis.each do |hiwi| %>
          <tr>
            <td><%= hiwi.name %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if @user.is_representative? %>
      <div class="page-header">
        <h3><%= t('projects.index.all_working_hours') %></h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= select_month(Date.today, {}, { class: "form-control", id: "workingHoursChartMonth"}) %>
        </div>
        <div class="col-md-3">
          <%= select_year(Date.today, {start_year: Date.today.year - 2, end_year: Date.today.year + 2}, { class: "form-control", id: "workingHoursChartYear"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="hiwiWorkingHoursChart" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
