<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= @chair.name %>
      </div>
    </div>
    <dl>
        <dt><%= model_class.human_attribute_name(:abbreviation) %>:</dt>
        <dd><%= @chair.abbreviation %></dd>
        <dt><%= model_class.human_attribute_name(:description) %>:</dt>
        <dd><%= @chair.description %></dd>
        <dt><%= t('roles.chair_representative') %>:</dt>
        <dd><%= @chair.representative.user.name if @chair.representative %></dd>
    </dl>
    <% unless @chair.wimis.blank? %>
      <strong><%= I18n.t('roles.wimi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped">
        <% @chair.wimis.each do |wimi| %>
          <tr>
            <td><%= wimi.name %></td>
            <td>
              <%= wimi.roles_for_chair(@chair).join(', ') %>
              <% if wimi.is_admin?(@chair) %>
                <% if can?(:withdraw_admin, @chair) && current_user != wimi %>
                  <%= link_to I18n.t('chairs.applications.withdraw_rights'), chair_admin_path(@chair, wimi.chair_wimi), method: :delete, class: 'btn btn-danger btn-xs' %>
                <% end %>
              <% elsif can? :set_admin, @chair and not wimi.is_representative?(@chair) %>
                  <%= link_to I18n.t('chairs.applications.grant_rights'), chair_admins_path(@chair, request: wimi.chair_wimi), method: :post, class: 'btn btn-success btn-xs' %>
              <% end %>
            <td>
              <% if wimi != current_user && !wimi.is_representative?(@chair) && can?(:remove_user, @chair) %>
                <%= link_to I18n.t('chairs.applications.remove_from_chair'), chair_user_path(@chair, wimi.chair_wimi), method: :delete, data: {confirm: t('helpers.links.confirm')}, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @chair.hiwis.blank? %>
      <strong><%= I18n.t('roles.hiwi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped" id="hiwi_table">
        <% @chair.hiwis.each do |hiwi| %>
          <tr>
            <td><%= hiwi.name %></td>
            <%# do not display contract buttons to hiwis other than a hiwi herself %>
            <% if current_user.is_wimi? or current_user.id == hiwi.id %>
              <% contracts = hiwi.contract_with(@chair).to_a %>
              <% if contracts.size == 0 %>
                <td><%= t('chairs.contracts.none') %></td>
              <% else%>
                <% if contracts.size == 1 %>
                  <td><%= can_link t('chairs.contracts.one'), :show, contracts[0], class: "btn btn-default btn-xs" %></td>
                <%else%>
                <td><%= can_link t('chairs.contracts.several', count: contracts.size), :index, Contract, class: 'btn btn-default btn-xs', anchor: hiwi.first_name + '_' + hiwi.last_name %></td>
                <% end %>
              <% end %>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<% content_for :actions do %>
  <%= edit_button @chair, class: 'btn-block' %>
  <% if can?(:add_user, @chair) %>
    <hr>
    <%= link_to t('chair.user.add_prompt'), "",
          id: "open-popup",
          data: { toggle: "modal", target: "#add-users-modal" },
          class: 'btn btn-block btn-success'%>
  <% end %>
  <% if can?(:reporting, @chair) %>
    <hr/>
    <%= link_to t('.reporting') , chair_reporting_index_path(@chair), class: 'btn btn-block btn-info' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%# Recent activity %>
  <%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>
<% end %>
<% content_for :modals do %>
  <%= render 'add_user_to_chair' %>
<% end %>
