<%- model_class = Chair -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <%= @chair.name %>
        <% if can? :edit, @chair%>
          <%= link_to t('helpers.links.edit'), edit_chair_path(@chair), class: 'btn btn-warning btn-md pull-right' %>
        <% end %>
      </h1>
    </div>
    <dl>
        <dt><%= t('a', default: 'Abbreviation') %>:</dt>
        <dd><%= @chair.abbreviation %></dd>
        <dt><%= t('b', default: 'Description') %>:</dt>
        <dd><%= @chair.description %></dd>
        <dt><%= t('roles.chair_representative') %>:</dt>
        <dd><%= @chair.representative.user.name if @chair.representative %></dd>
    </dl>
    <% unless @chair.wimis.blank? %>
      <strong><%= I18n.t('roles.wimi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped">
        <% @chair.wimis.each do |wimi| %>
          <tr>
            <td><%= wimi.name %></td>
            <td>
              <% if wimi.is_admin?(@chair) %>
                <%= I18n.t('roles.admin_long') %>
                <% if current_user.is_admin?(@chair) && current_user != wimi %>
                  <%= link_to I18n.t('chairs.applications.withdraw_rights'), chairs_withdraw_admin_path(id: @chair, request: wimi.chair_wimi), method: :post, class: 'btn btn-danger btn-xs' %>
                <% end %>
              <% elsif wimi.is_representative?(@chair) %>
                <%= I18n.t('roles.chair_representative') %>
              <% else %>
                <% if current_user.is_admin?(@chair) %>
                  <%= link_to I18n.t('chairs.applications.grant_rights'), chairs_set_admin_path(id: @chair, request: wimi.chair_wimi), method: :post, class: 'btn btn-success btn-xs' %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if wimi.id != current_user.id && current_user.is_admin?(@chair) && !wimi.is_representative?(@chair) %>
                <%= link_to I18n.t('chairs.applications.remove_from_chair'), chairs_remove_user_path(id: @chair, request: wimi.chair_wimi), method: :post, data: {confirm: t('helpers.links.confirm')}, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless @chair.hiwis.blank? %>
      <strong><%= I18n.t('roles.hiwi_long_plural') %>:</strong>
      <br>
      <table class="table table-striped">
        <% @chair.hiwis.each do |hiwi| %>
          <tr>
            <td><%= hiwi.name %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% if @user.is_representative? %>
      <div class="page-header">
        <h3><%= t('projects.index.all_working_hours') %></h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <%= select_month(Date.today, {}, { class: "form-control", id: "workingHoursChartMonth"}) %>
        </div>
        <div class="col-md-3">
          <%= select_year(Date.today, {start_year: Date.today.year - 2, end_year: Date.today.year + 2}, { class: "form-control", id: "workingHoursChartYear"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="hiwiWorkingHoursChart" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.actions'%> </h4>
        </div>
        <div class="panel-body">
          <p>
            <% content_for :modals do %>
                <%= render 'add_user_to_chair' %>
            <% end %>
            <% if can?(:add_user, @chair) %>
              <%= link_to t('chair.user.add_prompt'), "", id: "open-popup", data: { toggle: "modal", target: "#add-users-modal" }%>
            <% end %>
          </p>
      </div>
    </div>
  </div>
<% end %>
