<%- model_class = Chair -%>
<div class="page-header">
  <h1><%= @chair.name %></h1>
</div>

<p>Beauftragter des Fachgebiets: <%= link_to current_user.name, edit_user_registration_path %></p>

<strong>Anfragen auf Mitgliedschaft:</strong>
<br>
<% if @requests.empty? %>
<p>
  keine Anfragen
</p>
<% else %>
<table class="table table-striped">
  <% @requests.each do |request| %>
  <tr>
    <td><%= request.user.name %></td>
    <td>
      <%= link_to 'Bestätigen', chairs_accept_path(:id => @chair, :request => request), :method => :post, :class => 'btn btn-default btn-xs' %>
      <%= link_to 'Ablehnen', chairs_remove_user_path(:id => @chair, :request => request), :method => :post, :class => 'btn btn-default btn-xs' %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<strong>Wissenschaftliche Mitarbeiter:</strong>
<br>
<table class="table table-striped">
  <% @chair.wimis.each do |wimi| %>
  <tr>
    <td><%= wimi.name %></td>
    <td>Anträge anzeigen</td>
    <td>
      <% if wimi.chair_wimi.admin %>Administrator<% end %>
    </td>
    <td>
    <%= link_to 'Aus Fachgebiet entfernen', chairs_remove_user_path(:id => @chair, :request => wimi.chair_wimi), :method => :post, :class => 'btn btn-default btn-xs' %>
    </td>
  </tr>
  <% end %>
</table>

<strong>Studentische Hilfskräfte:</strong>
<br>
<table class="table table-striped">
  <% @chair.hiwis.each do |hiwi| %>
  <tr>
    <td><%= hiwi.name %></td>
    <td>Stundenzettel anzeigen</td>
  </tr>
  <% end %>
</table>
