<p id="notice"><%= notice %></p>

<h1>Listing Work Months</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_months.each do |work_month| %>
      <tr>
        <td><%= work_month.name %></td>
        <td><%= work_month.year %></td>
        <td><%= link_to 'Show', work_month %></td>
        <td><%= link_to 'Edit', edit_work_month_path(work_month) %></td>
        <td><%= link_to 'Destroy', work_month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work month', new_work_month_path %>
