<%= form_for @user do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @user} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.user_data') %></h4>
    </div>
    <div class="panel-body">
      <%= bootstrap_form_group(f, :first_name) do %>
        <%= f.text_field :first_name, value: @user.first_name, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :last_name) do %>
        <%= f.text_field :last_name, value: @user.last_name, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :email) do %>
        <%= f.text_field :email, value: @user.email, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :city) do %>
        <%= f.text_field :city, value: @user.city, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :zip_code) do %>
        <%= f.text_field :zip_code, value: @user.zip_code, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :street) do %>
        <%= f.text_field :street, value: @user.street, class: 'form-control' %>
      <% end %>

      <%= bootstrap_form_group(f, :personnel_number) do %>
        <%= f.text_field :personnel_number, value: @user.personnel_number, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.event_settings') %></h4>
    </div>
    <div class="panel-body">
      <% Event.types.each do |typename, val| %>
        <% if typename == "default" %>
          <% next %>
        <% end %>
        <%= bootstrap_form_group(f, I18n.t('event.user_friendly_name.' + typename)) do %>
          <%= f.check_box :event_settings, { multiple: true }, val.to_i, nil %>
        <% end %>
      <% end %>
    </div>
  </div><br/><br/>
  <div class="actions">
    <div class="row">
      <div class="col-sm-9">
        <%= f.submit t('helpers.links.save'), class: 'btn btn-success btn-block' %>
      </div>
      <div class="col-sm-3">
        <%= link_to t("helpers.links.cancel"), current_user, class: "btn btn-default btn-block"%>
      </div>
    </div>
  </div>
<% end %>
