<%= form_for @user do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @user} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.user_data') %></h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <%= bootstrap_form_group(f, :first_name) do %>
            <%= f.text_field :first_name, value: @user.first_name, class: 'form-control' %>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= bootstrap_form_group(f, :last_name) do %>
            <%= f.text_field :last_name, value: @user.last_name, class: 'form-control' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
        <%= bootstrap_form_group(f, :personnel_number) do %>
          <%= f.text_field :personnel_number, value: @user.personnel_number, class: 'form-control' %>
          <%= content_tag :span, t('activerecord.attributes.user.personnel_number_help'), class: 'help-block' %>
        <% end %>
        </div>
      </div>
      <%= bootstrap_form_group(f, :email) do %>
        <%= f.text_field :email, value: @user.email, class: 'form-control' %>
        <%= content_tag :span, t('activerecord.attributes.user.email_help'), class: 'help-block' %>
      <% end %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <%= t('.event_settings') %>
        <%= content_tag("span", t('.toggle_all'), :data => {'toggle' => 'checkbox-master', 'target-class' => 'check-item'}, class: "btn btn-xs btn-info pull-right") %>
      </h4>
    </div>
    <div class="panel-body">
      <table class="table table-condensed table-hover">
        <tbody>
          <% Event.types.each do |typename, val| %>
            <tr>
              <%# .show sets element to display:block using bootstrap stylesheet, making label take up the width of the <td> %>
              <td><%= f.label "event_settings_#{val}", I18n.t('event.user_friendly_name.' + typename), class: "show" %></td>
              <td><%= f.check_box :event_settings, { multiple: true, class: 'check-item' }, val.to_i, nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><br/><br/>
  <div class="actions">
    <div class="row">
      <div class="col-sm-9">
        <%= f.submit t('helpers.links.save'), class: 'btn btn-success btn-block' %>
      </div>
      <div class="col-sm-3">
        <%= link_to t("helpers.links.cancel"), current_user, class: "btn btn-default btn-block"%>
      </div>
    </div>
  </div>
<% end %>
