<%- model_class = User -%>

<div class="panel panel-default">
  <div class="panel panel-heading">
    <h4><%=t('.private_data')%></h4>
  </div>
  <div class="panel panel-body">
    <%# i18n-tasks-use t('activerecord.attributes.user.email') %>
    <% [:email, :zip_code, :city, :street].each do |field| %>
      <p><strong><%= model_class.human_attribute_name(field)%>: </strong><%= @user[field] %></p>
    <% end %>

    <% if @user.is_hiwi? || @user.is_wimi? %>
      <p><strong><%= t('.user_status')%>: </strong><%= @user.is_wimi? ? t('.wimi') : t('.hiwi') %></p>
    <% end %>

    <p><strong><%= model_class.human_attribute_name(:personnel_number)%>: </strong><%= @user.personnel_number %></p>
    <p><strong><%= model_class.human_attribute_name(:language)%>: </strong><%= @user.language %></p>
    </p>
  </div>
</div>
