<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Personenbezogene Daten</h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label "Vorname", class: 'control-label' %>
        <%= f.text_field :first, value: @user.first, class: 'form-control' %>
        <%= error_span(@user[:first]) %>
      </div>
      <div class="form-group">
        <%= f.label "Nachname", class: 'control-label' %>
        <%= f.text_field :last_name, value: @user.last_name, class: 'form-control' %>
        <%= error_span(@user[:last_name]) %>
      </div>
      <div class="form-group">
        <%= f.label "Email", class: 'control-label' %>
        <%= f.text_field :email, value: @user.email, class: 'form-control' %>
        <%= error_span(@user[:email]) %>
      </div>
      <div class="form-group">
        <%= f.label "Wohnort", class: 'control-label' %>
        <%= f.text_field :residence, value: @user.residence, class: 'form-control' %>
        <%= error_span(@user[:residence]) %>
      </div>
      <div class="form-group">
        <%= f.label "Straße", class: 'control-label' %>
        <%= f.text_field :street, value: @user.street, class: 'form-control' %>
        <%= error_span(@user[:street]) %>
      </div>
      <div class="form-group">
        <%= f.label "Abteilung", class: 'control-label' %>
        <%= f.select :division_id,
          User::DIVISIONS.each_with_index.collect { |division, index| [division, index]},
          {}, { id: 'division_id', class: 'select optional form-control'} %>
        <%= error_span(@user[:division]) %>
      </div>
      <div class="form-group">
        <%= f.label "Personalnummer", class: 'control-label' %>
        <%= f.text_field :personnel_number, value: @user.personnel_number, class: 'form-control' %>
        <%= error_span(@user[:personnel_number]) %>
      </div>
      <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to "Abbrechen", current_user, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
