<%- model_class = User -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1><%=t '.title', default: model_class.model_name.human(count: 2).titleize %></h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:sign_in_count) %></th>
          <th><%= model_class.human_attribute_name(:current_sign_in_at) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, user_path(user) %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.current_sign_in_at ? l(user.current_sign_in_at, format: :full) : '' %></td>
            <td><%= l user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
