 <%- model_class = User -%>

<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1><%= t 'helpers.application_tabs.profile' %> <%= @user.name %></h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h3><%= t('.user_data') %></h3>
          </div>
          <div class="col-sm-3 col-sm-offset-3">
            <%= edit_button(@user, {class: 'btn-block', id: 'edit'}) %>
          </div>
        </div>
      </div>
      <div class="panel panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= render 'public_user_data' %>
          </div>
          <% if @user == current_user %>
          <div class="col-md-6">
            <%= render 'private_user_data' %>
          </div>
          <% end %>
        </div>
        <% if can? :edit, @user %>
          <div class="row">
            <div class="col-md-12">
              <%= render 'event_settings' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <% if can? :edit, @user %>
  <!-- Signature -->
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t('.signature') %></h4>
        </div>
        <div class="panel-body">
          <%= content_tag :p, t('.warning') %>
          <% if current_user.signature.nil? %>
            <%= t('.information') %>
            <p>
              <%= form_tag({action: :upload_signature}, multipart: true) do %>
                <%= file_field 'upload', 'datafile', class: 'btn btn-block btn-default' %><br/>
                <%= submit_tag t('helpers.links.upload'), class: 'btn btn-block btn-primary' %>
              <% end %>
            </p>
          <% else %>
            <p class="text-center">
              <% path = 'data:image/png;base64,' << current_user.signature %>
              <img src="<%= path %>" width="50%"/>
            </p>
            <%= link_to I18n.t('helpers.titles.destroy', model: model_class.human_attribute_name(:signature)),
                  delete_signature_path(current_user),
                  method: :post,
                  data: {confirm: t('helpers.links.confirm_delete', model: model_class.human_attribute_name(:signature))},
                  class: 'btn btn-block btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%=t('.download_settings')%></h4>
        </div>
        <div class="panel-body">
          <%= form_for @user do |f| %>
            <% User.include_comments.each do |typename, val| %>
            <div class="radio">
              <label>
                <%= f.radio_button :include_comments, typename %>
                <%= t('.include_comments.' + typename) %>
              </label>
            </div>
            <% end %>
            <%= f.submit t('helpers.links.save'), class: 'btn btn-success btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <% end %>
  <%# Recent activity %>
  <%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>
<% end %>

<% if can? :see_holidays, @user and false %>
  <%= form_for(@user) do |f| %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-6">
                <h4><a class="anchor" name="holidays"><%= t('.holiday_requests') %></a></h4>
              </div>
              <div class="col-sm-4 col-sm-offset-2">
                <%# if @user == current_user %>
                    <%#= link_to t('.request_holiday'), new_holiday_path, class: "btn btn-success btn-block" %>
                <%# end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <%= f.label :remaining_leave, t('.remaining_leave', leave: @user.remaining_leave.to_s) %>
                  <% if @user.remaining_leave_last_year > 0 %>
                    <%= f.label :remaining_leave_last_year, t('.remaining_leave_last_year', leave_last_year: @user.remaining_leave_last_year.to_s, last_year: Date.today.year-1) %>
                    <% if Date.today <= Date.new(Date.today.year, 3, 31) %>
                        <br><%= f.label(:warning, t('.warning_label', last_year: Date.today.year-1, year: Date.today.year), style: 'color:#ff0000') %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-sm-2">
                  <% if @user == current_user %>
                    <%= link_to t("helpers.links.edit_leave"),
                              users_edit_leave_path(id: @user.id), class: 'btn btn-warning btn-xs' %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th><%= t('activerecord.attributes.holiday.duration') %></th>
                  <th><%= t('activerecord.attributes.holiday.start') %></th>
                  <th><%= t('activerecord.attributes.holiday.end') %></th>
                  <th><%= t('activerecord.attributes.holiday.status') %></th>
                  <th><%= t('helpers.actions') %></th>
                </tr>
                </thead>
                <tbody>
                <% @user.holidays.each do |holiday| %>
                  <% if can? :read, holiday %>
                    <tr>
                      <td><%= holiday.length %> <%= t('.days') %></td>
                      <td><%= l holiday.start %></td>
                      <td><%= l holiday.end %></td>
                      <td><%= t(".status.#{holiday.status}") %></td>
                      <td>
                        <div class="btn-group">
                          <%= link_to t("helpers.links.show_details"),
                                    holiday_path(holiday), class: 'btn btn-default btn-xs' %>
                          <%= link_to t("helpers.links.download_pdf"), generate_pdf_path(doc_type: 'Holiday_request', doc_id: holiday), class: 'btn btn-info btn-xs' %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if can? :see_trips, @user and false %>
  <%= form_for(@user) do |f| %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6">
                <h4><a class="anchor" name="trips"><%= t('.business_trips') %></a></h4>
              </div>
              <div class="col-sm-4 col-sm-offset-2">
                <% if @user == current_user %>
                    <%= link_to t('.request_trip'), new_trip_path, class: "btn btn-success btn-block", id: "create_trip" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= t('activerecord.attributes.trip.destination') %></th>
                    <th><%= t('activerecord.attributes.trip.date_start') %></th>
                    <th><%= t('activerecord.attributes.trip.date_end') %></th>
                    <th><%= t('activerecord.attributes.trip.status') %></th>
                    <th><%= t('helpers.actions') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @trips.each do |trip| %>
                    <tr>
                      <td><%= trip.destination %></td>
                      <td><%=l trip.date_start %></td>
                      <td><%=l trip.date_end %></td>
                      <td><%= t(".status.#{trip.status}")%></td>
                      <td>
                        <div class="btn-group">
                          <%= link_to t("helpers.links.show_details"),
                                    trip_path(trip), class: 'btn btn-default btn-xs' %>
                        <%= link_to t("helpers.links.download_pdf"), generate_pdf_path(doc_type: 'Trip_request', doc_id: trip), class: 'btn btn-info btn-xs' %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
