<%- model_class = User -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:first) %>:</strong></td>
    <td><%= current_user.first %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></td>
    <td><%= current_user.last_name %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:residence) %>:</strong></td>
    <td><%= current_user.residence %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:street) %>:</strong></td>
    <td><%= current_user.street %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:division) %>:</strong></td>
    <td><%= current_user.division %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:number) %>:</strong></td>
    <td><%= current_user.number %></td>    
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:language) %>:</strong></td>
    <td><%= current_user.language %></td>    
  </tr>
  
</table>



<div>
  <%= link_to t('.edit', :default => t('helpers.links.edit')), edit_user_path, :class => 'btn btn-primary' %>
</div>
<div>
  <br>
  <%= link_to t('.edit_reg_data', :default => 'Edit Registration Data'), edit_user_registration_path, :class => 'btn btn-default'%>
</div>