<%= link_to "E-Mail anzeigen", edit_user_registration_path, class: "btn btn-default"%>
<p></p>
<div class="panel panel-default">
  <div class="text text-right">
    <%= link_to "Bearbeiten", edit_user_path %>
  </div>
  <div class="panel-heading">
    <h4>Personenbezogene Daten</h4>
  </div>
  <div class="panel-body">
    <p>Vorname: <%= current_user.first %></p>
    <p>Name: <%= current_user.last_name %></p>
    <p>Wohnort: <%= current_user.residence %></p>
    <p>Straße: <%= current_user.street %></p>
    <p>Abteilung: <%= current_user.division %></p>
    <p>Personalnummer: <%= current_user.personnel_number %></p>
  </div>
</div>
