 <%- model_class = User -%>

<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1><%= t 'helpers.application_tabs.profile' %> <%= @user.name %></h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h3><%= t('.user_data') %></h3>
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <%= edit_button(@user, {class: 'btn-block', id: 'edit'}) %>
          </div>
        </div>
      </div>
      <div class="panel panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= render 'public_user_data' %>
          </div>
          <% if @user == current_user %>
          <div class="col-md-6">
            <%= render 'private_user_data' %>
          </div>
          <% end %>
        </div>
        <% if can? :edit, @user %>
          <div class="row">
            <div class="col-md-12">
              <%= render 'event_settings' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <% if can? :edit, @user %>
  <!-- Signature -->
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t('.signature') %></h4>
        </div>
        <div class="panel-body">
          <%= content_tag :p, t('.warning') %>
          <% if current_user.signature.nil? %>
            <%= t('.information') %>
            <p>
              <%= form_tag({action: :upload_signature}, multipart: true) do %>
                <%= file_field 'upload', 'datafile', class: 'btn btn-block btn-default' %><br/>
                <%= submit_tag t('helpers.links.upload'), class: 'btn btn-block btn-primary' %>
              <% end %>
            </p>
          <% else %>
            <p class="text-center">
              <% path = 'data:image/png;base64,' << current_user.signature %>
              <img src="<%= path %>" width="50%"/>
            </p>
            <%= link_to I18n.t('helpers.titles.destroy', model: model_class.human_attribute_name(:signature)),
                  delete_signature_path(current_user),
                  method: :post,
                  data: {confirm: t('helpers.links.confirm_action.message', model: model_class.human_attribute_name(:signature), action: t('helpers.links.confirm_action.delete'))},
                  class: 'btn btn-block btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%=t('.download_settings')%></h4>
        </div>
        <div class="panel-body">
          <%= form_for @user do |f| %>
            <% User.include_comments.each do |typename, val| %>
            <div class="radio">
              <label>
                <%= f.radio_button :include_comments, typename %>
                <%= t('.include_comments.' + typename) %>
              </label>
            </div>
            <% end %>
            <%= f.submit t('helpers.links.save'), class: 'btn btn-success btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <% end %>
  <%# Recent activity %>
  <%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>
<% end %>
