<%- model_class = TripDatespan -%>
<li><%= model_class.human_attribute_name(:start_date)%>: <%= l trip_datespan.start_date %> <%= model_class.human_attribute_name(:end_date)%>: <%= l trip_datespan.end_date %> <%= model_class.human_attribute_name(:days_abroad)%>: <%= trip_datespan.days_abroad %></li>
