<%= form_for @project, :html => { :class => "form-horizontal project" } do |f| %>

    <% if @project.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls col-md-12">
      <div class="col-md-5" style="margin-left: -5px">
      <%= f.text_field :title, :class => 'form-control' %></div>
    </div>
    <%= error_span(@project[:title]) %>
  </div>


    <div class="control-group">
      <%= f.label :status, "Status",  :class => 'control-label' %>
      <div class="radio">
        <div> <div class="col-md-1"> <%= label :status, "active"%></div>
          <div class="col-md-1"> <%= f.radio_button :status, true, :value => true%></div></div>
        <div><div class="col-md-1"><%= label :status, "inactive"%></div>
          <div class="col-md-1"> <%= f.radio_button :status, false, :value => false%></div></div>
      </div>
      <%= error_span(@project[:status]) %>
    </div>

    <div class="control-group">
      <%= f.label :public, "Accessibility",  :class => 'control-label' %>
      <div class="radio">
        <div> <div class="col-md-1"> <%= label :public, "public"%></div>
         <div class="col-md-1"> <%= f.radio_button :public, true, :value => true%></div></div>
        <div><div class="col-md-1"><%= label :public, "private"%></div>
         <div class="col-md-1"> <%= f.radio_button :public, false, :value => false%></div></div>
      </div>
      <%= error_span(@project[:public]) %>
    </div>

  <div class="control-group">
    <%= f.label :users, :class => 'control-label' %>
    <div class="col-md-4">
      <%= User.find_each do |user| %>
        <% is_member = @project.users.include?(user) %>
        <% element_id = (user == current_user && is_member ? "currentUserCheckbox" : "project_user_ids_#{user.id}") %>
          <input value="<%= user.id %>" name="project[user_ids][]" id="<%= element_id %>" type="checkbox" <%= "checked" if is_member %>
          <label for="<%= element_id %>"><%= user.email %></label>
      <% end %>
      <input name="project[user_ids][]" value="" type="hidden">
    </div>
    <%= error_span(@project[:users]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            projects_path, :class => 'btn btn-default' %>

<% end %>
