<%- model_class = Project -%>
<%= form_for @project do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @project} %>

  <div class="row">
    <div class="col-md-12 novertpadding col-sm-12">
      <%= bootstrap_form_group(f, :title) do %>
        <%= f.text_field :title, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <%= f.label :public, t('projects.form.accessibility'),  class: 'control-label' %>
        <div class='radio'>
          <div class='col-md-2'>
            <div style='margin-left: 20px'> <%= f.radio_button :public, true, value: true%>
              <%= label :public, t('projects.show.public')%>
            </div>
          </div>
          <div class='col-md-2'>
            <div style='margin-left: 20px'> <%= f.radio_button :public, false, value: false%>
              <%= label :public, t('projects.show.private')%>
            </div>
          </div>
        </div>
        <%= error_span(@project[:public]) %>
      </div>
    </div>
  </div>

  <% if @project.persisted? %>
    <div class="row">
      <div class="col-md-12 novertpadding col-sm-12">
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
            <tr>
              <th width="600px"><%= t('projects.form.wimi') %></th>
              <th width="600px"><%= t('helpers.actions') %></th>
            </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_wimi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                    <td>
                      <% if @project.wimis.count > 1 %>
                        <% if can? :edit, @project%>
                          <% btnId = user == current_user ? 'SignOutMyself' : 'SignOut' %>
                          <%= link_to t('projects.form.sign_out_of_project'), remove_user_project_path(user: user, id: @project), method: :delete, class: 'btn btn-danger btn-xs', id: btnId %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 novertpadding col-sm-12">
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"> <%= t('projects.form.hiwi') %></th>
                <th width="600px"><%= t('helpers.actions')%></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_hiwi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user %>
                    </td>
                    <td>
                      <% if can? :edit, @project %>
                        <% btnId = user == current_user ? 'SignOutMyself' : 'SignOut' %>
                        <%= link_to t('projects.form.sign_out_of_project'), remove_user_project_path(user: user, id: @project), method: :delete, class: 'btn btn-danger btn-xs', id: btnId %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div align="right">
    <span>* <%= t'helpers.forms.required_field'%></span>
  </div>

  <%= f.submit nil, class: 'hidden', id: 'form-submit-btn' %>
<% end %>

<% content_for :actions do %>
  <% model_name = model_class.model_name.human.titleize %>
  <%# Label that triggers the 'form-submit-btn' submit button when clicked.
      Allows submitting the form with an element not inside the form element %>
  <%= label_tag 'form-submit-btn',
      @project.new_record? ? t('helpers.submit.create', model: model_name) : t('helpers.submit.update', model: model_name),
      class: 'btn btn-block btn-success' %>
  <%# Button to toggle project's active state %>
  <% if can? :edit, @project and @project.persisted? %>
    <hr>
    <% if @project.status %>
      <%= link_to t('projects.show.set_inactive'), toggle_status_project_path, method: :get, class: 'btn btn-block btn-warning', id: 'setInactiveButton' %>
    <% else %>
      <%= link_to t('projects.show.set_active'), toggle_status_project_path, method: :get, class: 'btn btn-block btn-warning'%>
    <% end %>
  <% end %>
  <%= delete_button @project, class: 'btn-block' if @project.persisted? %>
  <%= link_to t("helpers.links.cancel"), :back, class: 'btn btn-block btn-default' %>
<% end %>
