<%= form_for @project do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @project} %>

  <div class="row">
    <div class="col-md-12 novertpadding col-sm-12">
      <div class="form-group <%= 'has-error' if @project.errors[:title].any? %>">
        <%= f.label :title, class: 'control-label' %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= content_tag :span, @project.errors[:title].join(', '), :class => "help-block" if @project.errors[:title].any? %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="form-group">
        <%= f.label :public, t('projects.form.accessibility'),  class: 'control-label' %>
        <div class='radio'>
          <div class='col-md-2'>
            <div style='margin-left: 20px'> <%= f.radio_button :public, true, value: true%>
              <%= label :public, t('projects.show.public')%>
            </div>
          </div>
          <div class='col-md-2'>
            <div style='margin-left: 20px'> <%= f.radio_button :public, false, value: false%>
              <%= label :public, t('projects.show.private')%>
            </div>
          </div>
        </div>
        <%= error_span(@project[:public]) %>
      </div>
    </div>
  </div>

  <% if @project.persisted? %>
    <div class="row">
      <div class="col-md-12 novertpadding col-sm-12">
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
            <tr>
              <th width="600px"><%= t('projects.form.wimi') %></th>
              <th width="600px"><%= t('helpers.actions') %></th>
            </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_wimi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                    <td>
                      <% if @project.wimis.count > 1 %>
                        <% if can? :edit, @project%>
                          <% btnId = user == current_user ? 'SignOutMyself' : 'SignOut' %>
                          <%= link_to t('projects.form.sign_out_of_project'), remove_user_project_path(user: user, id: @project), method: :delete, class: 'btn btn-danger btn-xs', id: btnId %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 novertpadding col-sm-12">
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"> <%= t('projects.form.hiwi') %></th>
                <th width="600px"><%= t('helpers.actions')%></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_hiwi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user %>
                    </td>
                    <td>
                      <% if can? :edit, @project %>
                        <% btnId = user == current_user ? 'SignOutMyself' : 'SignOut' %>
                        <%= link_to t('projects.form.sign_out_of_project'), remove_user_project_path(user: user, id: @project), method: :delete, class: 'btn btn-danger btn-xs', id: btnId %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>


  <% unless @project.persisted? %>
    <div class="row">
      <div class="col-md-12 novertpadding col-sm-12">
        <div class="row">
          <div class="col-md-12 col-sm-12" style="padding-bottom: 0px;">
            <strong> <%= t '.invite_init_user' %></strong> <br>
          </div>
        </div>
        <span class="row" style="padding-top: 0px;">
          <div class="col-md-9 col-sm-9">
            <%= f.text_field :email, { id: 'invitation_mail', value: '', name:'invitationfield' ,class: 'typeahead form-control', size: 57, placeholder: 'max.mustermann@student.hpi.uni-potsdam.de' } %>
          </div>
          <div class="col-md-3 col-sm-3">
            <input type="button" id='invite_user' class='btn btn-info btn-block' value="<%= t('projects.form.invite_init_user') %>">
          </div>
        </span>
        <div id="invited_users" class="row"></div>
      </div>
    </div>
  <% end %>

  <div class="row edit-btns">
    <div class="col-md-8 col-sm-8">
      <%= f.submit nil, class: 'btn btn-success btn-block' %>
    </div>
    <% if (can? :destroy, @project) && @project.persisted? %>
      <div class="col-md-2 col-sm-2">
          <%= link_to t('helpers.links.destroy'),
                        project_path(@project),
                        method: 'delete',
                        data: { confirm: t('helpers.links.confirm_delete', model: @project.title) },
                        class: 'btn btn-danger btn-block' %>
      </div>
      <div class="col-md-2 col-sm-2">
    <% else %>
      <div class="col-md-4 col-sm-4">
    <% end %>
        <%= link_to t("helpers.links.cancel"), @project.persisted? ? project_path(@project) : projects_path, class: 'btn btn-default btn-block' %>
      </div>
  </div>

<% end %>
