<%- model_class = Project -%>
<div class="col-md-12">
  <div class="display">

    <div class="page-header">
      <h1>
        <%=t '.projects' %>
      </h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @projects.empty? %>
          <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.project.other', default: model_class.model_name.human.pluralize) %> </p> <br>
        <% else %>
          <%= datatable_tag(class: "table-striped table-hover", searching: false) do %>
            <thead>
              <tr>
                <th><%= t('.title', default: model_class.human_attribute_name(:title)) %></th>
                <th><%= t('projects.show.chair', default: model_class.human_attribute_name(:chair)) %></th>
                <th><%= t('projects.form.hiwi') %></th>
                <th><%= t('.status')%></th>
                <th data-orderable="false"><%= t '.actions', default: t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                  <tr>
                    <td><%= linked_name project %></td>
                    <td><%= linked_name project.chair %></td>
                    <td><%= project.hiwis.count %></td>
                    <%# i18n-tasks-use t'.status_false' t'.status_true' %>
                    <td><%= t(".status_#{project.status.to_s}") %></td>
                    <td>
                      <%= show_button project, class: 'btn-xs' %>
                      <%= edit_button project, class: 'btn-xs' %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          <% end %> <%# datatable_tag %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="col-md-12">
    <div class="display">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> <%= t 'helpers.actions'%> </h4>
        </div>
        <div class="panel-body">
          <%= create_button Project, class: 'btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <!--Filter-->
  <%= form_tag projects_path, method: :get, id: 'Form', class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> <%= t('project.filter_chair') %> </h4>
          </div>
          <div class="panel-body" style="padding: 0px;">
            <div class="col-md-12 nobottompadding">
              <strong><%= t('projects.index.title')%></strong>
              <%= text_field_tag :title, params[:title], placeholder: t('activerecord.attributes.project.title'), class: "form-control" %>
            </div>
            <div class="col-md-12 nobottompadding">
              <strong><%= t('projects.show.chair')%></strong>
              <%= select_tag :chair, options_from_collection_for_select(Chair.all, 'name', 'name', params.fetch(:chair, nil)), { class: 'select optional form-control', include_blank: true} %>
            </div>
            <div class="col-md-12">
              <%= submit_tag t('links.search'), class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
