<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag projects_path, :method => :get, :id => 'Form', :class => "form-horizontal" do %>
  <div class="col-md-12">
    <div class="col-md-2">
      <%= t('project.filter_chair', default: 'Filter nach Fachgebiet') %>
    </div>
    <div class="col-md-2">
      <%= select_tag :chair, options_for_select(Chair.all.map { |chair| [chair.name, chair.name]}, params.fetch(:chair, nil)), { class: 'select optional form-control', include_blank: true} %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <%= text_field_tag :title, params[:title], :placeholder => "Titel des Projekts", :class => "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag t('links.search', default: 'Suchen'), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="col-md-12">
  </br>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, project_path(project) %></td>
        <td><%= project.title %></td>
        <td><%=l project.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
