<%- model_class = Project -%>
<div class="col-md-12">
  <div class="display">

    <div class="page-header">
      <h1>
        <%=t '.projects' %>
        <% if can? :create, Project %>
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_project_path,
                      class: 'btn btn-success pull-right' %>
        <% end %>
      </h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @projects.empty? %>
          <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.project.other', default: model_class.model_name.human.pluralize) %> </p> <br>
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('.title', default: model_class.human_attribute_name(:title)) %></th>
                <th><%= t('projects.show.chair', default: model_class.human_attribute_name(:chair)) %></th>
                <th><%= t('.accessibility', default:'Accessibility') %></th>
                <th><%= t('.status')%></th>
                <% if can? :edit, @projects %>
                  <th><%= t '.actions', default: t("helpers.actions") %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                  <tr>
                    <td><%= link_to project.title, project %></td>
                    <td><%= can?(:show, project.chair) ? link_to(project.chair.name, project.chair) : project.chair.name %></td>
                    <td><%= project.public ? t('.public', default:'public') : t('.private', default:'private') %></td>
                    <td><%= t('.status_' + project.status.to_s) %></td>
                    <td>
                      <% if can? :edit, project %>
                        <%= link_to t('helpers.links.edit'),
                                    edit_project_path(project), class: 'btn btn-warning btn-xs' %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <!--Filter-->
  <%= form_tag projects_path, method: :get, id: 'Form', class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> <%= t('project.filter_chair') %> </h4>
          </div>
          <div class="panel-body" style="padding: 0px;">
            <div class="col-md-12 nobottompadding">
              <strong><%= t('projects.index.title')%></strong>
              <%= text_field_tag :title, params[:title], placeholder: t('activerecord.attributes.project.title'), class: "form-control" %>
            </div>
            <div class="col-md-12 nobottompadding">
              <strong><%= t('projects.show.chair')%></strong>
              <%= select_tag :chair, options_from_collection_for_select(Chair.all, 'name', 'name', params.fetch(:chair, nil)), { class: 'select optional form-control', include_blank: true} %>
            </div>
            <div class="col-md-12">
              <%= submit_tag t('links.search'), class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
