<%- model_class = Project -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1><%= @project.title %> <span> <%= @project.status ? '' : t('.inactive', default:'(inactive)') %></span></h1>
      <% if can? :edit, @project%>
          <%= link_to t('.edit', default: t('helpers.links.edit')), edit_project_path(@project), class: 'btn btn-warning btn-md pull-right', style:'margin-top: -50px' %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <dl class="">
          <dt><%= t('.chair', default:'Chair') %>:</dt>
          <dd><%= @project.chair.name %></dd>
          <dt><%= t('.chair_representative', default:'Chair Representative')%></dt>
          <dd><%= @project.chair.representative.user.name%></dd>
          <dt><%= t('.project_visibility', default:'Visibility') %>:</dt>
          <dd><%= @project.public ? t('.public', default:'Public') : t('.private', default:'private') %></dd>
        </dl>
      </div>

      <div class="col-md-6 col-sm-6">
        <dl class="">
          <% if can? :add_working_hours, @project %>
          <dt><strong><%= t('.working_hours') %>:</strong></dt>
            <dd>
              <div>
                <% current_user.work_year_months_for_project(@project).each do |month| %>
                  <p>
                    <%= link_to Date::MONTHNAMES[month.last] + " " + month.first.to_s,
                                work_days_path(month: month.last, year: month.first, project: @project)%>
                  </p>
                <% end %>
              </div>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>


    <% if current_user.is_hiwi? %>
      <dl class="dl-horizontal">
        <dt><strong><%= t('.working_hours', default:'Working hours') %>:</strong></dt>
        <dd><%= link_to t('projects.show.add_working_hours', default:'Add working hours'),
                        new_work_day_path, class: 'pull-right', style: 'margin-right: 15px' %>
          <div>
            <% current_user.work_year_months_for_project(@project).each do |month| %>
              <p>
                <%= link_to Date::MONTHNAMES[month.last] + " " + month.first.to_s,
                            work_days_path(month: month.last, year: month.first, project: @project)%>
              </p>
            <% end %>
          </div>
        </dd>
      </dl>
    <% end %>



    <dl class="">
      <dt><strong><%= t('.project_team', default:'Project Team') %>:</strong> </dt>
      <dd>
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"><%= t('projects.form.wimi', default: 'Research Assistants:') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_wimi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"> <%= t('projects.form.hiwi', default:'Student Assistants:') %></th>
                <th width="600px"><%= t '.actions', default: t('helpers.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_hiwi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                    <td>
                      <% if can? :edit, @project or user == current_user%>
                        <%= link_to t('projects.form.show_working_hours', default:'Show working hours'), work_days_path(month: 1, year: 2016, project: @project.id), class: 'btn btn-default btn-xs' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>


    <div style="margin-bottom: 20px">
      <% if can? :create, ProjectApplication %>
        <% if project_application = @project.project_applications.find_by(user: current_user) %>
          <% case project_application.status %>
          <% when 'pending' %>
            <%= link_to t('project_applications.pending_cancel', default: 'Application Pending - Cancel'),
              project_application_path(project_application),
              method: :delete,
              data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
          <% when 'declined' %>
            <%= link_to t('project_applications.refused_reapply', default: 'Application refused - Reapply'),
              reapply_project_application_path(project_application), class: 'btn btn-danger' %>
          <% end %>
        <% else %>
          <%= link_to t('.apply', default: t('helpers.links.apply')),
            apply_project_applications_path(id: @project.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <%= link_to t('.back', default: t('helpers.links.back')),
        projects_path, class: 'btn btn-default' %>
    </div>

    <% if @project.project_applications.exists? %>
      <% if can? :accept, ProjectApplication and @project.users.exists?(id: current_user.id) %>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:name) %></th>
              <th><%= model_class.human_attribute_name(:email) %></th>
              <th><%=t '.actions', default: t('helpers.actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @project.project_applications.each do |project_application| %>
              <% if project_application.pending? %>
                <tr>
                  <td><%= project_application.user.name %></td>
                  <td><%= project_application.user.email %></td>
                  <td>
                    <div>
                      <%= link_to t('project_applications.accept_application', default: 'Accept application'),
                        accept_project_application_path(project_application),
                        class: 'btn btn-success' %>
                      <%= link_to t('project_applications.decline_application', default: 'Decline Application'),
                        decline_project_application_path(project_application),
                        class: 'btn btn-danger' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <!--Filter-->
  <%= form_tag projects_path, method: :get, id: 'Form', class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> <%= t 'helpers.actions'%> </h4>
          </div>
          <div class="panel-body">
            <p>
              <% if @project.users.include? current_user%>
                <%= link_to t('.leave_project', default:'Leave Project'),
                              sign_user_out_project_path(user_id: current_user.id, id: @project), method: :delete %>
              <% end %>
            </p>
            <p>
              <% content_for :modals do %>
                  <%= render 'invite_user' %>
              <% end %>
              <% if can?(:invite_user, @project) %>
                <%= link_to t('project.invite_someone_to_project'), "", id: "open-popup", data: { toggle: "modal", target: "#invite-colleagues-modal" }%>
              <% end %>
            </p>
            <p>
              <% if can? :edit, @project %>
                <%= link_to t('projects.form.show_all_working_hours', default:'Show all working hours'),
                              work_days_path(month: 1, year: 2016, project: @project)%>
              <% end %>
            </p>
            <p>
              <% if current_user.is_hiwi? %>
                <%= link_to t('projects.show.add_working_hours', default:'Add working hours'),
                            new_work_day_path %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
