<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %> #<%= @project.id %>: <%= @project.title %> <span> <%= @project.status ? '' : t('.inactive', default:'(inactive)') %></span></h1>
  <% if can? :edit, @project%>
      <% if @project.status%>
          <%= button_to t('.set_inactive', default: 'set inactive'), toggle_status_project_path, method: :get, class: 'btn btn-danger btn-xs pull-right', style:'margin-top: -20px', id: 'setInactiveButton' %>
      <% else %>
          <%= button_to t('.set_active', default: 'set active'), toggle_status_project_path, method: :get, class: 'btn btn-success btn-xs pull-right', style:'margin-top: -20px'%>
      <% end %>
  <% end %>
</div>


<dl class="dl-horizontal">
  <dt><%= t('.chair', default:'Chair') %>:</dt>
  <dd><%= @project.chair.name %></dd>
  <dt><%= t('.chair_representative', default: 'Chair Representative') %>:</dt>
  <dd><%= @project.chair.representative.user.name %></dd>
  <dt><%= t('.project_visibility', default:'Visibility') %>:</dt>
  <dd><%= @project.public ? t('.public', default:'Public') : t('.private', default:'private') %></dd>
  <dt><%= t('.project_leader', default: 'Project Leader') %>:</dt>
  <dd>
    <%if @project.project_leader.blank? %>
        <i><%= t('.not_defined', default:'not defined') %></i>
    <% else %>
        <%= @project.project_leader %></dd>
    <% end %>
    </dl>

<% if current_user.is_hiwi? %>
  <dl class="dl-horizontal">
    <dt><strong><%= t('.working_hours', default:'Working hours') %>:</strong></dt>
    <dd><%= link_to t('projects.form.add_working_hours', default:'Add working hours'),
                    new_work_day_path, class: 'pull-right', style: 'margin-right: 15px' %>
      <div>
        <% current_user.work_year_months_for_project(@project).each do |month| %>
          <p>
            <%= link_to Date::MONTHNAMES[month.last] + " " + month.first.to_s,
                        work_days_path(month: month.last, year: month.first, project: @project.id)%>
          </p>
        <% end %>
      </div>
    </dd>
  </dl>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= t('.research_assistants', default:'Research Assistants') %>:</strong> </dt>
  <dd>
    <% @project.users.sort { |a,b| a.name <=> b.name }.each do |user| %>
        <div <%= "class='current'" if user == @user%>>
          <% if user.is_wimi?%>
              <div style="margin-bottom: 15px">
                <%= user.name %>
              </div>
          <% end %>
        </div>
    <% end %>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= t('.student_assistants', default:'Student Assistants') %>:</strong> </dt>
  <dd>
    <% @project.users.sort { |a,b| a.name <=> b.name }.each do |user| %>
        <div <%= "class='current'" if user == @user %>>
          <% if user.is_hiwi?%>
              <div style="margin-bottom: 15px">
                <%= user.name %>
                <% if can? :edit, @project or user == current_user%>
                  <%= link_to t('projects.form.show_working_hours', default:'Show working hours'), work_days_path(month: 1, year: 2016, project: @project.id), class: 'btn btn-warning btn-xs' %>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
  </dd>
</dl>

<div>
  <% if can? :create, ProjectApplication %>
    <% if project_application = @project.project_applications.find_by(user_id: current_user.id) %>
      <% case project_application.status %>
        <% when 'pending' %>
          <%= link_to t('project_applications.pending_cancel', default: 'Application Pending - Cancel'),
            project_application_path(project_application),
            method: :delete,
            data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
            class: 'btn btn-danger' %>
        <% when 'declined' %>
          <%= link_to t('project_applications.refused_reapply', default: 'Application refused - Reapply'),
            reapply_project_application_path(project_application), class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <%= link_to t('.apply', default: t('helpers.links.apply')),
        apply_project_applications_path(id: @project.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to t('.back', default: t('helpers.links.back')),
    projects_path, class: 'btn btn-default' %>
  <% if can? :edit, @project %>
    <%= link_to t('.edit', default: t('helpers.links.edit')),
      edit_project_path(@project), class: 'btn btn-default' %>
  <% end %>
  <% if @project.users.include? current_user%>
      <%= link_to t('.leave_project', default:'Leave Project'),
                  sign_user_out_project_path(user_id: current_user.id, id: @project), method: :delete, class: 'btn btn-default' %>
  <% end %>
  <% if can? :destroy, @project %>
    <%= link_to t('.destroy', default: t('helpers.links.destroy')),
      project_path(@project),
      method: 'delete',
      data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
      class: 'btn btn-danger' %>
  <% end %>
  <% if can? :edit, @project %>
      <%= link_to t('projects.form.show_all_working_hours', default:'Show all working hours'),
                  work_days_path(month: 1, year: 2016, project: @project.id), class: 'btn btn-default pull-right', style: 'margin-right: 15px' %>
  <% end %>
</div>

<% content_for :modals do %>
    <%= render 'invite_user' %>
<% end %>

<% if can?(:invite_user, @project) %>
    <%= link_to t('project.invite_someone_to_project'), "", id: "open-popup", data: { toggle: "modal", target: "#invite-colleagues-modal" }, class: "btn btn-default pull-right" %>
<% end %>

<% if can? :edit, @project %>
    <%= link_to t('projects.form.show_all_working_hours', default:'Show all working hours'),
                work_days_path(month: 1, year: 2016, project: @project.id), class: 'btn btn-default pull-right', style: 'margin-right: 15px' %>
<% end %>

<% if can? :accept, ProjectApplication and @project.users.exists?(id: current_user.id) %>
  <table class='table table-striped'>
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', default: t('helpers.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @project.project_applications.each do |project_application| %>
      <% if project_application.pending? %>
        <tr>
          <td><%= project_application.user.name %></td>
          <td><%= project_application.user.email %></td>
          <td>
            <div>
              <%= link_to t('project_applications.accept_application', default: 'Accept application'),
                accept_project_application_path(project_application),
                class: 'btn btn-success' %>
              <%= link_to t('project_applications.decline_application', default: 'Decline Application'),
                decline_project_application_path(project_application),
                class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>