<%- model_class = Project -%>
<div class="page-header">
 <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class='dl-horizontal'>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>
</dl>

<div>
  <% if can? :create, ProjectApplication %>
    <% if project_application = @project.project_applications.find_by(user_id: current_user.id) %>
      <% case project_application.status %>
        <% when 'pending' %>
          <%= link_to t('project_applications.pending_cancel', default: 'Application Pending - Cancel'),
            project_application_path(project_application),
            method: :delete,
            data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
            class: 'btn btn-danger' %>
        <% when 'declined' %>
          <%= link_to t('project_applications.refused_reapply', default: 'Application refused - Reapply'),
            reapply_project_application_path(project_application), class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <%= link_to t('.apply', default: t('helpers.links.apply')),
        apply_project_applications_path(id: @project.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <%= link_to t('.back', default: t('helpers.links.back')),
    projects_path, class: 'btn btn-default' %>
  <% if can? :edit, @project %>
    <%= link_to t('.edit', default: t('helpers.links.edit')),
      edit_project_path(@project), class: 'btn btn-default' %>
  <% end %>
  <% if can? :destroy, @project %>
    <%= link_to t('.destroy', default: t('helpers.links.destroy')),
      project_path(@project),
      method: 'delete',
      data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
      class: 'btn btn-danger' %>
  <% end %>
</div>

<% content_for :modals do %>
  <%= render 'invite_user' %>
<% end %>
<% if can?(:invite_user, @project) %>
  <%= link_to t('project.invite_someone_to_project', default: "Invite someone to the project"), "", id: "open-popup", data: { toggle: "modal", target: "#invite-colleagues-modal" }, class: "btn btn-default pull-right" %>
<% end %>

<% if can? :accept, ProjectApplication and @project.users.exists?(id: current_user.id) %>
  <table class='table table-striped'>
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', default: t('helpers.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @project.project_applications.each do |project_application| %>
      <% if project_application.pending? %>
        <tr>
          <td><%= project_application.user.name %></td>
          <td><%= project_application.user.email %></td>
          <td>
            <div>
              <%= link_to t('project_applications.accept_application', default: 'Accept application'),
                accept_project_application_path(project_application),
                class: 'btn btn-success' %>
              <%= link_to t('project_applications.decline_application', default: 'Decline Application'),
                decline_project_application_path(project_application),
                class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
