<%- model_class = Project -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <%= @project.title %> <span> <%= @project.status ? '' : t('.inactive', default:'(inactive)') %></span>
        <%= edit_button @project, class: 'btn-md pull-right' %>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <dl>
          <dt><%= t('.chair', default:'Chair') %>:</dt>
          <dd><%= @project.chair.name %></dd>
          <dt><%= model_class.human_attribute_name(:created_at) %>:</dt>
          <dd><%= l @project.created_at %></dd>
          <% unless @project.public %>
            <dt><%= t('.project_visibility', default:'Visibility') %>:</dt>
            <dd><%= @project.public ? t('.public', default:'Public') : t('.private', default:'private') %></dd>
          <% end %>
        </dl>
      </div>
    </div>

    <dl>
      <dt><%= t('.project_team', default:'Project Team') %>:</dt>
      <dd>
        <div class="form-group">
          <table class='table table-striped'>
            <thead>
              <tr>
                <th><%= t('projects.form.wimi', default: 'Research Assistants:') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.wimis.sort_by {|u| u[:last_name]}.each do |user| %>
                <tr>
                  <td class="col-md-8">
                    <%= linked_name(user)  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <table class='table table-striped'>
            <thead>
              <tr>
                <th><%= t('projects.form.hiwi', default:'Student Assistants:') %></th>
                <th><%= t '.actions', default: t('helpers.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.hiwis.sort_by {|u| u[:last_name]}.each do |user| %>
                <tr>
                  <td class="col-md-8">
                    <%= linked_name(user)  %>
                  </td>
                  <td>
                    <% time_sheets = user.time_sheets.select {|sheet| sheet.containsDate(Date.today) && sheet.contract.chair == @project.chair} %>
                    <% if time_sheets.any? %>
                        <%= can_link t('projects.form.show_current_working_hours'), :show, time_sheets[0], class: 'btn btn-default btn-xs' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
</div>

<% content_for :sidebar do %>
  <!--Actions-->
  <%= form_tag projects_path, method: :get, id: 'Form', class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t 'helpers.actions'%></h4>
          </div>
          <div class="panel-body">
            <p>
              <% content_for :modals do %>
                  <%= render 'add_user_to_project' %>
              <% end %>
              <% if can?(:invite_user, @project) %>
                <%= link_to t('project.user.add_prompt'), "", id: "open-popup", data: { toggle: "modal", target: "#add-users-modal" }, class: 'btn btn-block btn-success'%>
              <% end %>
            </p>
            <p>
              <% if can?(:new, WorkDay) %>
                <%= link_to t('projects.show.add_working_hours', default:'Add working hours'),
                            new_work_day_path(project: @project), class: 'btn btn-block btn-success' %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
