<%- model_class = Project -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <h1>
        <%= @project.title %> <span> <%= @project.status ? '' : t('.inactive', default:'(inactive)') %></span>
        <% if can? :edit, @project%>
            <%= link_to t('helpers.links.edit'), edit_project_path(@project), class: 'btn btn-warning btn-md pull-right' %>
        <% end %>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <dl>
          <dt><%= t('.chair', default:'Chair') %>:</dt>
          <dd><%= @project.chair.name %></dd>
          <dt><%= model_class.human_attribute_name(:created_at) %>:</dt>
          <dd><%= l @project.created_at %></dd>
          <% unless @project.public %>
            <dt><%= t('.project_visibility', default:'Visibility') %>:</dt>
            <dd><%= @project.public ? t('.public', default:'Public') : t('.private', default:'private') %></dd>
          <% end %>
        </dl>
      </div>
    </div>

    <!-- TODO: shouldn't this use CanCan?! -->
    <% if current_user.is_hiwi? %>
      <dl>
        <dt><%= t('.working_hours', default:'Working hours') %>:</dt>
        <dd>
          <% current_user.time_sheets.each do |ts| %>
            <span>
              <%= link_to Date::MONTHNAMES[ts.month] + " " + ts.year.to_s,
                          work_days_path(month: ts.month, year: ts.year, contract: ts.contract, project: @project)%>
            </span>
          <% end %>
        </dd>
      </dl>
    <% end %>

    <dl>
      <dt><%= t('.project_team', default:'Project Team') %>:</dt>
      <dd>
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"><%= t('projects.form.wimi', default: 'Research Assistants:') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_wimi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <table class='table table-striped' width="1000px">
            <thead>
              <tr>
                <th width="600px"> <%= t('projects.form.hiwi', default:'Student Assistants:') %></th>
                <th width="600px"><%= t '.actions', default: t('helpers.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.users.order('last_name').each do |user| %>
                <% if user.is_hiwi?%>
                  <tr>
                    <td>
                      <%= link_to user.name, user  %>
                    </td>
                    <td>
                      <% if can? :edit, @project or user == current_user%>
                      <%= link_to t('projects.form.show_working_hours', default:'Show working hours'), user_path(user), class: 'btn btn-default btn-xs' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
</div>

<% content_for :sidebar do %>
  <!--Filter-->
  <%= form_tag projects_path, method: :get, id: 'Form', class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> <%= t 'helpers.actions'%> </h4>
          </div>
          <div class="panel-body">
            <p>
              <% if can?(:leave ,@project) %>
                <%= link_to t('.leave_project', default:'Leave Project'),
                              leave_project_path(user: current_user, id: @project), method: :post %>
              <% end %>
            </p>
            <p>
              <% content_for :modals do %>
                  <%= render 'add_user_to_project' %>
              <% end %>
              <% if can?(:invite_user, @project) %>
                <%= link_to t('project.user.add_prompt'), "", id: "open-popup", data: { toggle: "modal", target: "#add-users-modal" }%>
              <% end %>
            </p>
            <p>
              <% if can? :edit, @project %>
                <%= link_to t('projects.form.show_all_working_hours', default:'Show all working hours'),
                              work_days_path(project: @project)%>
              <% end %>
            </p>
            <p>
              <% if current_user.is_hiwi? %>
                <%= link_to t('projects.show.add_working_hours', default:'Add working hours'),
                            new_work_day_path(project: @project) %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
