<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> #<%= @project.id %>: <%= @project.title %> <span> <%= @project.status ? "" : " (Inactive)" %></span></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @project.title %></dd>
  <dt><strong><%= 'Chair' %>:</strong></dt>
  <dd><%= @project.chair.name %></dd>
  <dt><strong><%= 'Chair Representative' %>:</strong></dt>
  <dd><%= @project.chair.representative.user.name %></dd>
  <dt><strong><%= 'Project Leader' %>:</strong></dt>
  <dd><%= @project.project_leader %></dd>
  <dt><strong><%= 'Status:' %></strong></dt>
  <dd><%= @project.status ? "Active" : "Inactive" %></dd>
  <dt><strong><%= "Accessibility:" %></strong></dt>
  <dd><%= @project.public ? "Public" : "Private" %></dd>
  <dt><strong><%='WiMis' %>:</strong> </dt>


  <dd>
  <div class="col-md-5 UserTable">
  <table class="table table-striped">
    <thead>

    </thead>
    <tbody>
    <%@project.users.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |user|%>
        <% if user.is_wimi? %>
        <td>
          <%= user.name %>
        </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  </dd>

  <dt><strong><%='HiWis' %>:</strong> </dt>
  <dd>
    <div class="col-md-5 UserTable">
      <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
        <%@project.users.each_slice(3) do |slice| %>
          <tr>
            <% slice.each do |user|%>
              <% if !user.is_wimi? %>
                <td>
                  <%= user.name %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </dd>


</dl>

<% content_for :modals do %>
  <%= render 'invite_user' %>
<% end %>

<%= link_to t('project.invite_someone_to_project', default: "Jemanden in das Projekt einladen"), "", id: "open-popup", data: { toggle: "modal", target: "#invite-colleagues-modal" }, class: "btn btn-info pull-right" %>


<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<% if can? :edit, @project %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_project_path(@project), :class => 'btn btn-default' %>
<% end %>
<% if can? :destroy, @project %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                project_path(@project),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
