<%- model_class = Project -%>
<div class="col-md-12 col-sm-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= @project.title %> <span><%= @project.status ? '' : t('.inactive', default:'(inactive)') %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <dl>
          <dt><%= t('.chair', default:'Chair') %>:</dt>
          <dd><%= linked_name @project.chair %></dd>
          <dt><%= model_class.human_attribute_name(:created_at) %>:</dt>
          <dd><%= l @project.created_at %></dd>
        </dl>
      </div>
    </div>

    <dl>
      <dt><%= t('.project_team', default:'Project Team') %>:</dt>
      <dd>
        <div class="form-group">
          <table class='table table-striped'>
            <thead>
              <tr>
                <th><%= t('projects.form.wimi', default: 'Research Assistants:') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.wimis.sort_by {|u| u[:last_name]}.each do |user| %>
                <tr>
                  <td class="col-md-8">
                    <%= linked_name(user)  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <table class='table table-striped'>
            <thead>
              <tr>
                <th><%= t('projects.form.hiwi', default:'Student Assistants:') %></th>
                <th><%= t '.actions', default: t('helpers.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @project.hiwis.sort_by {|u| u[:last_name]}.each do |user| %>
                <tr>
                  <td class="col-md-6">
                    <%= linked_name(user)  %>
                  </td>
                  <td class="col-md-3">
                    <% time_sheets = user.time_sheets.select {|sheet| sheet.containsDate(Date.today) && sheet.contract.chair == @project.chair} %>
                    <% if time_sheets.any? %>
                        <%= can_link t('projects.form.show_current_timesheet'), :show, time_sheets[0], class: 'btn btn-default btn-xs' %>
                    <% end %>
                  </td>
                  <td class="col-md-3">
                    <% contracts = user.contract_with(@project.chair).to_a %>
                    <% if contracts.size == 0 %>
                      <%= t('chairs.contracts.none') %>
                    <% else%>
                      <% if contracts.size == 1 %>
                        <%= can_link t('chairs.contracts.one'), :show, contracts[0], class: "btn btn-default btn-xs" %>
                      <%else%>
                        <%= can_link t('chairs.contracts.several', count: contracts.size), :index, Contract, class: 'btn btn-default btn-xs', anchor: hiwi.first_name + '_' + hiwi.last_name %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  </div>
</div>

<% content_for :actions do %>
  <%= edit_button @project, class: 'btn-block' %>
  <% if can?(:edit, @project) %>
    <hr>
    <%= link_to t('project.user.add_prompt'), "", id: "open-popup", data: { toggle: "modal", target: "#add-users-modal" }, class: 'btn btn-block btn-success'%>
    <%= link_to t('project.user.add_prompt_register'), "", id: "open-popup", data: { toggle: "modal", target: "#add-register-user-modal" }, class: 'btn btn-block btn-success'%>
  <% end %>
<% end %>


<% content_for :modals do %>
  <% if can?(:edit, @project) %>
    <%= render 'add_user_to_project' %>
    <%= render 'add_and_register_user' %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%# Recent activity %>
  <%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>
<% end %>
