<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> #<%= @project.id %>: <%= @project.title %> <span> <%= @project.status ? "" : " (Inactive)" %></span></h1>
  <% if can? :edit, @project%>
      <% if @project.status == true%>
          <%= button_to 'Set inactive', set_inactive_project_path, method: :get, class: 'btn btn-danger btn-xs pull-right', style:'margin-top: -20px', id: 'setInactiveButton' %>
      <% else %>
          <%= button_to 'Set active', set_inactive_project_path, method: :get, class: 'btn btn-success btn-xs pull-right', style:'margin-top: -20px'%>
      <% end %>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt><%= 'Chair' %>:</dt>
  <dd><%= @project.chair.name %></dd>
  <dt><%= 'Chair Representative' %>:</dt>
  <dd><%= @project.chair.representative.user.name %></dd>
  <dt><%= 'Status:' %></dt>
  <dd><%= @project.public ? "Public" : "Private" %></dd>
  <dt><%= 'Project Leader' %>:</dt>
  <dd>
    <%if @project.project_leader.blank? %>
      <i><%= 'not defined' %></i>
    <% else %>
      <%= @project.project_leader %></dd>
    <% end %>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%='Wissenschaftliche Mitarbeiter' %>:</strong> </dt>
  <dd>
      <% @project.users.sort { |a,b| a.name <=> b.name }.each do |user| %>
          <div <%= "class='current'" if user == @user%>>
            <% if user.is_wimi?%>
              <div style="margin-bottom: 15px">
                  <%= user.name %>
              </div>
            <% end %>
          </div>
      <% end %>
  </dd>
</dl>
<dl class="dl-horizontal">
  <dt><strong><%='Studentische Hilfskräfte' %>:</strong> </dt>
  <dd>
    <% @project.users.sort { |a,b| a.name <=> b.name }.each do |user| %>
        <div <%= "class='current'" if user == @user %>>
          <% if user.is_hiwi?%>
              <div style="margin-bottom: 15px">
                <%= user.name %>
              </div>
          <% end %>
        </div>
    <% end %>
  </dd>


</dl>

<% content_for :modals do %>
  <%= render 'invite_user' %>
<% end %>

<% if can?(:invite_user, @project) %>
    <%= link_to t('project.invite_someone_to_project'), "", id: "open-popup", data: { toggle: "modal", target: "#invite-colleagues-modal" }, class: "btn btn-default pull-right" %>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
<% if can? :edit, @project %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_project_path(@project), :class => 'btn btn-default' %>
<% end %>


<% if can? :destroy, @project %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                project_path(@project),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>




