<%= form_for(@time_sheet) do |f| %>
  <% if @time_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_sheet.errors.count, "error") %> prohibited this time_sheet from being saved:</h2>

      <ul>
      <% @time_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Time Sheet</h4>
    </div>
    <div class="form-group">
      <%= f.label :salary, class: "control-label" %><br>
      <%= f.number_field :salary %>
      <%= f.select(:salary_is_per_month, [['monthly', true], ['hourly', false]]) %>
    </div>
    <div class="form-group">
      <%= f.label :workload, class: "control-label" %><br>
      <%= f.number_field :workload %>
      <%= f.select(:salary_is_per_month, [['monthly', true], ['weekly', false]]) %>
    </div>
    <%= f.submit nil, class:"btn btn-primary"%>
  </div>
<% end %>
