<style>
  /* disable number field arrows*/
  input[type=number] {
      -moz-appearance:textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  td>.form-control[readonly] {
    cursor: auto !important;
    background-color: inherit !important;
  }

  td {
    text-align: center;
  }
  th {
    text-align: center;
  }

  td.notes {
    text-align: left !important; 
  }
</style>

<script>
$( document ).ready(function() {
  $(function () {
    $('#submit').click(function (event) {
      $('.time_sheet_form')[0].submit();
    })
  })

  // Update hiden month and year fields when the timepicker values change
  $('#month-input').datepicker()
      .on('changeDate', function(e) {
          $('#time_sheet_month').val(e.date.getMonth()+1);
          $('#time_sheet_year').val(e.date.getFullYear());
      });
});
</script>

<% readonly ||= false %>
<% disable_date ||= false %>
<% hide_work_days ||= false %>
<%= form_for @time_sheet, html: {class: 'time_sheet_form'} do |f| %>

  <%# Allow to submit the form without JS for testing %>
  <%= f.submit nil, id: "hiddensubmit", class:'hidden' %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @time_sheet} %>

  <% if disable_date %>
    <p>
      <strong><%= t('time_sheet.month_year')%>:</strong>
      <%= l f.object.first_day , format: :without_day %>
      <%= f.number_field :month, class: 'hidden'%>
      <%= f.number_field :year, class: 'hidden'%>
    </p>
  <% else %>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <% month_errors = f.object.errors[:month].concat(f.object.errors[:year]) %>
        <div class="form-group <%= 'has-error' if month_errors.any? %>">
          <%= f.label :month, class: 'control-label' %>
          <%# text field augmented with datepicker %>
          <%= text_field_tag 'month-input', nil, class: "form-control", 'data-provide': "datepicker", 'data-date-min-view-mode': "months", 'data-date-orientation': "bottom auto", 'data-date-format': "mm/yyyy", 'data-date-language': I18n.locale, value: "#{Date.today.month}/#{Date.today.year}"%>
          <%= content_tag :span, month_errors.join(', '), :class => "help-block" if month_errors.any? %>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <dl>
          <dt><%= t('activerecord.models.contract.one').capitalize %></dt>
          <dd><%= f.object.contract %></dd>
        </dl>
      </div>
    </div>
    <%# Hidden fields updated by JS when the datepicker selection changes %>
    <%= f.number_field :month, class: "hidden" %>
    <%= f.number_field :year, class: "hidden" %>
  <% end %>

  <% unless hide_work_days %>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.work_day.date') %></th>
          <th><%= t('activerecord.attributes.work_day.start_time') %></th>
          <th><%= t('activerecord.attributes.work_day.break') %></th>
          <th><%= t('activerecord.attributes.work_day.end_time') %></th>
          <th><%= t('activerecord.attributes.work_day.notes') %></th>
          <th style="width:200px;"><%= t('activerecord.attributes.work_day.project') %></th>
          <th><%= t('activerecord.attributes.work_day.attendance') %></th>
        </tr>
        <%= f.fields_for :work_days, @time_sheet.work_days.to_a.sort! {|a,b| a.date <=> b.date } do |t| %>
          <tr class="work_day_tr">
            <td>
              <%= l t.object.date, format: :weekday_short %>
            </td>
            <td>
              <%= t.date_field :date, readonly: true, class: 'hidden'%>
              <%= l t.object.date, format: :day_month %>
            </td>
            <% if readonly %>
              <td>
                <%= l t.object.start_time, format: :hours_minutes %>
              </td>
              <td>
                <%= t.object.break %>
              </td>
              <td>
                <%= l t.object.end_time, format: :hours_minutes %>
              </td>
              <td class="notes">
                <%= t.object.notes %>
              </td>
              <td>
                <%= t.object.project.title %>
              </td>
              <td>
                <%= t.object.status %>
              </td>
            <% else %>
              <td <%= 'class=has-error' if (t.object.errors[:start_time].any? or t.object.errors[:duration].any?) %>>
                <%= t.text_field :start_time , value: t.object.start_time ? l(t.object.start_time, format: :hours_minutes) : "", size: 5, maxlength: 5, readonly: readonly, placeholder: "00:00" %>
                <%= content_tag :span, t.object.errors[:start_time].concat(t.object.errors[:duration]).join(', '), :class => "help-block" if t.object.errors[:duration].any? %>
              </td>
              <td <%= 'class=has-error' if t.object.errors[:break].any? %>>
                <%= t.number_field :break , in: 0..2400, size: 4, maxlength: 4 , readonly: readonly, placeholder: "0"  %>
                <%= content_tag :span, t.object.errors[:break].join(', '), :class => "help-block" if t.object.errors[:break].any? %>
              </td>
              <td <%= 'class=has-error' if t.object.errors[:end_time].any? %>>
                <%= t.text_field :end_time , value: t.object.end_time ? l(t.object.end_time, format: :hours_minutes) : "", size: 5, maxlength: 5, readonly: readonly, placeholder: "00:00" %>
                <%= content_tag :span, t.object.errors[:end_time].join(', '), :class => "help-block" if t.object.errors[:end_time].any? %>
              </td>

              <td>
                <%= t.text_field :notes , size: 50, class: 'form-control', readonly: readonly,placeholder: t('.note_placeholder')  %>
              </td>
              <td <%= 'class=has-error' if t.object.errors[:project_id].any? %>>
                <%= t.select(:project_id, @projects.collect {|p| [p.title,p.id]}, {}, { :class => 'form-control', :readonly => readonly }) %>
                <%= content_tag :span, t.object.errors[:project_id].join(', '), :class => "help-block" if t.object.errors[:project_id].any? %>
              </td>
              <td>
                <%= t.select(:status, [["",""], [t('activerecord.attributes.work_day.attendance_options.sick'), 'K'], [t('activerecord.attributes.work_day.attendance_options.holiday'), 'F']], {}, {class: 'form-control', readonly: readonly }) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <% end %>

  <% content_for :actions do %>
    <% unless readonly %>
      <%= f.submit nil, class:"btn btn-success btn-block", id: "submit" %>
    <% end %>
  <% end %>

<% end %>
