<style>
  /* disable number field arrows*/
  input[type=number] {
      -moz-appearance:textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
</style>

<%= form_for [@time_sheet.contract,@time_sheet] do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_group(f, :month) do %>
        <%= f.number_field :month, class: "form-control" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= bootstrap_form_group(f, :year) do %>
        <%= f.number_field :year, class: "form-control" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th colspan="2"><%= t('activerecord.attributes.work_day.date') %></th>
          <th><%= t('activerecord.attributes.work_day.start_time') %></th>
          <th><%= t('activerecord.attributes.work_day.break') %></th>
          <th><%= t('activerecord.attributes.work_day.end_time') %></th>
          <th><%= t('activerecord.attributes.work_day.notes') %></th>
          <th><%= t('activerecord.attributes.work_day.project') %></th>
        </tr>
        <%= f.fields_for :work_days, @time_sheet.work_days.to_a.sort! {|a,b| a.date <=> b.date } do |t| %>
          <tr class="work_day_tr">
            <td>
              <%= l t.object.date, format: :weekday_short %>
            </td>
            <td>
              <%= t.date_field :date, readonly: true, class: 'hidden'%>
              <%= l t.object.date, format: :day_month %>
            </td>
            <td class=<%=error_class(t.object, :start_time)%>>
              <%= t.time_field :start_time , value: t.object.start_time ? l(t.object.start_time, format: :hours_minutes) : "", size: 5, maxlength: 5%>
            </td>
            <td class=<%=error_class(t.object, :break)%>>
              <%= t.number_field :break , in:0..2400, size: 4, maxlength: 4 %>
            </td>
            <td class=<%=error_class(t.object, :end_time)%>>
              <%= t.time_field :end_time , value: t.object.end_time ? l(t.object.end_time, format: :hours_minutes) : "", size: 5, maxlength: 5%>
            </td>
            <td>
              <%= t.text_field :notes , size: 50, class: 'form-control'%>
            </td>
            <td class=<%=error_class(t.object, :project_id)%>>
              <%= t.select :project_id, @projects.collect {|p| [p.title,p.id]} %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit nil, class:"btn btn-success btn-block" %>
    </div>
  </div>
<% end %>