<%= form_for(@time_sheet) do |f| %>
  <fieldset disabled>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :salary, class: "control-label" %><br>
          <%= f.text_field :salary, class: "form-control" %>
          <%= f.select :salary_is_per_month, [[t('.salary_per_month'), true], [t('.salary_per_hour'), false]], {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :workload, class: "control-label" %><br>
          <%= f.text_field :workload, class: "form-control" %>
          <%= f.select :workload_is_per_month, [[t('.workload_per_month'), true], [t('.workload_per_week'), false]], {}, {class: "form-control"} %>
        </div>
      </div>
    </div>
  </fieldset>
    <% if current_user == @time_sheet.user && !@time_sheet.handed_in? %>
      <div class="row">
        <div class="col-md-12">
          <%= link_to t('.edit', default: t("helpers.links.edit")), edit_time_sheet_path(@time_sheet), class: 'btn btn-warning btn-block' %>
        </div>
      </div>
    <% end %>
<% end %>
