<% if current_user.is_wimi? && @time_sheet.handed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag t('.acceptence_requested_at') %>
        <%= text_field_tag nil, (l @time_sheet.hand_in_date), {class: 'form-control', readonly: true} %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= label_tag t('.status') %>
        <%= text_field_tag nil, t(".#{@time_sheet.status}"), {class: 'form-control', readonly: true} %>
      </div>
    </div>
  </div>
  <% if @time_sheet.status.include? 'pending' %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= t('.document_was') %>
          <% unless @time_sheet.signed %>
            <b><%= t('.not') %></b>
          <% end %>
          <%= t('.signed') %>
        </p>
      </div>
    </div>
    <%= form_for @time_sheet, url: accept_reject_time_sheet_path(@time_sheet), method: :get do |f| %>
      <div class="row vertical-align">
        <div class=<%= @time_sheet.wimi_signed ? 'col-sm-6' : 'col-sm-6 col-md-offset-6'%>>
          <div class="form-group">
            <%= f.label t('.reject_reason') %>
            <%= f.text_field :rejection_message, id: 'message', size: 50 , class: "form-control"%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% if current_user.signature.nil? %>
            <%= t('signature_warning') %>
            <%= link_to t('helpers.application_tabs.profile'), user_path(current_user), class: 'btn btn-default btn-xs' %><br/><br/>
            <div class="col-sm-6">
              <%= f.submit t('.accept'), class: 'btn btn-success btn-block', disabled: "disabled" %>
            </div>
          <% else %>
            <div class="col-sm-6">
              <%= f.submit t('.accept'), class: 'btn btn-success btn-block' %>
            </div>
          <% end %>
          <div class="col-sm-6">
              <%= f.submit t('.reject'), class: 'btn btn-danger btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= form_for @time_sheet, url: hand_in_time_sheet_path(@time_sheet), method: :get do |f| %>
    <% if @time_sheet.handed_in? %>
      <% if @time_sheet.status.include? 'pending' %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.handed_in_at') %>
              <%= text_field_tag nil, (l @time_sheet.hand_in_date), {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.status') %>
              <%= text_field_tag nil, @time_sheet.status, {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
        </div>
        <% unless @time_sheet.wimi_signed %>
          <div class="row">
            <div class="col-md-12">
              <div class="control-group">
                <%= f.check_box :wimi_signed , style: "margin: 0px 10px;"%>
                <%= f.label t('.add_signature') , style: "margin: 0px;"%>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @time_sheet.status.include? 'accepted' %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.accepted_by') %>
              <%= text_field_tag nil, User.find(@time_sheet.signer).name, {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.at') %>
              <%= text_field_tag nil, l(@time_sheet.last_modified), {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if @time_sheet.status == 'rejected' %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.rejected_by') %>
              <%= text_field_tag nil, User.find(@time_sheet.signer).name, {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag nil, t('.at') %>
              <%= text_field_tag nil ,l(@time_sheet.last_modified), {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= label_tag nil, t('.reject_reason') %>
              <%= text_field_tag nil, @time_sheet.rejection_message, {class: 'form-control', readonly: 'readonly'} %>
            </div>
          </div>
        </div>
        <div class="row vertical-align">
          <% if @time_sheet.user == current_user %>
            <div class="col-sm-6">
              <% unless @time_sheet.signed %>
                <div class="control-group">
                  <%= f.check_box :signed , style: 'margin: 0px 10px;' %>
                  <%= f.label t('.add_signature') , style: 'margin: 0px;' %>
                </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= f.submit t('.hand_in'), class: 'btn btn-success btn-block' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <% if @time_sheet.user == current_user %>
          <div class="row vertical-align">
            <div class="col-sm-6">
              <% unless @time_sheet.signed %>
                <div class="control-group">
                  <%= f.check_box :signed , style: 'margin: 0px 10px;' %>
                  <%= f.label t('.add_signature') , style: 'margin: 0px;' %>
                </div>
              <% end %>
            </div>
            <div class="col-sm-6">
              <%= f.submit t('.hand_in'), class: 'btn btn-success btn-block' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if can? :download,@time_sheet %>
    <%= form_tag(download_time_sheet_path(@time_sheet), method: 'get') do %>
    <div class="row vertical-align">
      <div class="col-md-6">
        <div class="control-group">
          <%= check_box_tag :include_comments , 1 , style: 'margin: 0px 10px;' %>
          <%= label_tag :include_comments, t('time_sheet.include_comments') , style: 'margin: 0px;'%>
        </div>
      </div>
      <div class="col-md-6">
        <%= submit_tag t('helpers.links.download_pdf'), class: "btn btn-block btn-info" %>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
