<div class="col-sm-6">
  <p>
    <strong><%= t('.salary') %> </strong>
    <%= @time_sheet.salary %>
    <% if @time_sheet.salary_is_per_month %>
      <%= t('.salary_per_month') %>
    <% else %>
      <%= t('.salary_per_hour') %>
    <% end %>
  </p>

  <p>
    <strong><%= t('.workload') %> </strong>
    <%= @time_sheet.workload %>
    <% if @time_sheet.workload_is_per_month %>
      <%= t('.workload_per_month') %>
    <% else %>
      <%= t('.workload_per_week') %>
    <% end %>
  </p>
</div>
<% if current_user == @time_sheet.user && !@time_sheet.handed_in? %>
  <div class="col-sm-6 text text-right">
    <%= link_to t('.edit', default: t("helpers.links.edit")),
        edit_time_sheet_path(@time_sheet), class: 'btn btn-default btn-xs' %>
  </div>
<% end %>
