<div class="form-group">
  <br>
  <br>
  <br>
  <% if current_user.is_wimi? && @time_sheet.handed_in? %>
    <%= t('.acceptence_requested_at') %> <b><%=l @time_sheet.hand_in_date %></b><br>
    <%= t('.status') %> <b><%= t(".#{@time_sheet.status}") %></b><br>
    <% if @time_sheet.status == 'pending' %>
      <%= t('.document_was') %>
      <% unless @time_sheet.signed %>
        <b><%= t('.not') %></b>
      <% end %>
      <%= t('.signed') %>
      <p>
        <!-- TODO refactor -->
        <% if (can? :accept, @time_sheet) && @time_sheet.handed_in? %>
            <%= form_for @time_sheet, url: accept_reject_time_sheet_path(@time_sheet), method: :get do |f| %>
                <% unless @time_sheet.wimi_signed %>
                      <div class="control-group">
                        <%= f.check_box :wimi_signed %>
                        <%= f.label t('.add_signature') %>
                      </div>
                      <br>
                  <% end %>
                  <% if current_user.signature.nil? %>
                      <%= t('signature_warning') %>
                      <%= link_to t('helpers.application_tabs.profile'), user_path(current_user), class: 'btn btn-default btn-xs' %><br />
                      <%= f.submit t('.accept'), class: 'btn btn-success btn-xs', disabled: "disabled" %>
                      <%= f.submit t('.reject'), class: 'btn btn-danger btn-xs' %>
                  <% else %>
                      <%= f.submit t('.accept'), class: 'btn btn-success btn-xs' %>
                      <%= f.submit t('.reject'), class: 'btn btn-danger btn-xs' %>
                  <% end %>
                  <br>
                  <br>
                  <%= f.label t('.reject_reason') %>
                  <br>
                  <%= f.text_field :rejection_message, id: 'message', size: 50 %>
              <% end %>
          <% end %>
      <% end %>
  <% else %>
    <%= form_for @time_sheet, url: hand_in_time_sheet_path(@time_sheet), method: :get do |f| %>
      <% if @time_sheet.handed_in? %>
        <% if @time_sheet.status.include? 'pending' %>
          <%= t('.handed_in_at') %> <%=l @time_sheet.hand_in_date %> <%=t('.status') +': ' + @time_sheet.status %>
          <br>
          <% unless @time_sheet.wimi_signed %>
            <div class="control-group">
              <%= f.check_box :wimi_signed %>
              <%= f.label t('.add_signature') %>
            </div>
          <% end %>
          <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Timesheet', doc_id: @time_sheet), class: 'btn btn-primary' %><br>
        <% end %>
        <% if @time_sheet.status.include? 'accepted'%>
          <%= t('.accepted_by') + User.find(@time_sheet.signer).name + ' ' + t('.at') + ' ' + l(@time_sheet.last_modified) %><br>
          <%= link_to t('helpers.links.download_pdf'), generate_pdf_path(doc_type: 'Timesheet', doc_id: @time_sheet), class: 'btn btn-primary' %><br>
        <% end %>
      <% else %>
        <% if @time_sheet.status == 'rejected' %>
          <%= t('.rejected_by') + User.find(@time_sheet.signer).name + ' ' + t('.at') + ' ' + l(@time_sheet.last_modified) %>
          <br>
          <%= t('.reject_reason') + @time_sheet.rejection_message %>
          <% unless @time_sheet.signed %>
            <div class="control-group">
              <%= f.check_box :signed %>
              <%= f.label t('.add_signature') %>
            </div>
          <% end %>
          <br>
          <%= f.submit t('.hand_in'), class: 'btn btn-primary' %>
        <% else %>
          <% if @time_sheet.user_id = current_user.id %>
            <% unless @time_sheet.signed %>
              <div class="control-group">
              <%= f.check_box :signed %>
              <%= f.label t('.add_signature') %>
              </div>
            <% end %>
            <%= f.submit t('.hand_in'), class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
