<% i18nscope = 'time_sheets.show_footer' %>

<!-- wimi can accept time sheet here -->
<% if @time_sheet.status.include? 'pending' %>
  <!-- signed by hiwi status -->
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= t('document_was', scope: i18nscope) %>
        <% unless @time_sheet.signed %>
          <b><%= t('not', scope: i18nscope) %></b>
        <% end %>
        <%= t('signed', scope: i18nscope) %>
      </p>
    </div>
  </div>
  <!-- form for accepting time sheet -->
  <%= form_for @time_sheet, url: accept_reject_time_sheet_path(@time_sheet), method: :get do |f| %>

    <!-- accept button -->
    <div class="row">
      <div class="col-md-12">
        <!-- if user has not set a signature: promt him here and disable button -->
        <% if current_user.signature.nil? %>
          <%= t('signature_warning') %>
          <%= link_to t('helpers.application_tabs.profile'), user_path(current_user), class: 'btn btn-default btn-xs' %><br/><br/>
          <%= f.submit t('accept', scope: i18nscope), class: 'btn btn-success btn-block', disabled: "disabled" %>
        <!-- else render buttons normally -->
        <% else %>
          <!-- sign check box -->
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
              <div class="control-group">
                <%= f.check_box :wimi_signed , style: "margin: 0px 10px;"%>
                <%= f.label t('add_signature', scope: i18nscope) , style: "margin: 0px;"%>
              </div>
            </div>
          </div>
          <%= f.submit t('accept', scope: i18nscope), class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>

    <!-- reject message and button-->
    <div class="row vertical-align">
      <div class='col-sm-12'>
        <div class="form-group">
          <%= f.label t('reject_reason', scope: i18nscope) %>
          <%= f.text_field :rejection_message, id: 'message', size: 50 , class: "form-control"%>
        </div>
      </div>
    </div>
    <%= f.submit t('reject', scope: i18nscope), class: 'btn btn-danger btn-block', style: "margin-bottom: 5px;"%>
  <% end %>
<% end %>