<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1><%= t('activerecord.models.time_sheet.other', default: model_class.model_name.human.pluralize).titleize %></h1>
    </div>
    <% if @contracts.empty? %>
      <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.contract.other', default: model_class.model_name.human.pluralize) %> </p>
    <% else %>
      <% @contracts.each do |contract| %>
        <h4>
          <%= t('activerecord.models.contract.one').titleize %>: <%= link_to contract.name, contract %>
          <% if can? :new, TimeSheet %>
            <%= link_to t('helpers.titles.new', model: TimeSheet.model_name.human.titleize), new_contract_time_sheet_path(contract), class: 'btn btn-success btn-sm pull-right' %>
          <% end %>
        </h4>
        <% if contract.time_sheets.empty? %>
          <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.time_sheet.other', default: TimeSheet.model_name.human.pluralize) %> </p>
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:month) %></th>
                <th><%= model_class.human_attribute_name(:handed_in) %></th>
                <th><%= model_class.human_attribute_name(:status) %></th>
                <th><%= t('time_sheets.show.total_work_time') %></th>
                <th><%= t '.actions', default: t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% contract.time_sheets.each do |time_sheet| %>
                <tr>
                  <td><%= "#{time_sheet.month}/#{time_sheet.year}" %></td>
                  <td><%= t time_sheet.handed_in.to_s %> <%= "(#{l time_sheet.hand_in_date})" if time_sheet.hand_in_date %></td>
                  <td>
                    <% if time_sheet.handed_in %>
                      <% label_type = {"pending" => "default", "accepted" => "success", "rejected" => "danger"}[time_sheet.status] %>
                      <span class="label label-<%= label_type %>"><%= t("activerecord.attributes.time_sheet.status_enum.#{time_sheet.status}") %></span>
                    <% else %>
                      <%= t("activerecord.attributes.time_sheet.status_enum.created") %>
                    <% end %>
                  </td>
                  <td><%= time_sheet.sum_minutes_formatted %></td>
                  <td>
                    <%= edit_button time_sheet, class: 'btn-xs' %>
                    <%= link_to t('helpers.links.show', model: model_class.model_name.human.titleize),
                                time_sheet_path(time_sheet),
                                class: 'btn btn-default btn-xs' %>
                    <%# PDF links for all work_sheets, no matter their status %>
                    <% if time_sheet.has_comments? %>
                      <%= link_to 'PDF', "", id: "open-popup", data: { toggle: "modal", target: "#download-pdf-modal", timesheet: time_sheet.id}, class: 'btn btn-xs btn-info'%>
                    <% else %>
                      <%= link_to 'PDF', download_time_sheet_path(time_sheet), class: 'btn btn-xs btn-info' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %> <%# if/else @contracts.empty? %>
  </div>
</div>

<% content_for :modals do %>
    <%= render 'download_prompt' %>
<% end %>

<script>
  $(function() {
    $('#download-pdf-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var timesheetId = button.data('timesheet') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.dl-with-comments').attr('href', '/time_sheets/' + timesheetId + '/download?include_comments=1')
      modal.find('.dl-without-comments').attr('href', '/time_sheets/' + timesheetId + '/download?include_comments=0')
    });
  });
</script>
