<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <h1><%= t('activerecord.models.time_sheet.other', default: model_class.model_name.human.pluralize).titleize %></h1>
    </div>
    <% if @contracts.empty? %>
      <p> <%= t 'no_entries_yet', target: (t 'activerecord.models.contract.other', default: model_class.model_name.human.pluralize) %> </p>
    <% else %>
      <% @contracts.each do |contract| %>
        <h4>
          <%= t('activerecord.models.contract.one').titleize %>: <%= linked_name contract %>
          <% if can?(:new, TimeSheet.new(contract: contract)) and current_user.current_contracts.include? contract%>
            <%= link_to t('helpers.titles.new', model: TimeSheet.model_name.human.titleize), new_contract_time_sheet_path(contract), class: 'btn btn-success btn-sm pull-right' %>
          <% end %>
        </h4>
        <%= render partial: "table", locals: {time_sheets: contract.time_sheets.select {|ts| can? :show, ts}} %>
      <% end %>
    <% end %> <%# if/else @contracts.empty? %>
  </div>
</div>

<% content_for :modals do %>
    <%= render 'download_prompt' %>
<% end %>

<script>
  $(function() {
    $('#download-pdf-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var timesheetId = button.data('timesheet') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.dl-with-comments').attr('href', '/time_sheets/' + timesheetId + '/download?include_comments=1')
      modal.find('.dl-without-comments').attr('href', '/time_sheets/' + timesheetId + '/download?include_comments=0')
    });
  });
</script>

<% content_for :sidebar do %>
  <!--Filter-->
  <%= form_tag time_sheets_path, method: :get, class: "form-horizontal" do %>
    <div class="col-md-12">
      <div class="display">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> <%= t('project.filter_chair') %> </h4>
          </div>
          <div class="panel-body" style="padding: 0px;">
            <div class="col-md-12 nobottompadding">
              <strong><%= t('activerecord.models.contract.one').capitalize %></strong>
              <%= select_tag :contract, options_from_collection_for_select(@all_contracts, 'id', 'name', params.fetch(:contract, nil)), { class: 'select optional form-control', include_blank: true} %>
            </div>
            <div class="col-md-12">
              <%= button_tag t('links.search'), {name: "commit", value: "filter", class: "btn btn-primary btn-block"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
