<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%=t 'helpers.titles.new', model: model_class.model_name.human.titleize %>
      </div>
    </div>

  <%= form_for @time_sheet, html: {class: 'time_sheet_form'} do |f| %>
    <%= render partial: "shared/form_validation_errors", locals: {object: @time_sheet} %>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <% month_errors = f.object.errors[:month].concat(f.object.errors[:year]) %>
        <div class="form-group <%= 'has-error' if month_errors.any? %>">
          <%= f.label :month, class: 'control-label' %>
          <%# text field augmented with datepicker %>
          <%= text_field_tag 'month-input', nil, class: "form-control", 'data-provide': "datepicker", 'data-date-min-view-mode': "months", 'data-date-orientation': "bottom auto", 'data-date-format': "mm/yyyy", 'data-date-language': I18n.locale, value: "#{Date.today.month}/#{Date.today.year}"%>
          <%= content_tag :span, month_errors.join(', '), :class => "help-block" if month_errors.any? %>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <dl>
          <dt><%= t('activerecord.models.contract.one').capitalize %></dt>
          <% if current_user.current_contracts.length == 1 %>
            <%= f.number_field :contract_id, class: "hidden" %>
            <%= current_user.current_contracts.first.name %>
          <% else %>
            <%= f.select(:contract_id) do %>
              <% current_user.current_contracts.each do |c| %>
                <% if c.id == f.object.contract.id %>  
                  <%= content_tag(:option, c.name, value: c.id, selected: "selected") %>
                <% else %>
                  <%= content_tag(:option, c.name, value: c.id) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>

    <script>
      $( document ).ready(function() {
        // Update hiden month and year fields when the timepicker values change
        $('#month-input').datepicker()
            .on('changeDate', function(e) {
                $('#time_sheet_month').val(e.date.getMonth()+1);
                $('#time_sheet_year').val(e.date.getFullYear());
            });
      });
    </script>

    <%# Hidden fields updated by JS when the datepicker selection changes %>
    <%= f.number_field :month, class: "hidden" %>
    <%= f.number_field :year, class: "hidden" %>

    <%# Allow to submit the form without JS for testing and via label in sidebar %>
    <%= f.submit nil, id: "hiddensubmit", class: 'hidden' %>

  <% end %> <%# form_for @time_sheet %>

  <% content_for :actions do %>
    <% model_name = model_class.model_name.human.titleize %>
    <%# Label that triggers the 'hiddensubmit' submit button when clicked.
        Allows submitting the form with an element not inside the form element %>
    <%= label_tag 'hiddensubmit',
      t('helpers.submit.create', model: model_name),
      class: 'btn btn-block btn-success' %>
  <% end %>

  </div>
</div>