<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @time_sheet.user.last_name %> <%= l @time_sheet.first_day , format: :short_month_year %>
      </div>
    </div>

    <div class="row bot-buffer-5">
      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:status) %>:
        <span class="label label-<%= status_label_css(@time_sheet.status) %>">
          <%= t("activerecord.attributes.time_sheet.status_enum.#{@time_sheet.status}") %>
        </span>
      </div>

      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, t('time_sheet.month_year') %>:
        <%= l @time_sheet.first_day , format: :without_day %>
      </div>

      <% if @time_sheet.status.in?(['accepted', 'rejected']) %>
        <div class="col-md-6 col-sm-12">
          <%# i18n-tasks-use t('time_sheets.show.accepted_by') %>
          <%# i18n-tasks-use t('time_sheets.show.rejected_by') %>
          <%= content_tag :strong, t(".#{@time_sheet.status}_by") %>:
          <%# TimeSheet#signer is simple integer, no belongs_to %>
          <%= linked_name User.find(@time_sheet.signer) %>
          <%= t('.at').downcase %>
          <%= content_tag :span, l(@time_sheet.last_modified) %>
        </div>
      <% end %>

      <% if @time_sheet.status == 'rejected' %>
        <div class="col-md-6 col-sm-12">
          <%= content_tag :strong, t('.reject_reason') %>:
          <%= content_tag :span, @time_sheet.rejection_message %>
        </div>
      <% end %>

      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, model_class.human_attribute_name(:handed_in) %>:
        <%= t @time_sheet.handed_in.to_s %> <%= "(#{l @time_sheet.hand_in_date})" if @time_sheet.handed_in and @time_sheet.hand_in_date %>
      </div>

      <% if @time_sheet.status.in? ['pending', 'accepted'] %>
        <div class="col-md-6 col-sm-12">
          <%# signed by hiwi status %>
          <%= content_tag :strong, t('.signatures') %>:
          <%= t(".hiwi_signed_#{@time_sheet.signed}_html") %>
        </div>
      <% end %>

      <div class="col-md-6 col-sm-12">
        <%= content_tag :strong, @time_sheet.contract.model_name.human.capitalize %>:
        <%= linked_name(@time_sheet.contract) %>
      </div>
    </div>

    <hr>

    <div class="row bot-buffer-5">
      <div class="col-md-6 col-sm-12">
        <%# Amount of hours worked this month %>
        <%= content_tag :strong, t('.total_work_time') %>:
        <%= timespan_human(@time_sheet.sum_minutes) %>
      </div>

      <% monthly_minutes = @time_sheet.monthly_work_minutes %>
      <% if monthly_minutes %>
        <div class="col-md-6 col-sm-12">
          <%# Amount of hours required by the contract per month %>
          <%= content_tag :strong, t('.expected_work_time') %>:
          <%= timespan_human(monthly_minutes) %>
          (<%= number_to_percentage(@time_sheet.percentage_hours_worked, precision: 0) %>
          <%= t('.achieved') %>)
        </div>
        <div class="col-md-6 col-sm-12">
          <%# Amount of hours that still need to be worked this month %>
          <%= content_tag :strong, t('.open_work_time') %>:
          <%= timespan_human(monthly_minutes - @time_sheet.sum_minutes) %>
        </div>
      <% end %>
    </div>

    <hr>
    
    <% if @time_sheet.work_days.any? %>
      <div class="row">
        <div class="col-md-12">
          <table id="work-days" class="table table-hover time_sheet_form">
            <tr>
              <th colspan="2"><%= WorkDay.human_attribute_name(:date) %></th>
              <th><%= t('.time') %></th>
              <th><%= WorkDay.human_attribute_name(:break) %></th>
              <th><%= t('.duration') %></th>
              <th><%= WorkDay.human_attribute_name(:notes) %></th>
              <th style="width:200px;"><%= WorkDay.human_attribute_name(:project) %></th>
              <th><%# Attendance, e.g. ill or public holiday %></th>
            </tr>
            <% @time_sheet.work_days.each do |w| %>
              <tr class="work_day_tr">
                <td><%= l w.date, format: :weekday_short %></td>
                <td><%= l w.date, format: :day_month %></td>
                <td><%= "#{l w.start_time, format: :hours_minutes} &mdash; #{l w.end_time, format: :hours_minutes}".html_safe %></td>
                <td><%= w.break > 0 ? "#{w.break} min" : '---' %></td>
                <td><%= "#{w.duration_hours_minutes} h" %></td>
                <td class="notes"><%= w.notes %></td>
                <td><%= w.project.title %></td>
                <td>
                  <span data-toggle="tooltip" data-placement="top" title="<%= WorkDay.status_mapping[w.status] %>"><%= w.status %></span>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <%= content_tag :strong, t('time_sheets.show.empty_work_days') %>
    <% end %>
  </div>
</div>

<%# Recent activity %>
<%= render partial: "shared/recent_events", locals: {recent_events: @recent_events} %>

<% content_for :actions do %>
  <%# Accept and reject timesheet, sign checkbox %>
  <% if can? :see_wimi_actions, @time_sheet %>
    <%= render 'wimi_actions' %>
  <% end %>
  <%# hand in button, sign checkbox %>
  <%# if (can? :see_hiwi_actions, @time_sheet) and (not @time_sheet.handed_in?) and (@time_sheet.user == current_user) %>
  <% if can? :hand_in, @time_sheet %>
    <%= render 'hand_in' %>
    <hr>
  <% end %>
  <%# Edit %>
  <%= edit_button @time_sheet, class: 'btn-block' %>
  <%# PDF download link %>
  <%= render partial: 'pdf_link', locals: {time_sheet: @time_sheet, btn_text: t('helpers.links.download_pdf'), btn_class: 'btn btn-block btn-info'} %>
  <%# Withdraw timesheet %>
  <%= action_button :withdraw, @time_sheet, class: 'btn-block btn-warning', animate: true %>
  <%# Close and Reopen timesheet %>
  <%= action_button :reopen, @time_sheet, class: 'btn-block btn-default' %>
  <span class="btn-block" data-toggle="tooltip" data-placement="bottom" title="<%= t('dashboard.missing_timesheets.close_tooltip', month: @time_sheet.name) %>">
    <%= action_button :close, @time_sheet, method: :post, class: 'btn-block btn-danger', :data => { confirm: t('helpers.links.confirm_action.message', model: @time_sheet.name, action: t('helpers.links.confirm_action.archive')) } %>
  </span>
  <%# Month switch buttons %>
  <hr>
  <% if @next_month %>
    <%= link_to time_sheet_path(@next_month), class: 'btn btn-block btn-default' do %>
      <%= t('.next_month') %> <i class='fa fa-chevron-right' aria-hidden='true'></i>
    <% end %><%# link_to %>
  <% else %>
    <% if can? :create_next_month, @time_sheet %>
      <% date = @time_sheet.next_date %>
      <%= link_to t('.create_next_month'), new_contract_time_sheet_path(@time_sheet.contract, month: date[:month], year: date[:year]), class: 'btn btn-block btn-success' %>
    <% end %>
  <% end %>
  <% if @previous_month %>
    <%= link_to time_sheet_path(@previous_month), class: 'btn btn-block btn-default' do %>
      <i class='fa fa-chevron-left' aria-hidden='true'></i> <%= t('.previous_month') %>
    <% end %><%# link_to %>
  <% end %>
<% end %><%# content_for :actions do %>

<% content_for :modals do %>
  <%= render partial: 'download_prompt', locals: {url: download_time_sheet_path(@time_sheet)} %>
<% end %>
