<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @time_sheet.user.last_name %> <%= l @time_sheet.first_day , format: :short_month_year %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <% total_time = @time_sheet.sum_minutes %>
          <strong><%= t('.total_work_time')%>:</strong>
          <%= t('.time_format', hours: total_time / 60, minutes: total_time % 60) %>
        </p>
        <p>
          <strong><%= model_class.human_attribute_name(:handed_in) %>:</strong>
          <%= t @time_sheet.handed_in.to_s %> <%= "(#{l @time_sheet.hand_in_date})" if @time_sheet.hand_in_date %>
        </p>
        <p>
          <strong><%= model_class.human_attribute_name(:status) %>:</strong>
          <% label_type = {"created" => "default", "pending" => "primary", "accepted" => "success", "rejected" => "danger"}[@time_sheet.status] %>
          <span class="label label-<%= label_type %>"><%= t("activerecord.attributes.time_sheet.status_enum.#{@time_sheet.status}") %></span>
        </p>
      </div>
    </div>
    <%= render partial: 'form', locals: {readonly: true, disable_date: true} %>
    <%= render 'show_footer' %>
  </div>
</div>

<% content_for :actions do %>
  <%= edit_button @time_sheet, class: 'btn-block' %>
  <%= delete_button @time_sheet, class: 'btn-block', confirm: t('time_sheet.delete') %>

  <% if @next_month %>
    <%= link_to t('.next_month'), time_sheet_path(@next_month), class: 'btn btn-block btn-default' %>
  <% else %>
    <% if can? :create_next_month, @time_sheet %>
      <% date = @time_sheet.next_date %>
      <%= link_to t('.create_next_month'), new_contract_time_sheet_path(@time_sheet.contract, month: date[:month], year: date[:year]), class: 'btn btn-block btn-default' %>
    <% end %>
  <% end %>

  <% if @previous_month %>
    <%= link_to t('.previous_month'), time_sheet_path(@previous_month), class: 'btn btn-block btn-default' %>
  <% end %>

  <%= action_button :withdraw, @time_sheet , class: 'btn-block btn-warning'%>
<% end %>
