<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @time_sheet.user.last_name %> <%= l @time_sheet.first_day , format: :short_month_year %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong><%= model_class.human_attribute_name(:status) %>:</strong>
          <% label_type = {"created" => "default", "pending" => "primary", "accepted" => "success", "rejected" => "danger"}[@time_sheet.status] %>
          <span class="label label-<%= label_type %>"><%= t("activerecord.attributes.time_sheet.status_enum.#{@time_sheet.status}") %></span>
        </p>
        <% if @time_sheet.status.in?(['accepted', 'rejected']) %>
          <p>
            <%# i18n-tasks-use t('time_sheets.show.accepted_by') %>
            <%# i18n-tasks-use t('time_sheets.show.rejected_by') %>
            <strong><%= t(".#{@time_sheet.status}_by") %>:</strong>
            <%# TimeSheet#signer is simple integer, no belongs_to %>
            <%= linked_name User.find(@time_sheet.signer) %>
            <%= t('.at').downcase %>
            <%= content_tag :span, l(@time_sheet.last_modified) %>
          </p>
          <% if @time_sheet.status == 'rejected' %>
            <p>
              <strong><%= t('.reject_reason') %>:</strong>
              <%= content_tag :span, @time_sheet.rejection_message %>
            </p>
          <% end %>
        <% end %>
        <p>
          <strong><%= model_class.human_attribute_name(:handed_in) %>:</strong>
          <%= t @time_sheet.handed_in.to_s %> <%= "(#{l @time_sheet.hand_in_date})" if @time_sheet.hand_in_date %>
        </p>
        <% if @time_sheet.status.in? ['pending', 'accepted'] %>
          <p>
            <%# signed by hiwi status %>
            <%= t(".hiwi_signed_#{@time_sheet.signed}_html") %>
          </p>
        <% end %>
        <hr>
        <p>
          <%# Amount of hours worked this month %>
          <strong><%= t('.total_work_time')%>:</strong>
          <%= timespan_human(@time_sheet.sum_minutes) %>
        </p>
        <% monthly_minutes = @time_sheet.monthly_work_minutes %>
        <% if monthly_minutes %>
          <p>
            <%# Amount of hours required by the contract per month %>
            <strong><%= t('.expected_work_time') %>:</strong>
            <%= timespan_human(monthly_minutes) %>
            (<%= number_to_percentage(@time_sheet.percentage_hours_worked, precision: 0) %>
            <%= t('.achieved') %>)
          </p>
          <p>
            <%# Amount of hours that still need to be worked this month %>
            <strong><%= t('.open_work_time') %>:</strong>
            <%= timespan_human(monthly_minutes - @time_sheet.sum_minutes) %>
          </p>
        <% end %>
      </div>
    </div>
    <%= render partial: 'form', locals: {readonly: true, disable_date: true} %>
  </div>
</div>

<% content_for :actions do %>
  <%# Accept and reject timesheet, sign checkbox %>
  <% if can? :see_wimi_actions, @time_sheet %>
    <%= render 'wimi_actions' %>
  <% end %>
  <%# hand in button, sign checkbox %>
  <% if (can? :see_hiwi_actions, @time_sheet) and (not @time_sheet.handed_in?) and (@time_sheet.user == current_user) %>
    <%= render 'hand_in' %>
    <hr>
  <% end %>
  <%# Edit %>
  <%= edit_button @time_sheet, class: 'btn-block' %>
  <%# Download PDF %>
  <% if @time_sheet.has_comments? %>
    <%= link_to t('helpers.links.download_pdf'), "", id: "open-popup", data: { toggle: "modal", target: "#download-pdf-modal", timesheet: @time_sheet.id}, class: 'btn btn-block btn-info'%>
  <% else %>
    <%= link_to t('helpers.links.download_pdf'), download_time_sheet_path(@time_sheet), class: 'btn btn-block btn-info' %>
  <% end %>
  <%# Withdraw timesheet %>
  <%= action_button :withdraw, @time_sheet , class: 'btn-block btn-warning'%>
  <%# Month switch buttons %>
  <hr>
  <% if @next_month %>
    <%= link_to time_sheet_path(@next_month), class: 'btn btn-block btn-default' do %>
      <%= t('.next_month') %> <i class='fa fa-chevron-right' aria-hidden='true'></i>
    <% end %><%# link_to %>
  <% else %>
    <% if can? :create_next_month, @time_sheet %>
      <% date = @time_sheet.next_date %>
      <%= link_to t('.create_next_month'), new_contract_time_sheet_path(@time_sheet.contract, month: date[:month], year: date[:year]), class: 'btn btn-block btn-success' %>
    <% end %>
  <% end %>
  <% if @previous_month %>
    <%= link_to time_sheet_path(@previous_month), class: 'btn btn-block btn-default' do %>
      <i class='fa fa-chevron-left' aria-hidden='true'></i> <%= t('.previous_month') %>
    <% end %><%# link_to %>
  <% end %>
<% end %><%# content_for :actions do %>

<% content_for :modals do %>
  <%= render partial: 'download_prompt', locals: {url: download_time_sheet_path(@time_sheet)} %>
<% end %>
