<%- model_class = TimeSheet -%>
<div class="col-md-12">
  <div class="display">
    <div class="page-header">
      <div class="h1">
        <%= model_class.model_name.human.titleize %> <%= @time_sheet.user.last_name %> <%= l @time_sheet.first_day , format: :short_month_year %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong><%= model_class.human_attribute_name(:status) %>:</strong>
          <% label_type = {"created" => "default", "pending" => "primary", "accepted" => "success", "rejected" => "danger"}[@time_sheet.status] %>
          <span class="label label-<%= label_type %>"><%= t("activerecord.attributes.time_sheet.status_enum.#{@time_sheet.status}") %></span>
        </p>
        <% if @time_sheet.status.in?(['accepted', 'rejected']) %>
          <p>
            <strong><%= t("time_sheets.show_footer.#{@time_sheet.status}_by") %>:</strong>
            <%# TimeSheet#signer is simple integer, no belongs_to %>
            <%= linked_name User.find(@time_sheet.signer) %>
            <%= t('time_sheets.show_footer.at').downcase %>
            <%= content_tag :span, l(@time_sheet.last_modified) %>
          </p>
          <% if @time_sheet.status == 'rejected' %>
            <p>
              <strong><%= t('time_sheets.show_footer.reject_reason') %>:</strong>
              <%= content_tag :span, @time_sheet.rejection_message %>
            </p>
          <% end %>
        <% end %>
        <hr>
        <p>
          <strong><%= model_class.human_attribute_name(:handed_in) %>:</strong>
          <%= t @time_sheet.handed_in.to_s %> <%= "(#{l @time_sheet.hand_in_date})" if @time_sheet.hand_in_date %>
        </p>
        <p>
          <% total_time = @time_sheet.sum_minutes %>
          <strong><%= t('.total_work_time')%>:</strong>
          <%= t('.time_format', hours: total_time / 60, minutes: total_time % 60) %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <tr>
            <th colspan="2"><%= t('activerecord.attributes.work_day.date') %></th>
            <th><%= t('activerecord.attributes.work_day.start_time') %></th>
            <th><%= t('activerecord.attributes.work_day.break') %></th>
            <th><%= t('activerecord.attributes.work_day.end_time') %></th>
            <th><%= t('activerecord.attributes.work_day.notes') %></th>
            <th style="width:200px;"><%= t('activerecord.attributes.work_day.project') %></th>
            <th><%= t('activerecord.attributes.work_day.attendance') %></th>
          </tr>
          <%= @time_sheet.work_days.each do |w| %>
            <tr class="work_day_tr">
              <td>
                <%= l w.date, format: :weekday_short %>
              </td>
              <td>
                <%= l w.date, format: :day_month %>
              </td>
              <td>
                <%= l w.start_time, format: :hours_minutes %>
              </td>
              <td>
                <%= w.break %>
              </td>
              <td>
                <%= l w.end_time, format: :hours_minutes %>
              </td>
              <td class="notes">
                <%= w.notes %>
              </td>
              <td>
                <%= w.project.title %>
              </td>
              <td>
                <%= w.status %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :actions do %>
  <%# Accept and reject timesheet, sign checkbox %>
  <% if can? :see_wimi_actions, @time_sheet %>
    <%= render 'wimi_actions' %>
  <% end %>
  <%# hand in button, sign checkbox %>
  <% if (can? :see_hiwi_actions, @time_sheet) and (not @time_sheet.handed_in?) and (@time_sheet.user == current_user) %>
    <%= render 'hand_in' %>
    <hr>
  <% end %>
  <%# Edit %>
  <%= edit_button @time_sheet, class: 'btn-block' %>
  <%# Download PDF %>
  <% if @time_sheet.has_comments? %>
    <%= link_to t('helpers.links.download_pdf'), "", id: "open-popup", data: { toggle: "modal", target: "#download-pdf-modal", timesheet: @time_sheet.id}, class: 'btn btn-block btn-info'%>
  <% else %>
    <%= link_to t('helpers.links.download_pdf'), download_time_sheet_path(@time_sheet), class: 'btn btn-block btn-info' %>
  <% end %>
  <%# Withdraw timesheet %>
  <%= action_button :withdraw, @time_sheet , class: 'btn-block btn-warning'%>
  <%# Month switch buttons %>
  <hr>
  <% if @next_month %>
    <%= link_to t('.next_month'), time_sheet_path(@next_month), class: 'btn btn-block btn-default' %>
  <% else %>
    <% if can? :create_next_month, @time_sheet %>
      <% date = @time_sheet.next_date %>
      <%= link_to t('.create_next_month'), new_contract_time_sheet_path(@time_sheet.contract, month: date[:month], year: date[:year]), class: 'btn btn-block btn-success' %>
    <% end %>
  <% end %>
  <% if @previous_month %>
    <%= link_to t('.previous_month'), time_sheet_path(@previous_month), class: 'btn btn-block btn-default' %>
  <% end %>
<% end %><%# content_for :actions do %>

<% content_for :modals do %>
  <%= render partial: 'download_prompt', locals: {url: download_time_sheet_path(@time_sheet)} %>
<% end %>
