<%- model_class = ProjectApplication -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:project) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%=t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @project_applications.each do |project_application| %>
      <tr>
        <td><%= link_to project_application.project.title, project_path(project_application.project_id) %></td>
          <% case project_application.status %>
            <% when "pending" %>
              <td>
                <span class="label label-xs label-info"><%= project_application.status %></span>
              </td>
              <td>
                <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  project_application_path(project_application),
                  method: :delete,
                  data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                  class: 'btn btn-danger btn-xs' %>
              </td>
            <% when "accepted" %>
              <td>
                <span class="label label-xs label-success"><%= project_application.status %></span>
              </td>
              <td></td>
            <% when "declined"%>
                <td>
                  <span class="label label-xs label-danger"><%= project_application.status %></span>
                </td>
                <td>
                  <%= link_to t('.reapply', default: t("helpers.links.reapply")),
                              reapply_project_application_path(project_application), class: 'btn btn-primary btn-xs' %>
                </td>
          <% end %>
      </tr>
  <% end %>
  </tbody>
</table>