<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chair_admin.user %>
</p>

<p>
  <strong>Chair:</strong>
  <%= @chair_admin.chair %>
</p>

<%= link_to 'Edit', edit_chair_admin_path(@chair_admin) %> |
<%= link_to 'Back', chair_admins_path %>
