<li>Date: <%= travel_expense_report_item.date.strftime("%d.%m.%Y") %> F: <%= travel_expense_report_item.breakfast %> M: <%= travel_expense_report_item.lunch %> A: <%= travel_expense_report_item.dinner %> Description: <%= travel_expense_report_item.annotation %></li>
