<%- model_class = TravelExpenseReportItem -%>
<li>
  <%= model_class.human_attribute_name(:date) %>: <%= l travel_expense_report_item.date %>
  <%= model_class.human_attribute_name(:breakfast) %>: <%= travel_expense_report_item.breakfast %>
  <%= model_class.human_attribute_name(:lunch) %>: <%= travel_expense_report_item.lunch %>
  <%= model_class.human_attribute_name(:dinner) %>: <%= travel_expense_report_item.dinner %>
  <%= model_class.human_attribute_name(:annotation) %>: <%= travel_expense_report_item.annotation %>
</li>
