<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.inland') %>:</strong>
  <%= t(expense.inland.to_s) %>
</p>

<p>
  <strong><%= t('.country') %>:</strong>
  <%= expense.country %>
</p>

<p>
  <strong><%= t('.location_from') %>:</strong>
  <%= expense.location_from %>
</p>

<p>
  <strong><%= t('.location_via') %>:</strong>
  <%= expense.location_via %>
</p>

<p>
  <strong><%= t('.location_to') %>:</strong>
  <%= expense.location_to %>
</p>

<p>
  <strong><%= t('.reason') %>:</strong>
  <%= expense.reason %>
</p>

<p>
  <strong><%= t('.time_start') %>:</strong>
  <%= expense.time_start %>
</p>
<p>
  <strong><%= t('.time_end') %>:</strong>
  <%= expense.time_end %>
</p>

<p>
  <strong><%= t('.car') %>:</strong>
  <%= t(expense.car.to_s) %>
</p>

<p>
  <strong><%= t('.public_transport') %>:</strong>
  <%= t(expense.public_transport.to_s) %>
</p>

<p>
  <strong><%= t('.vehicle_advance') %>:</strong>
  <%= t(expense.vehicle_advance.to_s) %>
</p>

<p>
  <strong><%= t('.hotel') %>:</strong>
  <%= t(expense.hotel.to_s) %>
</p>

<p>
  <strong><%= t('.general_advance') %>:</strong>
  <%= expense.general_advance %>
</p>

<p>
  <strong><%= t('.signature') %>:</strong>
  <%= t(expense.signature.to_s) %>
</p>

<ul>
  <%= render expense.expense_items.order(:date) %>
</ul>
