<%- model_class = Expense -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @expense.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purpose) %>:</strong></dt>
  <dd><%= @expense.purpose %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><%= @expense.comment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @expense.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= @expense.project_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trip_id) %>:</strong></dt>
  <dd><%= @expense.trip_id %></dd>
</dl>

<%= link_to t('.back', default: t("helpers.links.back")),
              expenses_path, class: 'btn btn-default'  %>
<%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_expense_path(@expense), class: 'btn btn-default' %>
<%= link_to t('.destroy', default: t("helpers.links.destroy")),
              expense_path(@expense),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
