<%= form_for @user, url: {action: "update"}, :html => { :class => "form-horizontal" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

   <div class="col-md-12" style="margin-top: 20px">
     <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
          <%= label_tag('first Name', 'First Name', class: 'control-label') %>
          </h3>
        </div>
        <div class="panel-body">
          <%= f.text_field :first, :class => 'form-control' %>
          <%= error_span(@user[:first]) %>
        </div>
      </div>
     </div>
   </div>

    <div class="col-md-12" style="margin-top: 20px">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= label_tag('last Name', 'Last Name', class: 'control-label') %>
            </h3>
          </div>
          <div class="panel-body">
            <%= f.text_field :last_name, :class => 'form-control' %>
            <%= error_span(@user[:last_name]) %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top: 20px">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= label_tag('email', 'E-Mail', class: 'control-label') %>
            </h3>
          </div>
          <div class="panel-body">
            <% if @user.email.blank? %>
                <%= f.text_field :email, :class => 'form-control' %>
            <% else %>
                <%= label_tag @user.email %>
            <% end %>
            <%= error_span(@user[:email]) %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6" style="margin-left: 15px">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>

<% end %>