<p id="notice"><%= notice %></p>

<h1>Listing Chair Wimis</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chair</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chair_wimis.each do |chair_wimi| %>
      <tr>
        <td><%= chair_wimi.user %></td>
        <td><%= chair_wimi.chair %></td>
        <td><%= link_to 'Show', chair_wimi %></td>
        <td><%= link_to 'Edit', edit_chair_wimi_path(chair_wimi) %></td>
        <td><%= link_to 'Destroy', chair_wimi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chair wimi', new_chair_wimi_path %>
