<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chair_wimi.user %>
</p>

<p>
  <strong>Chair:</strong>
  <%= @chair_wimi.chair %>
</p>

<%= link_to 'Edit', edit_chair_wimi_path(@chair_wimi) %> |
<%= link_to 'Back', chair_wimis_path %>
