<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chairs_wimi.user %>
</p>

<p>
  <strong>Chair:</strong>
  <%= @chairs_wimi.chair %>
</p>

<%= link_to 'Edit', edit_chairs_wimi_path(@chairs_wimi) %> |
<%= link_to 'Back', chairs_wimis_path %>
