<%= form_for([@trip,@travel_expense_report]) do |f| %>
    <% if @travel_expense_report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@travel_expense_report.errors.count, "error") %> prohibited this travel_expense_report from being saved:</h2>

          <ul>
            <% @travel_expense_report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :advance %><br>
      <%= f.number_field :advance %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
