<h1>Editing Travel Expense Report</h1>

<%= form_for([@trip,@travel_expense_report]) do |f| %>
    <% if @travel_expense_report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@travel_expense_report.errors.count, "error") %> prohibited this travel_expense_report from being saved:</h2>

          <ul>
            <% @travel_expense_report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :advance %><br>
      <%= f.number_field :advance %>
    </div>
<p>
  <strong>Expenses:</strong>
</p>
<table class="table table-striped">
  <tr>
    <th>
      <strong>Amount</strong>
    </th>
    <th>
      <strong>Purpose</strong>
    </th>
    <th>

    </th>
  </tr>
  <%= render @travel_expense_report.ter_items %>
  <% @ter_item= @travel_expense_report.ter_items.build %>
  <%= f.fields_for @ter_item do |ter_items_form| %>
      <% if @ter_item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ter_item.errors.count, "error") %> prohibited this ter_item from being saved:</h2>

            <ul>
              <% @ter_item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <tr>
        <td>
            <%= ter_items_form.number_field :amount %>
        </td>
        <td>
            <%= ter_items_form.text_field :purpose %>
        </td>
      </tr>
  <% end %>
</table>

    <div class="actions">
      <%= f.submit 'Save', :class => "btn btn-primary"%>
    </div>
<% end %>
<%= link_to 'Cancel', trip_travel_expense_report_path(@trip,@travel_expense_report), :class => "btn btn-primary" %> |
<%= link_to 'Back', trip_travel_expense_reports_path(@trip), :class => "btn btn-primary" %>
