<p id="notice"><%= notice %></p>

<h1>Listing Travel Expense Reports</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Inland</th>
      <th>Country</th>
      <th>Location from</th>
      <th>Location via</th>
      <th>Location to</th>
      <th>Reason</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Car</th>
      <th>Public transport</th>
      <th>Vehicle advance</th>
      <th>Hotel</th>
      <th>General advance</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_expense_reports.each do |travel_expense_report| %>
      <tr>
        <td><%= travel_expense_report.first_name %></td>
        <td><%= travel_expense_report.last_name %></td>
        <td><%= travel_expense_report.inland %></td>
        <td><%= travel_expense_report.country %></td>
        <td><%= travel_expense_report.location_from %></td>
        <td><%= travel_expense_report.location_via %></td>
        <td><%= travel_expense_report.location_to %></td>
        <td><%= travel_expense_report.reason %></td>
        <td><%= travel_expense_report.date_start %></td>
        <td><%= travel_expense_report.date_end %></td>
        <td><%= travel_expense_report.car %></td>
        <td><%= travel_expense_report.public_transport %></td>
        <td><%= travel_expense_report.vehicle_advance %></td>
        <td><%= travel_expense_report.hotel %></td>
        <td><%= travel_expense_report.general_advance %></td>
        <td><%= travel_expense_report.user %></td>
        <td><%= link_to 'Show', travel_expense_report %></td>
        <td><%= link_to 'Edit', edit_travel_expense_report_path(travel_expense_report) %></td>
        <td><%= link_to 'Destroy', travel_expense_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel expense report', new_travel_expense_report_path %>
