<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.inland') %>:</strong>
  <%= @travel_expense_report.inland %>
</p>

<p>
  <strong><%= t('.country') %>:</strong>
  <%= @travel_expense_report.country %>
</p>

<p>
  <strong><%= t('.location_from') %>:</strong>
  <%= @travel_expense_report.location_from %>
</p>

<p>
  <strong><%= t('.location_via') %>:</strong>
  <%= @travel_expense_report.location_via %>
</p>

<p>
  <strong><%= t('.location_to') %>:</strong>
  <%= @travel_expense_report.location_to %>
</p>

<p>
  <strong><%= t('.reason') %>:</strong>
  <%= @travel_expense_report.reason %>
</p>

<p>
  <strong><%= t('.date_start') %>:</strong>
  <%= @travel_expense_report.date_start %>
</p>

<p>
  <strong><%= t('.date_end') %>:</strong>
  <%= @travel_expense_report.date_end %>
</p>

<p>
  <strong><%= t('.car') %>:</strong>
  <%= @travel_expense_report.car %>
</p>

<p>
  <strong><%= t('.public_transport') %>:</strong>
  <%= @travel_expense_report.public_transport %>
</p>

<p>
  <strong><%= t('.vehicle_advance') %>:</strong>
  <%= @travel_expense_report.vehicle_advance %>
</p>

<p>
  <strong><%= t('.hotel') %>:</strong>
  <%= @travel_expense_report.hotel %>
</p>

<p>
  <strong><%= t('.general_advance') %>:</strong>
  <%= @travel_expense_report.general_advance %>
</p>

<p>
  <strong><%= t('.signature') %>:</strong>
  <%= @travel_expense_report.signature %>
</p>
<ul>
  <%= render @travel_expense_report.travel_expense_report_items %>
</ul>

<%= link_to t('helpers.links.edit'), edit_travel_expense_report_path(@travel_expense_report) , :class => "btn btn-default btn-xs"%> |
<%= link_to t('helpers.links.back'), travel_expense_reports_path , :class => "btn btn-default btn-xs"%> |
<%= link_to t('helpers.links.show_pdf'), generate_pdf_path(:doc_type => 'Reisekostenabrechnung', :doc_id => @travel_expense_report) , :class => "btn btn-success btn-xs"%>
