<%= form_for(@work_day) do |f| %>

  <%= render partial: "shared/form_validation_errors", locals: {object: @work_day} %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <% I18n.locale.to_s == 'en' ? format = 'mm/dd/yyyy' : format = 'dd.mm.yyyy' %>
        <%= f.label :date, class: 'control-label' %><span style="color: red">*</span>
        <%= f.text_field :date, required: true, class: 'form-control', 'data-provide': "datepicker", 'data-date-orientation': "bottom auto", 'data-date-format': format, 'data-date-autoclose': true, 'data-date-language': I18n.locale, value: @work_day.date ? l(@work_day.date) : nil , placeholder: t('trips.form.date') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group <%= 'has-error' if @work_day.errors[:start_time].any? %>">
        <%= f.label :start_time, class: 'control-label' %><span style="color: red">*</span><br>
        <%= f.time_select :start_time, {}, class: "form-control time-select" %>
        <%= content_tag :span, @work_day.errors[:start_time].join(', '), :class => "help-block" if @work_day.errors[:start_time].any? %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group <%= 'has-error' if @work_day.errors[:break].any? %>">
        <%= f.label :break, class: 'control-label'  %> (<%= t'.minutes' %>) <span style="color: red">*</span>
        <%= f.number_field :break, value: 0, class: "form-control"%>
        <%= content_tag :span, @work_day.errors[:break].join(', '), :class => "help-block" if @work_day.errors[:break].any? %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group <%= 'has-error' if @work_day.errors[:end_time].any? %>">
        <%= f.label :end_time, class: 'control-label'  %><span style="color: red">*</span> <br>
        <%= f.time_select :end_time, {}, class: "form-control time-select" %>
        <%= content_tag :span, @work_day.errors[:end_time].join(', '), :class => "help-block" if @work_day.errors[:end_time].any? %>
        <%= content_tag :span, @work_day.errors[:duration].join(', '), :class => "help-block" if @work_day.errors[:duration].any? %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :attendance, class: 'control-label'  %>
        <%= f.select :attendance, [['Normal', ''], ['Ill', 'K'], ['Holiday', 'F'], ['Leave Day', 'U']], {}, {class: "form-control"} %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :project, class: 'control-label' %>
        <%= collection_select :work_day, :project_id, current_user.projects, :id, :title, {selected: @work_day.project_id}, class: "form-control"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :notes, class: 'control-label'  %>
        <%= f.text_field :notes, class: "form-control" %>
      </div>
        <div align="right">
          <span style="color: red">* <%= t'helpers.forms.required_field'%></span>
        </div>
    </div>
  </div>
  <%= f.submit nil, class:"btn btn-success btn-block"%>
<% end %>
