<%- model_class = WorkDay -%>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    <%= t('.working_hours_for')%> <%=l Date.new(@year,@month,1), format: :without_day %>
    <%unless @project.nil?%>
      <%= @project.title %>
    <%end%>
    <% unless @time_sheet.nil? %>
      <%= t('.by') + ' ' + User.find(@time_sheet.user_id).name %>
      <% if @time_sheet.user_id == current_user.id && !@time_sheet.handed_in? %>
      <div align = "right">
        <%= link_to t('.new'), new_work_day_path, class: 'btn btn-primary' %>
      </div>
      <% end %>
    <% else %>
        <%= link_to t('.new'), new_work_day_path, class: 'btn btn-primary' %>
    <% end %>
  </h1>
</div>

<% unless @time_sheet.nil? %>
  <%= render "time_sheets/show"%>
<% end %>

<table  class="table table-striped">
  <thead>
    <tr>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:start_time) %></th>
        <th><%= model_class.human_attribute_name(:break) %></th>
        <th><%= model_class.human_attribute_name(:end_time) %></th>
        <th><%= model_class.human_attribute_name(:duration) %></th>
        <th>*</th>
        <th><%= model_class.human_attribute_name(:notes) %></th>
    </tr>
  </thead>

  <tbody>
    <% @work_days.each do |work_day| %>
      <tr>
          <td><%=l work_day.date %></td>
          <td><%=l work_day.start_time.strftime('%H:%M') %></td>
          <td><%= work_day.break %>min</td>
          <td><%=l work_day.end_time.strftime('%H:%M') %></td>
          <td><%= work_day.duration %>h</td>
          <td><%= work_day.attendance %></td>
          <td><%= work_day.notes %></td>
          <td>
            <% if work_day.user_id == current_user.id && (@time_sheet.nil? ? true : @time_sheet.handed_in == false)%>
              <%= link_to t('.edit', default: t("helpers.links.edit")),
                  edit_work_day_path(work_day), class: 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                          work_day_path(work_day),
                          method: :delete,
                          data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                          class: 'btn btn-xs btn-danger' %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% unless @time_sheet.nil? %>
  <%= render "time_sheets/show_footer" %>
<% end %>