<%- model_class = WorkDay -%>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    Working Hours for <%= Date::MONTHNAMES[@month] + ' ' + @year.to_s %>
    <%if not @project.nil?%>
      <%= ' for ' + @project.title%>
    <%end%>
    <% unless @time_sheet.nil? %>
      <%= ' by ' + @time_sheet.user.name%>
    <% end %>
  </h1>
</div>

<% unless @time_sheet.nil? %>
  <%= render "time_sheets/show"%>
<% end %>

<table  class="table table-striped">
  <thead>
    <tr>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:start_time) %></th>
        <th><%= model_class.human_attribute_name(:break) %></th>
        <th><%= model_class.human_attribute_name(:end_time) %></th>
        <th><%= model_class.human_attribute_name(:duration) %></th>
        <th>*</th>
        <th><%= model_class.human_attribute_name(:notes) %></th>
    </tr>
  </thead>

  <tbody>
    <% @work_days.each do |work_day| %>
      <tr>
          <td><%= work_day.date %></td>
          <td><%= work_day.start_time.strftime('%H:%M') %></td>
          <td><%= work_day.break %>min</td>
          <td><%= work_day.end_time.strftime('%H:%M') %></td>
          <td><%= work_day.duration %>min</td>
          <td><%= work_day.attendance %></td>
          <td><%= work_day.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="form-group">
  <% unless @time_sheet.nil? %>
    <% if @time_sheet.handed_in? %>
      Acceptence requested on: <%= @time_sheet.haned_in_date %><br>
      Was signed by requester: <%= @time_sheet.signed %><br>
    <% end %>
  <% end %>
</div>
<br>
<div class="form-group">
  <%= link_to "New", new_work_day_path, class: 'btn btn-primary' %>
  <%= link_to "Export as PDF", "#", :class => 'btn btn-primary' %><br>
  <br>
  <% unless @time_sheet.nil? %>
    <%= link_to "Sign", "#", :class => 'btn btn-primary' %>
    <%= link_to "Accept", @time_sheet.accepted = true, :class => 'btn btn-primary' %>
  <% end %>
</div>  
