<%- model_class = WorkDay -%>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    Working Hours for <%= Date::MONTHNAMES[@month] + ' ' + @year.to_s %>
    <%unless @project.nil?%>
      <%= ' for ' + @project.title%>
    <%end%>
    <% unless @time_sheet.nil? %>
      <%= ' by ' + @time_sheet.user.name%>
    <% end %>
  </h1>
</div>

<<<<<<< HEAD
<% unless @time_sheet.nil? %>
=======
<%unless @time_sheet.nil?%>
>>>>>>> dev
  <%= render "time_sheets/show"%>
<% end %>

<table  class="table table-striped">
  <thead>
    <tr>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:start_time) %></th>
        <th><%= model_class.human_attribute_name(:break) %></th>
        <th><%= model_class.human_attribute_name(:end_time) %></th>
        <th><%= model_class.human_attribute_name(:duration) %></th>
        <th>*</th>
        <th><%= model_class.human_attribute_name(:notes) %></th>
    </tr>
  </thead>

  <tbody>
    <% @work_days.each do |work_day| %>
      <tr>
          <td><%= work_day.date %></td>
          <td><%= work_day.start_time.strftime('%H:%M') %></td>
          <td><%= work_day.break %>min</td>
          <td><%= work_day.end_time.strftime('%H:%M') %></td>
          <td><%= work_day.duration %>min</td>
          <td><%= work_day.attendance %></td>
          <td><%= work_day.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="form-group">
  <% if @time_sheet.user_id == current_user.id && !@time_sheet.handed_in? %>
    <%= link_to "New", new_work_day_path, class: 'btn btn-primary' %>
  <% end %>
  <br>
  <br>
  <br>
  <% unless @time_sheet.nil? %>
    <% if !@time_sheet.nil? && current_user.is_wimi? && @time_sheet.handed_in? %>
        Acceptence requested at: <%= @time_sheet.last_modified %><br>
        Status: <%= @time_sheet.status %><br>
      <% if @time_sheet.status.include? 'pending' %>
        <%= link_to "Sign", {method: :show_add_signature_prompt, method:@time_sheet.update_attribute(:status, 1), method: @time_sheet.update_attribute(:last_modified, Date.today), method: @time_sheet.update_attribute(:signer, current_user.id), remote: true}, class: 'btn btn-primary' %>
        <%= link_to "Reject", {method: @time_sheet.update_attribute(:status, 2), method: @time_sheet.update_attribute(:last_modified, Date.today), method: @time_sheet.update_attribute(:signer, current_user.id), remote: true}, class: 'btn btn-primary' %>
        <% end %>
    <% else %>
      <% if @time_sheet.handed_in? %>
        <% if @time_sheet.status.include? 'pending' %>
          <%= 'Handed in at ' + @time_sheet.last_modified.to_s + ' status: ' + @time_sheet.status %><br> 
          <%= link_to "Export as PDF", "#", class: 'btn btn-primary' %><br>
        <% end %>
        <% if @time_sheet.status.include? 'accepted' %>
          <%= 'Accepted by ' + User.find(@time_sheet.signer).name + ' at ' + @time_sheet.last_modified %><br>
          <%= link_to "Export as PDF", "#", class: 'btn btn-primary' %><br>
        <% end %>
        <% if @time_sheet.status.include? 'rejected' %>
          <%= 'Rejected by ' + User.find(@time_sheet.signer).name + ' at ' + @time_sheet.last_modified %>
        <% end %>
      <% else %>
        <%= link_to "Sign", {method: :show_add_signature_prompt, method: @time_sheet.update_attribute(:handed_in, true), method: @time_sheet.update_attribute(:last_modified, Date.today), remote: true}, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  <% end %>
</div>  
