<nav class="navbar navbar-default navbar-fixed-top navbar-offset navbar-shadow">
  <%= nav_bar fixed: :top, brand: 'HPI WiMi-Portal', responsive: true do %>
    <%# pull left %>
    <%= menu_group pull: :left do %>
      <% if user_signed_in? %>
        <%= menu_item 'Dashboard', dashboard_path %>
      <% end %>
    <% end %>
    <%# pull right %>
    <%= menu_group pull: :right do %>
      <% if user_signed_in? %>

        <%# User overview for admins %>
        <% if can? :index, User %>
          <%= menu_item t('activerecord.models.user.other').titleize, users_path %>
        <% end %>

        <%# TimeSheet overview %>
        <% if can? :index, TimeSheet %>
          <%= menu_item t('activerecord.models.time_sheet.other').titleize, time_sheets_path %>
        <% end %>

        <%# Project overview %>
        <% if can? :index, Project %>
          <% projects = Project.accessible_by(current_ability) %>
          <% if projects.count == 1 %>
            <%= menu_item t('activerecord.models.project.one').titleize, project_path(projects.first) %>
          <% elsif projects.count > 1 %>
            <%= menu_item t('activerecord.models.project.other').titleize, projects_path %>
          <% end %>
        <% end %>

        <%# Chair links %>
        <% unless current_user.is_superadmin? %>
          <% chairs = current_user.all_chairs %>
          <% if chairs.count == 1 %>
            <%# Single link if there is only one chair %>
            <%= menu_item t('activerecord.models.chair.one').titleize, chair_path(chairs.first) %>
          <% elsif chairs.count > 1 %>
            <%# Drop-down menu otherwise %>
            <%= drop_down t('activerecord.models.chair.other').titleize do %>
              <% chairs.each do |chair| %>
                <%= menu_item chair.name, chair_path(chair) %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%# Superadmins aren't part of chairs, but get to see them all anyway %>
          <%= menu_item t('activerecord.models.chair.other').titleize, chairs_path %>
        <% end %>

        <%# Contract overview %>
        <% unless Contract.accessible_by(current_ability).empty? %>
          <%= menu_item t('activerecord.models.contract.other').titleize, contracts_path %>
        <% end %>

        <%# Language switcher %>
        <%= form_for current_user, html: {class: 'navbar-form pull-left', id: 'languageForm'} do |f| -%>
          <%= f.select :language, User::LANGUAGES, {selected: current_user.language}, {class: 'form-control', id: 'languageSelect', onchange: "$('#languageForm').submit();"} %>
        <% end -%>

        <%# Profile link %>
        <%= menu_item t('helpers.application_tabs.profile'), url_for(current_user) %>

        <%# Logout link %>
        <%= menu_item t('helpers.application_tabs.logout'), destroy_user_session_path %>
      <% else %>
        <%# Login links for not signed in users%>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "pull-right"}) do |f| %>
          <%= f.hidden_field :identity_url, value: 'https://openid.hpi.uni-potsdam.de/serve' %>
          <%= f.submit t('helpers.application_tabs.sign_in'), class: 'SignInButton btn btn-primary' %>
          <img src='<%=asset_path 'openid-logo.png' %>' class="openID" />
        <% end %>
        <%= link_to t('helpers.application_tabs.external_sign_in'), external_login_path, class: 'btn btn-default navbar-btn pull-right' %>
      <% end %>
    <% end %>
  <% end %>
</nav>