<!DOCTYPE html>
<html>
<head>
  <title>WimiPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-offset">
  <%= nav_bar fixed: :top, brand: "Wimi Portal", responsive: true do %>
    <%= menu_group do %>
      <%= menu_item t("activerecord.models.chair.other"), chairs_path %>
      <%= menu_item t("activerecord.models.project.other"), projects_path %>
      <%= menu_item t("activerecord.models.publication.other"), publications_path %>
      <%= menu_item t("activerecord.models.trip.other"), trips_path %>
      <%= menu_item t("activerecord.models.holiday.other"), holidays_path %>
      <%= menu_item t("activerecord.models.expense.other"), expenses_path %>
    <% end %>
    <%= menu_group pull: :right do %>
      <% if user_signed_in? %>
          <% unless current_user.chair_wimi == nil %>   
      <%= menu_item "Chair", chair_path(current_user.chair) %>
    <% end %>
        <% unless current_user.email.blank? %>
	        <%= menu_item "#{current_user.email}" %>
          <%= menu_item t("helpers.application_tabs.profile"), url_for(current_user) %>
        <% end %>
        <%= menu_item t("helpers.application_tabs.logout"), destroy_user_session_path %>
      <% else %>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.hidden_field :identity_url, value: "https://openid.hpi.uni-potsdam.de/serve" %>
          <%= f.submit t("helpers.application_tabs.sign_in"), class: "SignInButton btn btn-primary" %>
          <img src='<%=asset_path "openid-logo.png" %>' class="openID" />
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>

<div class="container ">
  <%= render 'shared/flash_messages' %>
  <div class="col-md-12">
    <%= yield %>
  </div>
</div>

<%= yield :modals %>

</body>
</html>
