<!DOCTYPE html>
<html>
<head>
  <title>WimiPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Wimi Portal", responsive: true do %>
  <%= menu_group do %>
      <%= menu_item t("helpers.application_tabs.home"), root_path %>
      <%= menu_item t("activerecord.models.project.other"), projects_path %>
      <%= menu_item t("activerecord.models.publication.other"), publications_path %>
      <%= menu_item t("activerecord.models.trip.other"), trips_path %>
      <%= menu_item t("activerecord.models.holiday.other"), holidays_path %>
      <%= menu_item t("activerecord.models.expense.other"), expenses_path %>
  <% end %>
  <%= menu_group pull: :right do %>
    <% if user_signed_in? %>
      <%= menu_item "#{current_user.email}" %>
      <%= menu_item t("helpers.application_tabs.profile"), url_for(current_user) %>
      <%= menu_item t("helpers.application_tabs.logout"), destroy_user_session_path %>
    <% else %>
      <%= menu_item t("helpers.application_tabs.sign_up"), new_user_registration_path %>
      <%= menu_item t("helpers.application_tabs.login"), new_user_session_path %>
    <% end %>
  <% end %>
<% end %>


<p class="navbar-text pull-right">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <%= yield %>
  </div>
</div>

</body>
</html>
