<!DOCTYPE html>
<html>
<head>
  <title>WimiPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Wimi Portal", responsive: true do %>
  <%= menu_group do %>
      <%= menu_item "Home", root_path %>
      <%= menu_item "Projects", projects_path %>
      <%= menu_item "Publications", publications_path %>
      <%= menu_item "Business Trip", trips_path %>
      <%= menu_item "Holidays", holidays_path %>
      <%= menu_item "Expenses", expenses_path %>
  <% end %>
  <%= menu_group pull: :right do %>
    <% if user_signed_in? %>
      <%= menu_item "#{current_user.email}" %>
      <%= menu_item "Logout", destroy_user_session_path %>
    <% else %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.hidden_field :identity_url, value: "https://openid.hpi.uni-potsdam.de/serve" %>
        <%= f.submit "Sign in", class:"SignInButton btn btn-primary" %>
        <img src='<%=asset_path "openid-logo.png" %>' class="openID" />
    <% end %>
    <% end %>
  <% end %>
<% end %>


<p class="navbar-text pull-right">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <%= yield %>
  </div>
</div>

</body>
</html>
